[2012-03-26 14:51] DanielJWood opened #1 "Bamako, Mali"
From the [Sahel Priorities Wiki](https://github.com/mapbox/mapping/wiki/Sahel-Priorities).

@mayarichman, can you tackle this.
- Take a screenshot of the city using [mapshot](http://mapbox.com/mapshot/#13/13.5370/362.1065), including the entire area that you think you will be editing in. Save only the OSM image.
- Post before shot here.
- Map city.
- Take after [shot](http://mapbox.com/mapshot/#13

[2012-03-26 15:03] DanielJWood opened #2 "Ouagadougou, Burkino Faso"
From the [Sahel Priorities Wiki](https://github.com/mapbox/mapping/wiki/Sahel-Priorities).

@cwlawlis802 , can you tackle this.
- Take a screenshot of the city using [mapshot](http://mapbox.com/mapshot/#13/13.5370/362.1065), including the entire area that you think you will be editing in. Save only the OSM image.
- Post before shot here.
- Map city.
- Take after [shot](http://mapbox.com/mapshot/#1

[2012-03-26 18:04] DanielJWood opened #3 "Timbuktu, Mali"
Timbuktu is very well mapped already but there are some roads to update and add, especially in the older part of town (downtown) and on the outskirts.
- Take a screenshot of the city using [mapshot](http://mapbox.com/mapshot/#13/13.5370/362.1065), including the entire area that you think you will be editing in. Save only the OSM image.
  - Post before shot here.
  - Map city.
  - Take after [shot]

[2012-03-26 18:09] DanielJWood opened #4 "Niamey, Niger"
Check out the city on OSM [here](http://www.openstreetmap.org/?lat=16.77513&lon=-3.00555&zoom=15&layers=M).
- Take a screenshot of the city using [mapshot](http://mapbox.com/mapshot/#13/13.5370/362.1065), including the entire area that you think you will be editing in. Save only the OSM image.
- Post before shot here.
- Map city.
- Take after [shot](http://mapbox.com/mapshot/#13/13.5370/362.1065)

[2012-03-26 18:25] DanielJWood opened #5 "N'Djemena, Chad"
There is some work to be done in N'Djemena, Chad, particularly in the outskirts (North and East) and over the river to the South West. Feel free to switch roads from highway=track to highway=residential or highway=living_street.

Highway=living_street might be better because its what the original mapper called the smaller dirt streets in this city. For our purposes, residential and living_street a

[2012-03-26 21:35] ian29 opened #6 "Afghanistan province names"
The Afghan province names in OSM appear to be from a 2008 import and are tagged weirdly, eg name=Velāyat-e Herāt; name:en=Herat Province.

I think we should update these so that the 'name' tag is the common/short Dari name, and the name:en tag is the common/short English name (with the most popular transliteration spelling). Eg: name=هرات; name:en=Herat.

One thing I'm not sure of is whether the d

[2012-03-28 16:28] #3 closed, assigned to nobody

[2012-03-29 15:40] smit1678 opened #7 "Reclassify Timbuktu"
@DanielJWood - There is a weird [desert classification circle around Timbuktu](http://www.openstreetmap.org/?lat=16.7605&lon=-2.9871&zoom=13&layers=M).

Can you look into why this was done this way and if there is a good way to adjust or get rid of it?

[2012-03-29 16:21] smit1678 opened #8 "Improving Lake Chad"
@jueyang The Lake Chad feature could be improved to capture the swamp and seasonal areas better. Can you research a bit about the lake, how much it has decreased, and how the outline of the lake and any additional classification areas could be improved?
- Only spend an hour or so.
- Take a before and after snapshot.

[2012-03-29 22:39] #7 closed, assigned to DanielJWood

[2012-03-29 22:44] #6 closed, assigned to ian29

[2012-03-30 16:00] ian29 opened #9 "Lagos, Nigeria"
- [most populated city in Africa](http://en.wikipedia.org/wiki/Lagos)
- lots of decent imagery
- very incompletely mapped

![](https://img.skitch.com/20120330-gapbuutw27h7pxbgs878uxmpp8.jpg)

![](https://img.skitch.com/20120330-tkah46ekgep7q51y9k93pmapx8.jpg)

[2012-03-30 16:24] ian29 opened #10 "Chennai, India"
- sixth most populated city in india [via wikipedia](http://en.wikipedia.org/wiki/Chennai)\
- huge areas, especially to the north/northeast that are very under-mapped

![](https://img.skitch.com/20120330-npd9wmq35y7iyq1hrjweiy5121.jpg)

[2012-03-30 16:35] ian29 opened #11 "outskirts of brasilia"
- should be quick + easy. satellites are good and it's a planned city
- great coms win for OSM if we can light this city up

![](https://img.skitch.com/20120330-jbs4e5t2rmdp8pgrdcde3ht743.jpg)

[2012-03-30 19:22] ian29 opened #12 "Fortaleza, Brasil"
- outskirts are way under-mapped
- lots of clouds, but there's enough to map around

![](https://img.skitch.com/20120330-mhp4yufx152xrjcknkwg6aeu36.jpg)

[2012-03-30 20:45] ian29 opened #13 "suburbs of Takamatsu"
- real potential to light up the city
- mostly filling in gaps:

http://www.openstreetmap.org/?lat=34.2776&lon=134.0412&zoom=13&layers=M

![](https://img.skitch.com/20120330-e43me1nymkbbp35snhnmeg884a.jpg)

[2012-04-02 15:25] ajashton opened #14 "Underwater roads south of Savannah"
http://osm.org/go/ZHkOgQM8-

From the imagery this appears to be more of a TIGER issue than a coastline issue, but both could be improved.

[2012-04-02 15:29] ajashton opened #15 "Waterlogged Florida bay"
http://osm.org/go/ZG1EME51-

Comparing OSM with the Bing imagery, the land data is much more accurate than the road data. TIGER 2011 could help out here.

[2012-04-05 14:22] ian29 opened #16 "indonesia/malaysia sprint"
can you identify the top 2 tickets from SE asia where we can really spend some time lighting up a city? ideally these will be places like guadalajara where there are lots of people and plenty to map.

potential candidates:
- surabaya
- butterworth/georgetown
- others?

[2012-04-05 15:12] DanielJWood opened #17 "Ipoh, Malaysia"
Ipoh is one of the largest cities in Malaysia both by city population and by metropolitan area.  It is largely missing in [OSM](http://www.openstreetmap.org/?lat=4.5742&lon=101.0939&zoom=13&layers=M).

Bing Satellite imagery is good enough here. Closing.

[2012-04-05 16:09] DanielJWood opened #18 "Butterworth and George Town, Malaysia"
There is a lot of work to be done both in George Town and Butterworth in Malaysia. There are 1,000,000 plus people in the metro area.
[![](https://img.skitch.com/20120405-nyk5s94wmb3g55bs1u5y7jyd9n.jpg)](http://www.openstreetmap.org/?lat=5.3802&lon=100.3922&zoom=12&layers=M)

[2012-04-05 16:12] DanielJWood opened #19 "Surabaya, Indonesia"
This has already been started by @mayarichman. Much of the south side of the city still needs to be mapped.

[![](https://img.skitch.com/20120309-8k4xqw3sx64aq35ykhxa8r11c5.jpg)](http://www.openstreetmap.org/?lat=-7.2619&lon=112.764&zoom=14&layers=M)

[2012-04-05 16:15] lxbarth opened #20 "Walking papers for Brasilia"
- Identify street name priority areas for Brasilia
- If relevant areas are identified, print a series of walking papers to be taken to Brasilia by @lxbarth - confirm with @lxbarth before printing.

http://walking-papers.org/

[2012-04-05 16:21] lxbarth opened #21 "What are these SQS numbers in Brasilia?"
http://osm.org/go/NuO95R0R

[2012-04-05 16:51] #17 closed, assigned to nobody

[2012-04-06 22:14] lxbarth opened #22 "Data sources for Brasilia"
Dan -

Have we done research on geo data sources for Brasilia? If not, can we do a quick round here determining potential sources for streets, street names and building footprints?

[2012-04-09 13:53] #21 closed, assigned to ian29

[2012-04-09 15:14] lxbarth opened #23 "Building footprints for Brasilia"
Tracing footprints in Brasilia. Before you jump in, post a quick screenshot highlighting the area working on. Report back when you're done / stopped working.

[2012-04-09 15:57] DanielJWood opened #24 "Planaltina, Distrito Federal, Brazil"
Missing from the map but in existence in Satellite imagery. *NOT to be confused with Plantaltina de Goias, directly to the north, but outside the boundaries of the Distrito Federal[![](https://img.skitch.com/20120409-9amrmqinhf28n6miximm5jnb5.jpg)](http://www.openstreetmap.org/?lat=-15.6348&lon=-47.642&zoom=13&layers=M)

[2012-04-10 14:03] #2 closed, assigned to chadlawlis

[2012-04-10 16:51] ian29 opened #25 "Bangkok"
Is one of the biggest, most popular cities and is severely undermapped

[2012-04-10 18:02] ian29 opened #26 "Kuwait City"
Big city, big holes in the map

![](https://img.skitch.com/20120410-dyfdgfu9k5mj3n31gbcqgp4ct3.jpg)

[2012-04-10 18:08] ian29 opened #27 "Ecatepec de Morelos"
huge city, hugely unmapped

![](https://img.skitch.com/20120410-g87db413p5shcmyqkwuasur194.jpg)

[2012-04-10 19:59] #1 closed, assigned to mayarichman

[2012-04-10 19:59] #4 closed, assigned to nobody

[2012-04-10 19:59] #5 closed, assigned to nobody

[2012-04-11 16:40] chadlawlis opened #28 "Brasilia landuse:residential tag"
The suburbs of Brasilia are blanketed with landuse:residential tags. These are areas that were previously unmapped - probably tagged as a way to avoid tracing the roads contained within - which we have been tracing during this week's sprint.

[![](https://img.skitch.com/20120411-dk8q6ycd4m7x6i9b2165wnc97n.jpg)](http://www.openstreetmap.org/?lat=-16.058&lon=-48.0278&zoom=14&layers=M)

@ajashton - a

[2012-04-12 20:55] lxbarth opened #29 "Clarify categorization of superquadras"
I don't think we have a ticket for this yet.

We need to find out whether superquadras are tagged correctly. Likely they should be street names.

[![](https://img.skitch.com/20120412-mnq3nsxf2j1w7ktexfeh2qj3r4.jpg)](http://osm.org/go/NuO99m3TZ-)

[2012-04-12 22:21] lxbarth opened #30 "Remapping"
As we're freeing up post-Brasilia, we should take a look where we should engage in remapping.
1. Identify high priority areas (where will we loose a lot of data?) - we know (most of) them from previous research into undecided users.
2. Identify existing remapping efforts for those areas.
3. Figure out where we could engage in a meaningful way: i. e. - where is data loss that is not already being r

[2012-04-17 15:39] DanielJWood opened #31 "Bandung, Indonesia"
This city has already been worked on a bit but could be updated more.

Due to poor satellite imagery this is a lower priority.

[![](https://img.skitch.com/20120417-pmkei9ddk9wckdc8afadf1uhg2.png)](http://www.openstreetmap.org/?lat=-6.9261&lon=107.6156&zoom=13&layers=M)

[2012-04-17 15:58] DanielJWood opened #32 "Medan, Indonesia"
The fourth largest city in the country is under mapped and needs some work. Satellite imagery seems good enough.

[![](https://img.skitch.com/20120417-fmit2eienncqik6sjaecd51ena.png)](http://www.openstreetmap.org/?lat=3.5888&lon=98.69&zoom=13&layers=M)

[2012-04-20 01:26] #20 closed, assigned to ian29

[2012-04-24 17:08] DanielJWood opened #33 "Bekasi, Indonesia"
City to the south east of Jakarta

![](https://img.skitch.com/20120424-pikn1yypc899dq9n8gqkaimtke.png)

http://www.openstreetmap.org/?lat=-6.229&lon=106.9987&zoom=13&layers=M

[2012-04-24 18:56] #24 closed, assigned to DanielJWood

[2012-04-26 14:23] DanielJWood opened #34 "Cities that need Node Visualizations"
- [Surabaya Indonesia](https://github.com/mapbox/mapping/issues/19)
- [Medan, Indonesia](https://github.com/mapbox/mapping/issues/32)
- [Bandung, Indonesia](https://github.com/mapbox/mapping/issues/31)
- [Bangkok, Thailand](https://github.com/mapbox/mapping/issues/25)
- [Fortaleza, Brazil](https://github.com/mapbox/mapping/issues/12)
- [Butterworth and George might need an update](https://github.c

[2012-04-26 15:25] DanielJWood opened #35 "Monterrey, Mexico"
There is some great imagery here and a lack of roads in the Northwest corner of Monterrey.

[![](https://img.skitch.com/20120426-1553tggyuwmjw3nmpdc3e678j.png)](http://www.openstreetmap.org/?lat=25.7784&lon=-100.3719&zoom=13&layers=M)

Also we need to hit the East side of the city.
[![](https://img.skitch.com/20120426-jj6d6wwt5mwtkkt32ck6s2bgkp.png)](http://www.openstreetmap.org/?lat=25.6609&lon=-

[2012-04-26 18:38] #25 closed, assigned to nobody

[2012-04-26 18:59] DanielJWood opened #36 "Backlog of all edited cities"
I'm working on a wiki that will serve as a list of all cities that have been edited, what we've done in each city, and a link to the final node visualization of that city.

It will be located [here](https://github.com/mapbox/mapping/wiki/City-Backlog). As city tickets are added and visualizations are created, the wiki should be updated.

[2012-04-26 19:32] #33 closed, assigned to nobody

[2012-04-26 20:14] #23 closed, assigned to nobody

[2012-04-26 20:14] #22 closed, assigned to DanielJWood

[2012-04-26 20:15] #28 closed, assigned to ajashton

[2012-04-26 20:27] DanielJWood opened #37 "Entering data from walking papers"
We've closed out the [walking papers ticket](https://github.com/mapbox/mapping/issues/20) and need to now figure out how to enter that data into OSM.

I'm not sure about specifics here, but post updates here.

[2012-04-26 20:27] DanielJWood opened #38 "Entering data from walking papers"
We've closed out the [walking papers ticket](https://github.com/mapbox/mapping/issues/20) and need to now figure out how to enter that data into OSM.

I'm not sure about specifics here, but post updates here.

[2012-04-26 20:27] #11 closed, assigned to chadlawlis

[2012-04-26 20:53] DanielJWood opened #39 "Istanbul, Turkey"
There are a few neighborhoods in the north west that could use attention in Istanbul. After that's done, a node visualization would be great. The node visualization can be added here and in the [wiki](https://github.com/mapbox/mapping/wiki/City-Backlog).

[![](https://img.skitch.com/20120426-b1sks22ryintdyeujbw1jhnbm3.png)](http://www.openstreetmap.org/?lat=41.0998&lon=29.0105&zoom=14&layers=M)

[2012-04-26 21:02] #38 closed, assigned to lxbarth

[2012-04-26 21:52] DanielJWood opened #40 "Santa Maria, Brazil"
Low priority but could use some updating in OSM

http://www.openstreetmap.org/?lat=-29.6986&lon=-53.8101&zoom=13&layers=M

[2012-04-26 21:54] DanielJWood opened #41 "Asuncion, Paraguay"
The outskirts of the town are entirely missing from OSM.

[![](https://img.skitch.com/20120426-b21ji5nm1q5hj8puj38teqmq1f.png)](http://www.openstreetmap.org/?lat=-25.36&lon=-57.5173&zoom=12&layers=M)

[2012-04-26 22:04] #16 closed, assigned to DanielJWood

[2012-04-27 14:29] lxbarth opened #42 "Cuernavaca, Mexico"
Cuernavaca, Mexico is quite sparse:

[![](https://img.skitch.com/20120427-f12fmjcxyjjb79e54291qt16fj.jpg)](http://osm.org/go/S8Z8_WGX)

[2012-05-01 14:04] #18 closed, assigned to chadlawlis

[2012-05-02 15:30] lxbarth opened #43 "Fix Lima"
In and around Lima, there are a series of areas where streets are disconnected. I wonder whether this is a result of the license cleanup. Not sure.

[![](https://img.skitch.com/20120502-mwjkca6un92kngtchgm9qn935w.jpg)](http://osm.org/go/NNZ2d2n8--)

[2012-05-08 22:20] smit1678 opened #44 "Improving the Niger Delta"
This is a ticket to look into improving the Niger Delta region within Nigeria. Upon first inspection, there seems to be room for improving coastlines, lakes, and rivers. This is especially seen on Bonny Island:

![](https://img.skitch.com/20120507-fpj7d16n25khrr5smie7y53b32.png)

When looking into this further, it seems there is some differences in geography and vegetation type based on the Landsa

[2012-05-21 13:56] #35 closed, assigned to nobody

[2012-05-21 14:01] #34 closed, assigned to nobody

[2012-05-21 14:09] lxbarth opened #45 "Lima: Capitalize properly"
@Rub21 Once we've cleaned up Lima ways and nodes, we should decide whether we would also want to fix the capitalization of street names in Lima. Many of them are ALL CAPS, where they should show simple capitalization of proper names. As noted in the main Lima ticket, let's also remove S/N street names where we encounter them.

![](https://img.skitch.com/20120521-95awjedcqetjmk6hxg9akf5w1.jpg)

/cc

[2012-05-29 14:14] lxbarth opened #46 "Rio: Barra da Tijuca and around"
Barra da Tijuca has plenty of missing streets and we'll probably get some time to collect street names when we're in Rio in June.

![](https://img.skitch.com/20120529-gce11ug7seg4dsb6ad9dy19ntj.jpg)

[2012-06-01 20:30] #36 closed, assigned to nobody

[2012-06-01 23:03] #42 closed, assigned to Rub21

[2012-06-01 23:03] #27 closed, assigned to Rub21

[2012-06-01 23:03] #12 closed, assigned to Rub21

[2012-06-01 23:40] Rub21 opened #47 "Rio: around Tanque and Praça Seca"
A los alrededores de Tanque y Praça Seca  aun hay muchas calles sin trazar, esperamos que la  siguiente semana este completado con mas Calles

![http://www.openstreetmap.org/?lat=-22.9091&lon=-43.3655&zoom=17&layers=M](http://dl.dropbox.com/u/43116811/Tanque%20and%20Pra%C3%A7a%20Seca/Tanque.jpg)

![http://www.openstreetmap.org/?lat=-22.89187&lon=-43.34852&zoom=16&layers=M](http://dl.dropbox.com/u/

[2012-06-05 18:49] Rub21 opened #48 "Río de Janeiro"
Hay muchas calles aun que faltan ser trazados en Río de Janeiro.Los cuales necesitan ser completados para para tener a Río de Janeiro mas completa en OSM.

[2012-06-07 17:25] lxbarth opened #49 "Visualization for Towson University area"
[ElliottPlack](http://www.openstreetmap.org/user/ElliottPlack) and Phil Reese have been very active editing [Towson University and around](http://www.openstreetmap.org/?lat=39.3916&lon=-76.61173&zoom=16&layers=M) recently.

@ian29 - if you have a minute, can you do a [progress visualization](http://mapbox.com/blog/how-to-map-contributions-openstreetmap/) of the area?

[2012-06-11 15:03] Rub21 opened #50 "Tacna: Capitalize properly"
En la Ciudad de Tacna hay  muchas calles en que se encuentran en Mayúscula, en estas calles deben  ser mostrados en la Capitalización adecuada de los Nombres propios. además  hay muchas calles con denominación de  S / N  los cuales no referencian nada de los cuales los Labels de estos deben ser quitados.
http://www.openstreetmap.org/?lat=-18.01009&lon=-70.24184&zoom=15&layers=M
![](http://dl.dropb

[2012-06-11 15:13] Rub21 opened #51 "Arequipa: Capitalize properly"
En la Ciudad de Arequipa -Perú hay muchas calles en que se encuentran en Mayúscula, en estas calles deben ser mostrados en la Capitalización adecuada de los Nombres propios. además hay muchas calles con denominación de S / N los cuales no referencian nada de los cuales los Labels de estos deben ser quitados.
http://www.openstreetmap.org/?lat=-16.4159&lon=-71.50468&zoom=16&layers=M
![](http://dl.dr

[2012-06-11 15:15] Rub21 opened #52 "Huancayo:Capitalize properly"
En la Ciudad de Huancayo -Perú hay  muchas calles en que se encuentran en Mayúscula, en estas calles deben mostrarse la Capitalización de los Nombres propios. además  hay muchas calles con denominación de  S / N  los cuales no referencian nada de los cuales los Labels de estos deben ser quitados.
http://www.openstreetmap.org/?lat=-12.05381&lon=-75.1956&zoom=15&layers=M
![](http://dl.dropbox.com/u/

[2012-06-11 15:16] Rub21 opened #53 "Ica: Capitalize properly"
En la Ciudad de Ica - Perú hay  muchas calles en que se encuentran en Mayúscula, en estas calles deben mostrarse la Capitalización de los Nombres propios. además  hay muchas calles con denominación de  S / N  los cuales no referencian nada de los cuales los Labels de estos deben ser quitados.
http://www.openstreetmap.org/?lat=-14.04141&lon=-75.69909&zoom=16&layers=M
![](http://dl.dropbox.com/u/431

[2012-06-11 17:22] Rub21 opened #54 "Cordoba - Argentina"
Tranzando la ciudad de Cordaba-Argentina
![](http://dl.dropbox.com/u/43116811/Argentina/Cordoba.png)
http://www.openstreetmap.org/?lat=-31.3386&lon=-64.1129&zoom=13&layers=M
http://www.openstreetmap.org/?lat=-31.4504&lon=-64.0826&zoom=14&layers=M
http://www.openstreetmap.org/?lat=-31.48547&lon=-64.24373&zoom=15&layers=M
http://www.openstreetmap.org/?lat=-31.36946&lon=-64.27416&zoom=15&layers=M

[2012-06-11 17:42] ian29 opened #55 "alrededores de La Paz, Bolivia"
hay un monton de calles no trazadas

http://www.openstreetmap.org/?lat=-16.4816&lon=-68.1131&zoom=14&layers=M

![](https://img.skitch.com/20120611-kschtfw4ebu7q61hw588m1wp7j.png)

[2012-06-13 14:38] #43 closed, assigned to nobody

[2012-06-14 17:08] Rub21 opened #56 "Cancún-Mexico"
Hay muchas calles que faltan trazar en Cancún-Mexico
http://es.wikipedia.org/wiki/Canc%C3%BAn
![](http://dl.dropbox.com/u/43116811/Canc%C3%BAn/cancun.jpg)
http://www.openstreetmap.org/?lat=21.1456&lon=-86.8358&zoom=14&layers=M

[2012-06-18 14:40] Rub21 opened #57 "Ciudad de México"
Al Noreste y Sureste  de Ciudad de Mexico ,faltal trazar muchas calles.
![](http://dl.dropbox.com/u/43116811/Mexico/Ciudad%20de%20Mexico.png)

Nor- Este http://www.openstreetmap.org/?lat=19.6887&lon=-99.0163&zoom=13&layers=M
Sur-Este http://www.openstreetmap.org/?lat=19.3637&lon=-98.891&zoom=13&layers=M

[2012-06-20 12:29] lxbarth opened #58 "Malang, Indonesia"
@Rub21, please
- Review coverage in [Malang, Indonesia](http://www.openstreetmap.org/?lat=-7.9968&lon=112.6357&zoom=13&layers=M)
- Trace imagery if possible

[2012-06-20 12:30] lxbarth opened #59 "Makassar, Indonesia"
@Rub21:
- Review coverage in [Makassar, Indonesia](http://www.openstreetmap.org/?lat=-5.1346&lon=119.4124&zoom=13&layers=M)
- Create Satellite coverage where possible

[2012-06-25 16:35] lxbarth opened #60 "Brasilandia, São Paulo"
[![](https://img.skitch.com/20120625-kfy1xtay4777p1dhc9jn7ysdk3.jpg)](http://www.openstreetmap.org/?lat=-23.443&lon=-46.6845&zoom=13&layers=M)

[2012-06-26 18:37] ian29 opened #61 "Shangyu, China"
this city only exist as a place node on the map. in addition to tracing, it looks like there's a messed up river polygon that needs looking at (lower left corner)

![](https://img.skitch.com/20120626-pfe65iu57cq9aipacmmep7ks8r.png)

http://www.openstreetmap.org/?lat=30.00707&lon=120.87422&zoom=15&layers=M

[2012-06-26 19:24] ian29 opened #62 "Araras, Brasil"
faltamos los alrededdores de esta ciudad

![](https://img.skitch.com/20120626-gmpbjbb7smw9ku2pbcrr4686wn.png)

http://www.openstreetmap.org/?lat=-22.3585&lon=-47.386&zoom=14&layers=M

[2012-06-27 13:21] #59 closed, assigned to Rub21

[2012-06-27 13:53] lxbarth opened #63 "Patos de Minas, Brazil"
[Patos de Minas is undermapped](http://www.openstreetmap.org/?lat=-18.6157&lon=-46.5115&zoom=12&layers=M) and has great satellite imagery.

Coordinate with [iandees, who is already working on it](http://www.openstreetmap.org/browse/way/169060670/history) is already working on it.

[2012-07-02 19:52] lxbarth opened #64 "Austria: Bundesländer"
@ajashton - how would I go about adding the names for the missing provinces of Austria? ![](https://img.skitch.com/20120702-ghfxu2r76rk5yxpty8xwg7gniu.jpg)

[2012-07-05 17:39] #61 closed, assigned to Rub21

[2012-07-06 15:15] ian29 opened #65 "Itaúna, MG, Brasil"
No existe, pero los imagenes satelites parecen bien. @Rub21 seria bueno si pasaste un rato aca, no solo trazando las calles sino las parques, los rios, etc tambien.

![](https://img.skitch.com/20120706-qia3g6tthdrynfpn7meia54pxm.png)

http://www.openstreetmap.org/?lat=-20.075626373291&lon=-44.5765113830566&zoom=13

[2012-07-06 23:02] lxbarth opened #66 "Please update OSM Backlog"
@Rub21 - please update the [OSM Backlog](https://github.com/mapbox/mapping/wiki/OSM-Backlog) with your recent improvements.

[2012-07-10 16:07] ian29 opened #67 "Johor Bahru"
Second biggest city in Malaysia, right next to Singapore and lots to trace. @Rub21 parece que hay algunos nubes. si las encuentras solo seguir trazando donde puedes.

![](https://img.skitch.com/20120710-pfid3d8jqihx1889tb48g7gr9c.png)

http://www.openstreetmap.org/?lat=1.47861&lon=103.66141&zoom=15&layers=M

[2012-07-10 17:10] Rub21 opened #68 "Guangzhou"
Las imagenes esta un poco confusas ,pero si hay algunos lugares dode se puden trazar la calles
![](http://dl.dropbox.com/u/43116811/guangzhou/guangzhou.png)
http://www.openstreetmap.org/?lat=23.1265&lon=113.2678&zoom=13&layers=M

[2012-07-10 22:14] jdahlin opened #69 "Ribeirão Preto, Brazil"
Ribeirão Preto in Brazil is poorly mapped. The recent Bing updated add pretty much complete coverage but most of the city is stil missing. It's close to Araraquara and Araras which was recently mapped by @mapbox & community

http://www.openstreetmap.org/?lat=-22.4132&lon=-47.5646&zoom=14&layers=M

[2012-07-10 22:16] jdahlin opened #70 "Rio Claro, Brazil"
Rio Claro is another quite large city in the state of São Paulo which recently got Bing coverage and lacks most of the city.

http://www.openstreetmap.org/?lat=-22.4132&lon=-47.5646&zoom=14&layers=M

[2012-07-11 16:47] Rub21 opened #71 "Fix Ayacucho"
Las imagens actualizadas de Bing, para la ciudad de ayacucho, haora tiene una mejor calidad, y necesitamos arreglar el Mapa  de Ayacucho que anteriormente traze solo con planos de Autocad, por motivo de que  @ianshward  y yo estamos haciendo algunos trabajos con Datos Abiertos   y mapas.
![](http://dl.dropbox.com/u/43116811/ayacucho/ayacucho.png)
http://www.openstreetmap.org/?lat=-13.16771&lon=-74

[2012-07-11 20:09] ian29 opened #72 "Kuching, Malaysia"
@Rub21 cuando terminaste el resto de los tickets - parece facil y hay bastante sin trazar.

![](https://img.skitch.com/20120711-friiaex36bxrfdedbpkfpdxe9s.png)

http://www.openstreetmap.org/?lat=1.5367&lon=110.3619&zoom=13&layers=M

[2012-07-12 22:50] ian29 opened #73 "Abuja, Nigeria"
![](https://img.skitch.com/20120713-1e64e7d8bhwchrir6a5j3dnin3.png)

http://www.openstreetmap.org/?lat=9.0558&lon=7.4897&zoom=12&layers=M

[2012-07-18 21:24] jdahlin opened #74 "Mauá, Brazil"
Mauá is part of the greater São Paulo area and is largely unmapped. It's the 11th largest city in the state of São Paulo with a population of over 400 000.

http://www.openstreetmap.org/?lat=-23.6665&lon=-46.4482&zoom=14&layers=M

[2012-07-18 21:26] jdahlin opened #75 "Carapicuíba, Brazil"
Mauá is part of the greater São Paulo area and is largely unmapped. It's the 16th largest city in the state of São Paulo with a population of close to 400 000.

http://www.openstreetmap.org/?lat=-23.5277&lon=-46.8342&zoom=14

[2012-07-24 21:55] Rub21 opened #76 "Ferraz de Vasconcelos, Brasil"
Ferraz de Vasconcelos , São Paulo Brasil
![](http://dl.dropbox.com/u/43116811/Brasil/Ferraz%20de%20Vasconcelos-josm.png)
http://www.openstreetmap.org/?lat=-23.5189&lon=-46.3614&zoom=13&layers=M

[2012-07-26 15:32] #49 closed, assigned to ian29

[2012-07-30 15:13] Rub21 opened #77 "Sydney,Australia"
![](http://dl.dropbox.com/u/43116811/sydney/sydney-australia.png)
http://www.openstreetmap.org/?lat=-33.93945&lon=150.94838&zoom=15&layers=M

[2012-08-01 15:20] Rub21 opened #78 "Itapevi, Brasil"
http://www.openstreetmap.org/?lat=-23.55537&lon=-46.94958&zoom=15&layers=M
![](http://dl.dropbox.com/u/43116811/Brasil/itapevi.png)

[2012-08-08 15:13] Rub21 opened #79 "Ipatinga, Brazil"
http://www.openstreetmap.org/?lat=-19.471&lon=-42.5561&zoom=13&layers=M

![](https://dl.dropbox.com/u/43116811/Brasil/Ipatinga%2C-Brazi-ariall.png)

[2012-08-09 20:58] #71 closed, assigned to nobody

[2012-08-09 20:58] #67 closed, assigned to nobody

[2012-08-10 14:46] #76 closed, assigned to nobody

[2012-08-10 19:20] ian29 opened #80 "alrededores de sao jose do rio preto"
@Rub21 no hay tanto que hacer, me imagino que seria facil.

http://www.openstreetmap.org/?lat=-20.8141&lon=-49.3964&zoom=13&layers=M

![](https://img.skitch.com/20120810-brrct1fkymw6ks3wiyakguxcu9.png)

[2012-08-14 15:59] ian29 opened #81 "Luanda"
It's crazy how much this city isn't mapped.

![](https://img.skitch.com/20120814-mp1pu3nfqn829br2e3mjqrkesx.png)

[2012-08-14 17:27] #77 closed, assigned to nobody

[2012-08-14 17:28] #79 closed, assigned to nobody

[2012-08-14 18:57] #30 closed, assigned to ian29

[2012-08-14 18:57] #26 closed, assigned to nobody

[2012-08-14 18:57] #19 closed, assigned to nobody

[2012-08-14 18:57] #10 closed, assigned to nobody

[2012-08-14 18:57] #55 closed, assigned to Rub21

[2012-08-14 18:57] #74 closed, assigned to nobody

[2012-08-14 18:57] #29 closed, assigned to ian29

[2012-08-14 18:57] #31 closed, assigned to nobody

[2012-08-14 18:57] #32 closed, assigned to nobody

[2012-08-14 18:57] #37 closed, assigned to lxbarth

[2012-08-14 18:57] #39 closed, assigned to nobody

[2012-08-14 18:57] #40 closed, assigned to nobody

[2012-08-14 18:57] #41 closed, assigned to nobody

[2012-08-14 18:57] #44 closed, assigned to nobody

[2012-08-14 18:57] #45 closed, assigned to Rub21

[2012-08-14 18:57] #46 closed, assigned to Rub21

[2012-08-14 18:57] #47 closed, assigned to nobody

[2012-08-14 18:57] #48 closed, assigned to Rub21

[2012-08-14 18:57] #73 closed, assigned to nobody

[2012-08-14 18:58] #8 closed, assigned to jueyang

[2012-08-14 18:58] #9 closed, assigned to nobody

[2012-08-14 18:58] #13 closed, assigned to nobody

[2012-08-14 18:58] #56 closed, assigned to nobody

[2012-08-14 18:58] #69 closed, assigned to nobody

[2012-08-14 18:58] #70 closed, assigned to nobody

[2012-08-14 18:58] #72 closed, assigned to nobody

[2012-08-14 18:58] #75 closed, assigned to nobody

[2012-08-14 19:00] #66 closed, assigned to Rub21

[2012-08-14 19:02] #64 closed, assigned to ajashton

[2012-08-14 19:02] #63 closed, assigned to Rub21

[2012-08-20 14:31] ajashton opened #82 "Lake Pend Oreille, Idaho badly damaged by redaction bot"
Large lake, pretty obvious breakage

http://osm.org/go/WLI1UO

[2012-08-20 21:45] #52 closed, assigned to nobody

[2012-08-20 21:48] #51 closed, assigned to nobody

[2012-08-20 21:48] #53 closed, assigned to nobody

[2012-08-22 19:21] ajashton opened #83 "Chunks of Orinoco and Caura rivers missing"
In Venezuela:
- http://osm.org/go/YkcpLQ
- http://osm.org/go/YkaYfj~

[2012-08-27 13:34] Rub21 opened #84 "Fixing Dominican Republic-Santiago de Caballero"
![](http://dl.dropbox.com/u/43116811/republicadominicana/santiagodecaballero-geof.png)

[2012-10-01 01:24] lxbarth opened #85 "Jarabacoa, DR"
There's good imagery available, I'll go to Jarabacoa in November to do some GPS ground truthing / street name capturing, @Rub21 - can you trace this town?

http://www.openstreetmap.org/?lat=19.12235&lon=-70.63837&zoom=15&layers=M

[2012-10-02 21:08] #85 closed, assigned to nobody

[2012-10-03 14:22] #62 closed, assigned to Rub21

[2012-10-03 15:55] lxbarth opened #86 "Places to remap in Poland"
@Rub21
- Please come up with a list of places to remap in Poland (I imagine 20 or more)

[2012-10-16 16:02] ian29 opened #87 "Ariquemes, Rodonia"
@Rub21 parece facil

http://www.openstreetmap.org/?lat=-9.9069&lon=-63.0334&zoom=14&layers=M

[2012-10-19 17:22] ian29 opened #88 "Mandalay, Burma"
probably easiest tracing from bing on the planet -

http://www.openstreetmap.org/?lat=21.89219&lon=96.11445&zoom=15&layers=M

![](https://img.skitch.com/20121019-bndqq97hcpc89mngex4g3rqywa.png)

[2012-10-21 19:59] skorasaurus opened #89 "Update Sahel Priorities Page"
In June/July 2012, bing's aerial imagery coverage and quality of western africa and the sahel significantly improved.

I only had time to check a couple, but 2 of the towns (Gao and Diffa) listed at https://github.com/mapbox/mapping/wiki/Sahel-Priorities now have high quality, trace-worthy imagery from bing available.

Should go and check the rest of the listed towns, update doc, create tickets fo

[2012-10-22 21:28] ian29 opened #90 "admin-4 borders for ecuador"
are really broken. we need a public domain data source and work with ecuatorian@ mappers to make sure this happens right. next actions are to find out the source of original import.

[![](https://img.skitch.com/20121022-ekqa5qa8b6x8n4gf4s49jgwjnd.png)](http://www.openstreetmap.org/?lat=-1.18&lon=-78.21&zoom=8&layers=M)

[2012-10-26 16:20] #87 closed, assigned to Rub21

[2012-10-26 16:36] #50 closed, assigned to nobody

[2012-10-26 16:56] #84 closed, assigned to nobody

[2012-10-26 17:15] #80 closed, assigned to nobody

[2012-10-26 17:28] #65 closed, assigned to Rub21

[2012-10-26 17:32] #60 closed, assigned to nobody

[2012-10-26 17:33] #58 closed, assigned to Rub21

[2012-10-26 17:41] #57 closed, assigned to nobody

[2012-10-26 17:42] #54 closed, assigned to nobody

[2012-10-26 18:05] #78 closed, assigned to nobody

[2012-10-26 18:12] #83 closed, assigned to nobody

[2012-10-29 18:27] #81 closed, assigned to nobody

[2012-10-29 18:31] #86 closed, assigned to lxbarth

[2012-10-30 16:14] lxbarth opened #91 "Trace Salamanca, Guanajuato"
Good imagery: http://osm.org/go/S9EQio2~-

[2012-10-31 13:30] #68 closed, assigned to nobody

[2012-10-31 17:19] #88 closed, assigned to nobody

[2012-11-22 01:30] lxbarth opened #92 "Fix TIGER deserts"
@ian29

Let's identify TIGER deserts and make them actionable. I suggest going by areas that practically haven't been touched since original import and prioritize by number of inhabitants of towns / counties.

A good place to start research is here: http://oegeo.wordpress.com/2012/10/21/binders-full-of-tiger-deserts/

/cc @Rub21

[2013-02-26 01:26] #92 closed, assigned to ian29

[2013-05-03 18:36] #91 closed, assigned to Rub21

[2013-07-30 19:53] #82 closed, assigned to nobody

[2013-08-15 02:52] lxbarth opened #93 "Clean up Sobradinho"
@Rub21 -

Could you take a look at Sobradinho, Brazil?
- Remove duplicate roads
- Remove roads named "Rua"

[![](http://cl.ly/image/3J0P3H1H3j3D/Screen%20Shot%202013-08-14%20at%2010.52.27%20PM.png)](http://www.openstreetmap.org/?box=yes&bbox=-48.0388436%2C-15.7698883%2C-47.6756855%2C-15.4907031#map=15/-15.6475/-47.8095)

[2013-08-20 13:35] #93 closed, assigned to Rub21

[2013-08-20 13:41] lxbarth opened #94 "Remove "Rua""
Remove the "Rua" label from all roads around Brasilia.

Example:

[![](http://cl.ly/image/1r0k3y2c0O0D/Screen%20Shot%202013-08-20%20at%209.36.23%20AM.png)](http://www.openstreetmap.org/?box=yes#map=15/-15.6406/-47.6426)

If it turns out that there are more problems with the data like in the case of #93 where there were many many duplicate roads, please report them here.

[2013-10-02 15:50] #94 closed, assigned to nobody

[2014-07-11 18:57] Rub21 opened #95 "Notes that probability can be repaired remotely"
- [x] [77](http://www.openstreetmap.org/note/77#map=19/51.5115603/-0.1421142) - Building outlines look crap here
- [ ] [78](http://www.openstreetmap.org/note/78#map=19/52.9073168/-2.4716341) - Canal & River Trust facilities block hereabouts
- [ ] [80](http://www.openstreetmap.org/note/80#map=19/0.2451317/119.7801590) - The most pants coastline in the world
- [x] [165](http://www.openstreetmap.org/

[2014-07-11 19:16] Rub21 opened #96 "Notes - Hotel points that can be repaired"
- [x] [2510](http://www.openstreetmap.org/note/2510#map=19/31.9609010/35.9157658)  -  Al Sufara Hotel Suites
- [x] [6330](http://www.openstreetmap.org/note/6330#map=19/25.2645297/55.3203383)  -  Hall mart hotel
- [ ] [7305](http://www.openstreetmap.org/note/7305#map=19/-10.1491977/123.6368752)  -  On the rock hotel
- [x] [8511](http://www.openstreetmap.org/note/8511#map=19/19.0420689/-98.1962460)

[2014-07-11 19:18] Rub21 opened #97 "Notes - Bank points that can be repaired"
- [ ] [23899](http://www.openstreetmap.org/note/23899#map=19/51.4003436/-1.3230157)  -  This bank has closed and the cash machine is no longer here.
- [ ] [27350](http://www.openstreetmap.org/note/27350#map=19/29.8909598/-90.0693512)  -  Westbank
- [ ] [41170](http://www.openstreetmap.org/note/41170#map=19/36.3106642/-95.6133592)  -  RCB Bank, 300 West Patti Page Boulevard, Claremore, Oklahoma 740

[2014-07-11 19:20] Rub21 opened #98 "Notes - Resturants points that can be repaired"
- [ ] [11517](http://www.openstreetmap.org/note/11517#map=19/15.9887657/-61.7251101)  -  Restaurant Jam Tribu
- [ ] [12251](http://www.openstreetmap.org/note/12251#map=19/51.4910501/7.2437239)  -  chin. Restaurant
- [ ] [18677](http://www.openstreetmap.org/note/18677#map=19/25.2632489/51.5225315)  -  al shami restaurant
- [ ] [18909](http://www.openstreetmap.org/note/18909#map=19/18.5079814/-69.86

[2015-06-19 17:59] #14 closed

[2015-06-19 17:59] #15 closed

[2015-06-19 17:59] #89 closed

[2015-06-19 17:59] #90 closed

[2015-06-19 17:59] #95 closed

[2015-06-19 18:00] #96 closed

[2015-06-19 18:00] #97 closed

[2015-06-19 18:00] #98 closed

[2015-06-19 18:03] lxbarth opened #99 "Salgar - validación"
@Rub21 @samely @calfarome @karitotp @ediyes @dannykath @luisalanya @RichRico @abel801

Hubo un deslizamiento en Colombia y quiero que ayudemos con la validación.

## Validación en Salgar tareas 13 y 14

[![screen shot 2015-06-19 at 2 01 28 pm](https://cloud.githubusercontent.com/assets/98233/8259594/b206f762-168b-11e5-8a86-e51dd4e5c62a.png)](http://wiki.openstreetmap.org/wiki/2015_Salgar_Colombia_

[2015-06-19 19:37] Rub21 commented on #99
@lxbarth , El equipo de Peru ya ha iniciado con este trabajo. :)

[2015-06-21 17:04] lxbarth commented on #99
@Rub21 - como vamos?

[2015-06-23 13:33] Rub21 commented on #99
@lxbarth , Por el momento hemos concluido las tareas, Humberto hara otra revision. En estos dias se estare agregando los numeros corespondientes al trabajo.

[2015-06-29 11:24] planemad opened #100 "To-fix:TIGER delta 2014"
The latest [TIGER 2014]() from the US census has lots of new roads that are not currently mapped on OSM. A difference(delta) of OSM and TIGER 2014 road geometries have been processed and loaded in to-fix for manual review.

**Improve the OSM road network of the USA using missing roads and names from TIGER 2014**
Task: [TO-FIX Tiger delta](http://osmlab.github.io/to-fix/?error=unconnected_major#/ta

[2015-06-30 07:38] ruthmaben commented on #100
Sharing few observations while working on [ TO-FIX Tiger delta](http://osmlab.github.io/to-fix/?error=deadendoneway#/task/tigerdelta)

I am coming across a lot of tasks which are already fixed (I am saving them as fixed).

**Like this**
![screen shot 2015-06-30 at 11 18 12 am](https://cloud.githubusercontent.com/assets/10308123/8425587/cbb24bb6-1f24-11e5-95cc-2d86d18855a3.png)

![screen shot 2015-

[2015-06-30 09:28] planemad commented on #100
@ruthmaben This might be because we usually fix all missing roads in an area, more than what was originally highlighted in to-fix.

Not really seeing this as an immediate problem, but its useful to think about how we could remove such issues from the queue. @aaronlidman do you think it is worthwhile to refresh this data every week?

[2015-07-06 10:13] planemad commented on #100
**Progress Update**
In one week, @mapbox/team-data  have hit close to 25,000 issues which is amazing progress :rocket: If we keep this up we're all set to reach the finish line on this batch of tiger-delta tasks by **20th July**.
![screenshot 2015-07-06 15 30 29](https://cloud.githubusercontent.com/assets/126868/8519973/0651a0ea-23f4-11e5-8f95-46104c6c6260.png)

Lets keep our foot on the pedal and

[2015-07-09 00:04] Rub21 commented on #99
Per voice:
@calfarome , podrias actualizar  el numero de objetos osm que el equipo ha decho en Salgar.
Utilizan esta herrmienta https://github.com/Rub21/counter-edition,

[2015-07-09 00:37] hyances commented on #99
Hola Rubén! Gracias, voy a probar el "counter-edition"!

Anexo envío las estadísticas preliminares del equipo Mapbox, entre el 18 de
mayo y 27 de junio usando el script de estadísicas de Pierzen

https://github.com/pierzen/osm-contributor-stats

Gracias por todo su apoyo, tengo pendiente abrir una nueva tarea para
finalizar el mapeo de hazard_type=landslides y realizar ajustes en los
offstes, será

[2015-07-12 10:46] lxbarth commented on #99
@rub21 - what's the status here?

[2015-07-12 13:23] Rub21 commented on #99
@lxbarth @calfarome @hyances : Estos son los numeros del trabajo en Colombia.

User | Num OSM Objects | Num Changeset | Num nodes | Num ways | Num relation
 ---|---|---|---|---|---
samely | 20,629 | 143 | 19,410 | 1,219 | 0
dannykath | 12,544 | 161 | 11,420 | 1,124 | 0
abel801 | 12,393 | 157 | 11,512 | 881 | 0
karitotp | 12,197 | 126 | 11,565 | 632 | 0
RichRico | 10,908 | 117 | 10,493 | 413 | 2
ca

[2015-07-13 12:34] planemad commented on #100
**Complete**
Fantastic work @mapbox/team-data
Team Peru took this right to the finish line on Friday, one week ahead of schedule!

[2015-07-13 12:37] planemad commented on #100
@aaronlidman can you point me to instructions on how to load up the next batch of tasks into to-fix?
The CSV file for NY tiger-delata is [here](https://www.dropbox.com/s/zaxlod83f88hnyv/tiger-difference-ny-geohacker.csv?dl=0)

[2015-07-13 14:43] planemad opened #101 "Task Manager: Indian cities missing streets - Tier 1"
[Online taxi companies are taking over India](http://techcrunch.com/2015/07/06/ola-arun-sarin-ratan-tata/) and they need good maps to navigate. OSM coverage of major Indian cities is still bad making it a poor choice for use in such applications. This can be countered by tracing out the major road network in places so that it becomes easier for local communities to fill in missing details.

**Impr

[2015-07-13 17:30] shvrm commented on #100
Awesome @mapbox/team-data!

[2015-07-13 21:42] Hedaja opened #102 "Tracing Routes"
Nice guide so far
I noticed one thing. I'm not happy with the first picture about tracing with the right amount of detail: https://camo.githubusercontent.com/ada5abee6a5ac0a6d47f329b14b50726fbfbd10a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f662e636c2e6c792f6974656d732f32683333313432513138317030373143314f31342f53637265656e25323053686f74253230323031352d30312d30342532306174253230382e33322e333

[2015-07-21 17:40] shvrm opened #103 "To-fix: Highway intersects Water"
**Task** http://osmlab.github.io/to-fix/?error=unconnected_major#/task/highwayriverbank

Highways intersecting water polygons indicates issues where:
- Road crosses a water body without a tag specifying the crossing (missing bridges, culvert, fords or layers)
- Outdated water polygons from old imagery that overlaps with new roads
- Bad imports with misplaced water polygons

**Sources**
* Bing
* Ma

[2015-07-22 20:44] lxbarth commented on #103
@shvrm @ruthmaben @planemad - are yuo guys running an in person training for this?

[2015-07-23 03:44] shvrm commented on #103
@lxbarth - on Monday, when we started this task, we gathered as a team while working on issues, and also pulled up issues on the big screen to discuss as a team and find a solution.

@planemad - I know we talk briefly yesterday about priority of this task. It would nonetheless be good to gather and go through this to-fix task and do a in-person training this morning.

[2015-07-23 06:31] planemad commented on #103
@lxbarth @shvrm @ruthmaben
We don't really know what to expect with these tasks out of the ordinary till we start working on it and issues are surfaced from the team. I think the most important thing for the team to know is what issues should be ignored that we won't fix. Lets start documenting that here.

[2015-07-23 13:50] Rub21 opened #104 "To-fix: Crossing highways"
### Objective

Review and repair highway intersections that are not connected to a node.
### Tasks

**Tasks below are updating everyday from Monday to Friday with the latest errors in OpenStreetMap**
- Major: http://osmlab.github.io/to-fix/#/task/crossingmajorhighways
- Minor: http://osmlab.github.io/to-fix/#/task/crossingminorhighways
#### Changeset comment

[code]
### Coverage

All countries in

[2015-07-23 17:56] lxbarth commented on #103
Exactly. That's why we should be starting such task with a very small team of experienced mappers first to scope it out well.

[2015-07-24 11:58] planemad commented on #102
Thanks for the feedback @Hedaja will try an improved visual for this.

[2015-07-24 18:49] Andygol commented on #104
@mapbox/peru-office
I working on Hyderabad - fixing huge amount of errors so you may avoid it in tofix tasks
https://github.com/mapbox/data/issues/1215
![screenshot 2015-07-14 15 02 22](https://cloud.githubusercontent.com/assets/126868/8670548/a9aa9894-2a3b-11e5-83ab-878103ee5d10.png)
https://www.openstreetmap.org/#map=12/17.4135/78.5365

[2015-07-29 09:36] ramyaragupathy commented on #103
Per voice with @mapbox/india-office, we are only dealing with adding bridges, culverts, fords and other alignment work. Problem points touching the lake imports are to be marked as `not an error`. General understanding is that import data is not to be deleted.

[2015-07-30 14:35] samely opened #105 "To-fix: Unconnected highways"
### Objective

Connect roads that are motorable and end near another road but not connected to it. This could be because of:
- User error in creating proper junction for ways (fixable)
- User error in tracing the full road till the junction (fixable)
- Incomplete tracing because road connection not visible in imagery (requires survey)
- No road connection because of a wall or barrier (ignore)
###

[2015-07-31 10:44] lxbarth commented on #105
@samely - is this batch of unconnected major limited to a particular geographic area?

In the past, many unconnected major issues included residential roads, could we fix this?

What's the source for this task?

[2015-07-31 14:30] samely commented on #105
@lxbarth
It's not limited to an specific area.
![image](https://cloud.githubusercontent.com/assets/10425629/9009358/34d5b16a-3766-11e5-8245-82441a283bdf.png)

I didn't specify the kind of road for this task because while I was working on this I could see residential, primary, secondary, tertiary, service, track and path roads, so I thought it wasn't necessary to specified them.

I don't understand

[2015-07-31 18:45] Rub21 commented on #105
@lxbarth @samely :

There are items for whole world .

![image](https://cloud.githubusercontent.com/assets/1152236/9014583/e96c729a-3788-11e5-8123-06db9585b00d.png)

The task contain all roads but mostly of items include residential roads.

According https://github.com/osmlab/to-fix/blob/gh-pages/src/data/tasks.json#L3-L5, `unconnected major` has as source `unconnected`, it come from https://githu

[2015-07-31 20:15] samely opened #106 "To-fix: Unconnected minor Highways"
### Objective

To-Fix issue: http://osmlab.github.io/to-fix/#/task/unconnectedminorhighways

Review and repair highways which have another road end near them. They have to be intersected by a node.

Total number of issues: `47,382`

![image](https://cloud.githubusercontent.com/assets/10425629/9016276/63b6576c-3795-11e5-95de-7032d8346384.png)

## Team

For now, only team @mapbox/peru-office  will w

[2015-07-31 20:43] samely opened #107 "To-fix: Kinks"
### Objective

Kinks issues are motorable roads that have nodes which make impossible angles on the road.
## Tasks

**The below tasks are updating everyday from Monday to Friday with the latest errors in OpenStreetMap**
-  Major highways: http://osmlab.github.io/to-fix/#/task/impossibleangle
-  Minor highways: http://osmlab.github.io/to-fix/#/task/kinksminorhighways
#### Changeset comment

[code]

[2015-08-02 22:22] talllguy opened #108 "Idea: Unconnected walkways / footways / paths / etc"
:bulb: Idea for a new task...

I like these unconnected tasks team Mapbox is working on! I think one for pedestrian / cycle ways that are unconnected would be helpful for exercise routing. Often, mappers stop drawing the path or sidewalk where it ends on the imagery. Perhaps we can find these in the same way we're finding other types of roads.

[2015-08-03 04:27] planemad commented on #108
@talllguy we have unconnected paths, walkways, tracks and footpaths in the [unconnected minor](http://osmlab.github.io/to-fix/?error=unconnected_major#/task/unconnected_minor1) task which currently has 47,000 issues. We should be hitting this sometime later in the month.

[2015-08-03 04:27] #108 closed

[2015-08-03 04:45] planemad opened #109 "Task Manager: Hyderabad cleanup validation"
There has been some careless edits in Hyderabad that introduced a major number of connectivity issues. The user responsible has started cleaning up the mess, but validations of the cleanup remains.

**Task** http://tasks.openstreetmap.in/project/28

**Sources**
* Bing

**Working Groups**
- [Mapbox data team India](http://wiki.openstreetmap.org/wiki/Mapbox#Mapbox_Data_Team) @mapbox/team-data   From

[2015-08-03 05:00] planemad commented on #103
**Weekly progress**
![screenshot 2015-08-03 10 23 28](https://cloud.githubusercontent.com/assets/126868/9031050/bd6c832c-39c9-11e5-88e2-3b9d3c31b94c.png)
- 7 members from the India data team @mapbox/team-data fixed 3,027 issues in 3 days
- Expected timeline at current speed is 2 months
- There are many issues involving imported misplaced water polygons and waterways that the team decided not to to

[2015-08-03 13:08] lxbarth commented on #109
@planemad  -

- At what point do we just roll back bad edits?
- After working on this today, do you have a sense of how much time it will take us to fix this issue?
- Is the user in question continuing to create bad edits?

[2015-08-03 13:18] planemad commented on #109
@lxbarth
- The user has been cleaning up the areas and fixing his bad edits with two more people
- Our team have been validating their work and so far are seeing that they have done a very good job of cleanup. There are some stray validation issues that require manual fixing, but I would estiimate over 95% of the connectivity issues have been fixed
- The user has stopped creating new map data afte

[2015-08-03 14:10] talllguy commented on #108
@planemad Excellent, thanks!

[2015-08-03 17:16] Rub21 commented on #105
@mapbox/india-office @mapbox/peru-office :

We've finished [unconnected major task](http://osmlab.github.io/to-fix/#/stats/unconnected_major), @samely @ediyes @abel801 @RichRico @calfarome @dannykath @karitotp  @luisalanya  spent 17 hours to completed 26,079 items.

**Stats**

###  To-fix number of item `edited`, `fixed`, `skip`, `not an error`

![image](https://cloud.githubusercontent.com/assets/

[2015-08-04 01:27] aaronlidman commented on #108
:+1: I agree! We took a look at paths/walkways/cycleways before and found there were tens of millions of issues to fix. I'm sure it's something we'll get to again when we find a better way of prioritizing which areas we're fixing. Until then we decided to focus on highways.

[2015-08-04 05:00] planemad opened #110 "Task Manager: Indian capital cities road network"
Improving the OSM road network of state capitals in India using satellite imagery.
- Missing roads
- Misaligned roads
- Retagging roads based on [OSM India road tagging guidelines](http://wiki.openstreetmap.org/wiki/India:Tags/Highway)

**Tasks**
- [Ranchi](http://tasks.openstreetmap.in/project/29)

**Sources:**
- Bing
- Mapbox Satellite

**Timeline**
- This is an ongoing map improvement exercise

[2015-08-04 05:01] planemad commented on #101
Closing this till we complete capital cities in india first #110

[2015-08-04 05:01] #101 closed

[2015-08-04 12:41] bhargavpanth commented on #110
Classification of roads : How and in what pre-text do I tag a road that is branching off from a tertiary road? I am not really able to tell which road is a primary road and which is a tertiary road in Ranchi.

[2015-08-04 13:13] planemad commented on #110
@bhargavpanth the easiest way to decide on road classification is to guess the ratio of non local/local traffic on a road. A residential road has purely local traffic going to building on that road. An unclassified road has mostly residential, but some non local traffic, and at the other end you would have a trunk road with mostly non local traffic.

When in doubt go by this simple scheme:
- `tert

[2015-08-04 13:50] talllguy commented on #105
Keep up the great work!

[2015-08-05 08:07] planemad opened #111 "Map Roulette: Missing US level crossings"
**Task** http://maproulette.org/#t=fix-railway-crossings/

Many railway level crossings from the [FRA](https://en.wikipedia.org/wiki/Federal_Railroad_Administration) are not tagged on OSM:
- There is already a level crossing tagged at the location (fixed)
- The road and rail data was imported and the level crossing was not tagged (fixable)
- Users forgot to tag the level crossing (fixable)
- Locat

[2015-08-05 09:04] ramyaragupathy commented on #111
Issues from the first 30 tasks I picked:
##### Areas with no data
![screenshot 2015-08-05 14 28 03](https://cloud.githubusercontent.com/assets/12103383/9081942/4ef5d536-3b7e-11e5-82ef-80495ba24884.png)
##### Problem points far from the actual railway lane
![screenshot 2015-08-05 14 30 19](https://cloud.githubusercontent.com/assets/12103383/9081996/92f440ce-3b7e-11e5-9abe-602bc61380ba.png)

[2015-08-05 09:10] srividyacb commented on #111
The error place downloads in the same layer and not to different layer.

[2015-08-05 09:13] jinalfoflia commented on #111
#### Issues for first 20 tasks I picked

- Every 8/10 tasks are already fixed

- As @ramyaragupathy mentioned

![screen shot 2015-08-05 at 2 26 12 pm](https://cloud.githubusercontent.com/assets/4470913/9082124/7464c196-3b7f-11e5-81f9-89b0aea1b964.png)

[2015-08-05 09:34] planemad commented on #111
Thanks @jinalfoflia and @ramyaragupathy , have added these use cases in the lead.

[2015-08-05 09:52] pratikyadav commented on #111
I ran into a few places where the intersection nodes were exactly overlapping each other but not merged. Also a few places where `railway=level_crossing' was present but the intersection point was not merged.

I guess it will be a good practice to check for these intersection nodes.

[2015-08-05 10:13] jinalfoflia commented on #111
In certain cases, the area/issue which http://maproulette.org/ shows before editing in JOSM, changes after the `edit in JOSM` button is clicked. Per voice with @ramyaragupathy, She also faced a similar issue and ignored as a browser error.

![maproulette](https://cloud.githubusercontent.com/assets/4470913/9083460/fc45f230-3b87-11e5-868d-c27fac0de622.gif)

[2015-08-05 10:24] ramyaragupathy commented on #111
@jinalfoflia I am able to reproduce the issue, whenever i try to edit using shortcut `r`
![screenshot 2015-08-05 15 53 35](https://cloud.githubusercontent.com/assets/12103383/9083714/2db9a314-3b8a-11e5-850e-0e2c07e7680f.png)

[2015-08-05 17:12] lxbarth commented on #105
@Rub21 - this is a great summary. How do we track master tickets like this one? Should we do a label and close them? cc @planemad

Is "mapping" a good name for the label?

Looking for a simple way to look at all pending and finished mapping project's we're on.

[2015-08-05 18:36] planemad commented on #105
`project` `task` ?

On Wed, Aug 5, 2015 at 10:42 PM, Alex Barth <notifications@github.com>
wrote:

[2015-08-10 12:40] planemad commented on #111
**Progress**
- In 1 week, 30% of the open tasks were fixed by the community and 7 members of the data team. Currently there are 12280 issues remaining.
- Expected completion: 2 weeks.

[2015-08-11 06:26] planemad commented on #105
Loaded the latest unconnected data into http://geohacker.in/unconnected-tiger/ and found many issues on motorways(purple circles) that are [over 3 months old](https://www.openstreetmap.org/node/3536529906)

@Rub21 i'm having a feeling these were not loaded into to-fix for some reason. Any ideas why they are still broken?

[2015-08-11 07:00] planemad commented on #109
**Progress**
- The users responsible for the broken data have progressed well on the cleanup tasks and the Mapbox data team has been validating the changes
- The progress has been very good and we are now down to 325 unconnected points on minor residential roads compared with the original 25,000 issues
![screenshot 2015-08-11 12 25 26](https://cloud.githubusercontent.com/assets/126868/9191954/6f4b

[2015-08-11 14:00] planemad opened #112 "HOT: Myanmar floods"
There has been severe flooding in Myanmar over the last week and the number of affected people is nearing 1 million and a death toll of 100 according to [latest reports](http://www.channelnewsasia.com/news/asiapacific/myanmar-flood-death-toll/2040634.html).

**Task** http://tasks.hotosm.org/project/1154

@mapbox/team-data is well experienced with HOT tasks after our [Nepal response](). We should j

[2015-08-12 10:13] planemad commented on #112
UN maps for Myanmar now includes OSM data http://www.unitar.org/unosat/maps/MMR

[2015-08-13 04:46] planemad commented on #112
**Update**
- 08/13: The task is complete as per available imagery. The areas that are incomplete and invalidated  have low resolution imagery where it is impossible to do further mapping
![screenshot 2015-08-13 10 12 36](https://cloud.githubusercontent.com/assets/126868/9242727/17057344-41a4-11e5-9025-9ae9d1a70422.png)
- Nice work @mapbox/team-data, will post a summary of our contributions that @r

[2015-08-17 09:54] planemad commented on #111
**Progress**
- Last week, 4620 issues were fixed by the community and 7 members of the data team. Currently there are 7660 issues remaining.
- Expected completion: 21 August

[2015-08-17 14:50] samely commented on #100
### Tiger Data Updated
Tiger data was updated so there are 20 250 issues.
![image](https://cloud.githubusercontent.com/assets/10425629/9307338/b0cf81e6-44c3-11e5-8ccd-fe996db9b87c.png)

### Progress Update
In about 10 days we have hit 11 982 issues and if we continue like this we are going to finish all issues in TIGER before **August 21**.
![image](https://cloud.githubusercontent.com/assets/10425

[2015-08-17 18:04] mvexel commented on #111
thanks for your participation, everyone!
As for https://github.com/mapbox/mapping/issues/111#issuecomment-127947573 - if you could file this on the MR repo issue page that would be great - thank you! https://github.com/osmlab/maproulette/issues

[2015-08-17 18:04] mvexel commented on #111
Also note that there are ~60k more to go after this one :dancers:

[2015-08-18 12:16] ramyaragupathy commented on #111
done @mvexel. https://github.com/osmlab/maproulette/issues/347

[2015-08-18 14:03] Rub21 commented on #100
@mapbox/india-office @mapbox/peru-office : Yesterday We've finished  20,250 items from Tiger task.
![screenshot from 2015-08-18 08 58 23](https://cloud.githubusercontent.com/assets/1152236/9331910/8c8ddb56-4587-11e5-9a3c-97f36a681ecc.png)

For today 08/18/2015 I've added 37,710 items in Tiger Task.
![screenshot from 2015-08-18 08 56 43](https://cloud.githubusercontent.com/assets/1152236/9331940/b7

[2015-08-19 09:17] planemad opened #113 "Strava: Routing Errors"
Strava is a popular fitness app used by runners and cyclists throughout the world. They recently switched to OSM and have released the [probe data for use to improve the map](http://wiki.openstreetmap.org/wiki/Strava)

**Task** http://labs.strava.com/routing-errors/#10000000/9/-122.62390/37.78483

- Trace/realign missing roads and footways on the map
- Work only on the automatically detected error

[2015-08-19 09:18] planemad commented on #111
@mapbox/india-office will pause on this task to work on #113

[2015-08-19 12:37] pratikyadav commented on #113
At some places, I found a series of errors.

![screen shot 2015-08-19 at 6 00 17 pm](https://cloud.githubusercontent.com/assets/12744420/9356133/3025949c-469c-11e5-9abd-e209f23ecaee.png)

Found that there was a [cycle lane on right side](http://wiki.openstreetmap.org/wiki/Bicycle) and the tag `cycleway:right=lane` was missing.
![screen shot 2015-08-19 at 6 02 09 pm](https://cloud.githubusercontent

[2015-08-19 13:09] talllguy commented on #113
I've been working on these for a while using their [Slide](http://stateofthemap.us/2014/session/slide/) tool (a fork of iD) to autosmooth paths. Cool to see the MB data team on the case, because the Strava user community seems pretty vocally negative about the switch to OSM.

[2015-08-19 14:34] planemad commented on #113
### False positive: Cycle lane tags are not detected

Looks like Strava is doing a comparison purely between the activity centerline and OSM geometries and ignoring cycleway/sidewalk tags.

This results in false positives where a road has already been tagged with a `cycleway=*` (purple dash) but an issue is generated because the activity centerline is more than 5m from the OSM geometry. An example

[2015-08-19 14:36] planemad commented on #113
@tallguy thank you :beers:
What if if Strava offered premium accounts to those who made more map fixes.. :thought_balloon:

[2015-08-19 17:18] talllguy commented on #113
@planemad that sure would create some incentive. Though agreeably it is the internet people who are making the most fuss.

Regarding ***false positives***, I've come across quite a few that I can share here.

* Ferry routes: [as seen in this tweet](https://twitter.com/talllguy/status/633993315474644992) ferry routes are not currently routable in the Strava engine.
* Certain routes that are trunk o

[2015-08-19 17:19] talllguy commented on #113
Forgot to mention that it looks like in that JOSM screenshot that the Willow Road might be tagged as a trunk, thus running into my issue above.

[2015-08-20 17:19] ramyaragupathy commented on #113
Here is an update on the number of nodes and ways touched by the team in the Bay Area since 08/19

| User           | Nodes | Ways |
|----------------|-------|------|
| PlaneMad       | 1255   | 33   |
| pratikyadav    | 3789  | 206  |
| ramyaragupathy | 460    | 20   |
| Chetan_Gowda   | 6211  | 60   |
|  jinalfoflia   | 29 | 1 |
|  aarthy        | 267 | 11 |
|           | 12011| 331|

cc @lxbart

[2015-08-21 08:58] planemad commented on #113
### False positive: Inaccurate traces in wooded areas
In thickly wooded areas like this, inaccurate GPS traces is being detected as a missing path. Mark as fixed.

![screenshot 2015-08-21 14 26 27](https://cloud.githubusercontent.com/assets/126868/9404891/bc7ac424-4810-11e5-86da-9dc8cb8357d7.png)

[2015-08-22 02:52] planemad commented on #113
- Over 2 days @mapbox/india-office has cleaned out all the automatically detected issues in the Bay Area.
<img width="662" alt="screenshot 2015-08-22 01 19 35" src="https://cloud.githubusercontent.com/assets/126868/9417681/ed59f708-486b-11e5-9efb-3d61a70aceb1.png">
- Team will continue to hit other high activity zones the coming week: NE corridor, LA
<img width="752" alt="screenshot 2015-08-22 08

[2015-08-24 05:39] planemad commented on #113
### Task Update

@mapbox/india-office will focus on clearing automatically detected routing errors in two high activity regions:
- Boston - NYC - Baltimore - DC
![screenshot 2015-08-24 11 03 35](https://cloud.githubusercontent.com/assets/126868/9433418/4a111b9e-4a50-11e5-919d-145ceac2f48f.png)
![screenshot 2015-08-24 11 03 48](https://cloud.githubusercontent.com/assets/126868/9433419/4a60d530-4a50

[2015-08-25 13:20] planemad opened #114 "To-fix: Strava routing errors"
Continuing from #113, we have all the Strava routing errors loaded onto to-fix.

**Task** http://osmlab.github.io/to-fix/?error=unconnected_major#/task/strava

- Trace/realign missing roads and paths on the map using the Strava heatmap
- Add bicycle lanes and sidewalks to trunk roads where visible in imagery, else add notes to verify their existence

![screenshot 2015-08-26 10 50 31](https://cloud

[2015-08-25 13:21] planemad commented on #113
Remaining issues loaded into to-fix, closing here.

[2015-08-25 13:21] #113 closed

[2015-08-25 20:07] samely commented on #104
Today @mapbox/peru-office is starting to work in this task.

![image](https://cloud.githubusercontent.com/assets/10425629/9477886/28df7d7c-4b3a-11e5-8500-48a155485827.png)
Happy mapping :rocket:
cc. @lxbarth

[2015-08-25 20:17] samely commented on #100
@mapbox/peru-office :
Tiger task is done! In 4 and a half days we have hit 37,710 issues of this task.

![image](https://cloud.githubusercontent.com/assets/10425629/9478205/02d4f254-4b3c-11e5-8e15-9659afd4ff34.png)

Congratulations Ayacucho team! :dart:
cc. @lxbarth

[2015-08-26 10:05] srividyacb commented on #114
For places where there is high Strava activity in `railway=abondoned`, add `highway=path` as a subtag for railway line.
![screenshot 2015-08-26 15 34 21](https://cloud.githubusercontent.com/assets/3423533/9490790/f0973954-4c07-11e5-9b51-d5ac7658db8c.png)

[2015-08-26 14:34] planemad commented on #114
**Progress**
- 236/2,748 issues closed in one day with 8 member team
- Expected completion at current rate is 8-10 days

[2015-08-26 15:09] talllguy commented on #114
Just wondering: if people are still doing the tasks on the strava site, will that impact the Data team?

[2015-08-26 21:08] lxbarth commented on #114
No. The chances on 'stepping on each other's toes' while editing are very low.

[2015-08-31 16:03] Rub21 opened #115 "To-fix: Unconnected Major Japan"
**Task** http://osmlab.github.io/to-fix/#/task/unconnectedjapan

Unconnected major issues are motorable roads that end near another road but not connected to it. This could be because of:
- User error in creating proper junction for ways (fixable)
- User error in tracing the full road till the junction (fixable)
- Incomplete tracing because road connection not visible in imagery (requires survey)

[2015-09-01 18:23] samely opened #116 "Japan realignment and add roads"
**Task** http://tasks.openstreetmap.in/project/31#

Realign and add new residential and main roads.

**Task coverage**
- Chiba Prefecture, Japan

**Tracing Sources**
- Japan GSI Orthorectified Satellite: `http://cyberjapandata.gsi.go.jp/xyz/ort/{z}/{x}/{y}.jpg`
- Bing (offset)
- Mapbox Satellite (offset)

**Reference Sources**
- Strava Globalheat: `http://globalheat.strava.com/tiles/both/color3/{z

[2015-09-02 14:41] lxbarth opened #117 "Move finalized / ongoing projects from OSM wiki to Github"
Per chat:

Let's move http://wiki.openstreetmap.org/wiki/Mapbox#Ongoing_projects and http://wiki.openstreetmap.org/wiki/Mapbox#Finalized_projects to here.

Let's make a "Finalized projects" page on our Github wiki here under mapping/ and link from the OSM wiki to the Github wiki for finalized projects and from the OSM wiki to the github issue queue for ongoing projects.

@planemad said he'll run w

[2015-09-03 09:24] planemad commented on #114
@mapbox/team-data today is our last day fixing Strava issues so that we can move onto the higher priority Japan fixup #116 . We've made some great progress and our target is to close 2,000 issues by today. Will post the final report when done.

[2015-09-03 13:08] pratikyadav commented on #116
As per voice with @planemad , the `Japan Layer` is not that accurate. Thus, the primary source for mapping should be Bing/Mapbox Satellite imagery followed by Strava and GPS layer.

![japan](https://cloud.githubusercontent.com/assets/12744420/9658820/e7e9fbd0-5269-11e5-8ee1-3a50cc229f87.gif)

[2015-09-03 13:34] pratikyadav commented on #116
As per voice with @planemad , the `Japan Layer` seems to be accurate for major roads but not for minor roads. Thus, for minor roads the primary source of mapping should be Bing/Mapbox-satellite.

![japan](https://cloud.githubusercontent.com/assets/12744420/9659425/10c239a6-526e-11e5-9e44-0ff50f9c9dd8.gif)

[2015-09-03 14:23] planemad commented on #116
@Rub21 we are noticing the above inconsistency in road quality in the Japan layer for minor roads. The problem is not a simple offset, but it does not match the road geometry. There is not much use tracing unclassified or residential roads from it as they will need to be realigned again.

Can you look carefully into this problem and see what is the best way to proceed? Maybe we should only realign

[2015-09-03 14:52] planemad commented on #117
@lxbarth moved https://wiki.openstreetmap.org/wiki/Mapbox#Mapbox_Data_Team

[2015-09-03 14:56] planemad commented on #114
Closing with Strava after a massive push to fix issues and reaching 75% completion. Team-blr will work on Japan road realignment from now.

![screen shot 2015-09-03 at 8 22 37 pm](https://cloud.githubusercontent.com/assets/126868/9661712/97e36d96-5279-11e5-9bf6-b8dc8ec592be.png)

**Next actions**
- @planemad post way/node stats for data added

[2015-09-03 20:38] almccon commented on #116
It looks like your tasks.openstreetmap.in tasking server has the wrong hashtag assigned to these changesets. It's applying #hotosm-project-31 to the changesets, for example this one: https://www.openstreetmap.org/changeset/33760039

This is not a HOT project, correct? It's project 31 on tasks.openstreetmap.in, but not on http://tasks.hotosm.org/. So the default hashtag needs to be changed.

Thanks

[2015-09-03 21:36] aaronlidman commented on #116
Hey @almccon, thanks for the heads up @ediyes fixed the changeset comments.

For context, we've had our eye on fixing Japan for a while. We did a trial run of fixing the well known connectivity issues last November when the team was much smaller and decided to punt for the time being. Before getting to the connectivity issues again we're taking a first pass at alignment issues, which surprised us.

[2015-09-03 21:52] almccon commented on #116
Great news! Thanks for the improvement!

[2015-09-04 06:57] aarthykc commented on #116
This could be a possible workflow to realign existing roads or trace new roads:

- Using the Strava layer align the data layer and the satellite imagery by using the Imagery Offset setting  in Imagery, like this:

![offset setting](https://cloud.githubusercontent.com/assets/10141319/9678124/5df95fa6-52ff-11e5-893f-5124abcdeacb.gif)
Now that you've done that you can be sure of the fact that your im

[2015-09-04 09:04] aarthykc commented on #116
Case where the road needs to be realigned:
![screen shot 2015-09-04 at 2 31 22 pm](https://cloud.githubusercontent.com/assets/10141319/9680104/02624708-5312-11e5-85f5-b0f944405309.png)

[2015-09-04 09:29] planemad commented on #116
Building on @pratikyadav's and @aarthykc's observations, it does not look worthwhile to use the `Japan GSI` layer directly for tracing new roads as it creates more misaligned data. We need to get our sources in order before tracing.

**Step 1: Align the satellite imagery**
- Use the `Strava Globalheat` layer as the gps reference, if data is not available try using `Runkeeper` or `OSM GPS`. This is

[2015-09-04 10:38] Andygol commented on #116
* Can we use layer with satellite images `http://cyberjapandata.gsi.go.jp/xyz/ort/{z}/{x}/{y}.jpg` `source=GSImaps/ort` instead of layer `http://cyberjapandata.gsi.go.jp/xyz/std2012/{z}/{x}/{y}.png`  ?
(see. http://wiki.openstreetmap.org/wiki/GSImaps#Ortho_Photo_Tiles)

* It would be great if we'll use **Imagery Offset Database** - http://wiki.openstreetmap.org/wiki/Imagery_Offset_Database for sha

[2015-09-04 11:00] planemad commented on #116
Comparison of GPS corrected OSM data vs Japan GSI layer:
- For this small town the difference was in the range of 4-16m
![screen shot 2015-09-04 at 4 26 42 pm](https://cloud.githubusercontent.com/assets/126868/9682181/dc6b4526-5321-11e5-8a46-cf6c01dd5403.png)

[2015-09-04 11:05] planemad commented on #116
@Andygol Amazing find. The GSI orthorectified imagery matches the GPS data perfectly. It is the GSI maps that are inaccurate.
![screen shot 2015-09-04 at 4 33 57 pm](https://cloud.githubusercontent.com/assets/126868/9682282/dccb1d38-5322-11e5-97c4-ab57ba45cf5e.png)

Going to update the instructions.

[2015-09-07 05:59] planemad commented on #115
**Update**
- 09/07: Task updated. 770 issues remaining which team-blr will work on.

cc @mapbox/team-data

[2015-09-07 08:32] nikhilprabhakar commented on #115
In some cases, there seems to be duplicate roads exactly on top of the existing roads.
![duplicate_roads1](https://cloud.githubusercontent.com/assets/11845908/9712307/674817ea-5567-11e5-9344-ddd9a71fdbe2.gif)

You can make it out because the node looks a bit more thicker like the below unlike an ordinary merged node.
![screen shot 2015-09-07 at 1 10 54 pm](https://cloud.githubusercontent.com/asset

[2015-09-07 11:19] planemad commented on #115
**Progress**
- 09/07: 7 members of team-blr cleared the 770 issues in 90 minutes.

[2015-09-07 11:45] shvrm commented on #115
:rocket:

[2015-09-08 05:15] planemad commented on #105
**Task Updated**
- 09/08: Task refreshed with 5771 open issues. Does not include JP or GB.

[2015-09-08 06:40] #117 closed

[2015-09-08 12:59] ramyaragupathy commented on #105
Here is something I came across in unconnected major task, where the problem point is indicated in Antractica. Two things noticeable here,
 1. Location information in to-fix is shown as Ceduna, Australia while it is actually Antarctica
 2. There is no data in the indicated problem point except for a coastline
![screenshot 2015-09-08 18 16 54](https://cloud.githubusercontent.com/assets/12103383/973

[2015-09-09 12:40] jinalfoflia commented on #105
This is something that I came across while doing this task. I found this issue where there is a barrier between the roads.
![pg](https://cloud.githubusercontent.com/assets/4470913/9761936/8b8dcf16-571d-11e5-88a0-c15d8dfc1549.png)
Thus these roads weren't connected and were showing up as an issue. To fix this, I have connected the roads and added a `barrier=yes` tag to the node connecting them.
![s

[2015-09-10 15:26] planemad commented on #114
**Complete**
- 09/07: team-blr closed all remaining Strava issues
<img width="790" alt="screenshot 2015-09-10 20 53 18" src="https://cloud.githubusercontent.com/assets/126868/9792527/2f9b0e44-57fe-11e5-9ca4-96f515b83d50.png">

**Next actions**
- [ ] @planemad send note to Strava to generate fresh issue list

[2015-09-10 18:20] samely opened #118 "To-fix: Looping"
**Task** http://osmlab.github.io/to-fix/#/stats/loopings

Looping issues are roads or building that have two joined nodes that make a self intersection.

**Task coverage**
- Global

**Mapping source**
- Bing
- Mapbox Satellite

**Timeline**
-  10 September issue count: 26,079

![image](https://cloud.githubusercontent.com/assets/10425629/9797058/dd68b0de-57be-11e5-88ac-cc568a929d0f.png)

- @mapbox/

[2015-09-11 05:10] planemad commented on #105
We have a data disaster in Nukus, Uzbekistan that requires a separate cleanup effort. Avoid fixing errors in this area.

More details: http://www.openstreetmap.org/user/PlaneMad/diary/35762

cc @mapbox/team-data

[2015-09-11 06:49] chtnha opened #119 "Clean duplicate buildings - Indonesia"
Tasking Manager Link - http://tasks.openstreetmap.in/project/37

**Task**
To clean (delete) all the duplicate buildings and to add `building = yes` tag for the untagged buildings.

**Area covered**
Parts of South Sulawesi (SN) state, Indonesia.

**Sources**
Bing
Mapbox Satellite

**Timeline**
This is an ongoing map improvement.

**Working group**
None

*Three overlapped duplicate buildings*

![dup

[2015-09-11 14:14] ruthmaben commented on #105
Task completed!  :boom: :rocket:

![screen shot 2015-09-11 at 7 40 15 pm](https://cloud.githubusercontent.com/assets/10308123/9816870/378ab05e-58bd-11e5-81c8-55f823a8ff90.png)

cc: @mapbox/team-data

[2015-09-11 14:33] Andygol commented on #105
@planemad
Yesterday I faced with bunch of error in Nukus and spent all day cleaning them.

In my opinion errors arose unintentionally. Most likely they occurred after a failed uploading.

I hoped that I fixed most of them

[2015-09-12 14:06] Andygol commented on #105
Here left some issues with *Duplicate ways* and *Unconnected major*
![image](https://cloud.githubusercontent.com/assets/369696/9831853/fdb2bfb2-596f-11e5-8b4e-c94435801fd0.png)

[2015-09-14 05:39] planemad commented on #105
**Task Updated**
- 09/14: 4,889 issues added from OSM inspector

[2015-09-14 11:47] planemad opened #120 "Japan OSM improvement"
Based on observations from #116. There are multiple data issues in japan which requires a comprehensive cleanup strategy with close involvement of the Japanese OSM community.

This ticket will track all the high level conversations and strategy on improving OSM data for Japan.

**Existing data issues**
- Most of Japan road network has been imported from [Yahoo Japan](https://wiki.openstreetmap.org

[2015-09-15 09:23] mapconcierge commented on #116
Hi, all:

About Reference data,
We should use below GSImaps layers

std(maximum zoom level: 18)
http://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png

ort(maximum zoom level: 18)
http://cyberjapandata.gsi.go.jp/xyz/ort/{z}/{x}/{y}.png

Both ort and std should not have offset, as you know wink emoticon

[2015-09-15 11:19] planemad commented on #116
@mapconcierge

From our trials, the `ort` imagery is very good and [matches the Strava](https://github.com/mapbox/mapping/issues/116#issuecomment-137705381) GPS traces. But the coverage of the imagery over Japan is not complete.

The `std` maps are accurate for major highways (motorway - secondary) [but are not reliable for smaller roads and rural areas](https://github.com/mapbox/mapping/issues/11

[2015-09-16 11:24] planemad commented on #119
@chtnha what is the status of the cleanup? If there is no further actions, lets close this.

[2015-09-16 12:06] chtnha commented on #119
@planemad The task is done!! Need to validate.

[2015-09-16 14:12] planemad commented on #120
**Realignment trial report 09/16**
- Today @pratikyadav @ruthmaben @nikhilprabhakar and @ramyaragupathy realigned 15,194 nodes in the [Mutsu area](http://tasks.openstreetmap.in/project/38)
- Initial pass was to realign all roads in the task area, but due to inconsistencies in the [reference sources](https://github.com/mapbox/mapping/issues/116#issuecomment-140357569) and lack of GSI satellite imag

[2015-09-16 15:07] lxbarth commented on #120
Wow, great progress.

@planemad - what does this concretely mean? Can you give an example for that?

[2015-09-16 15:30] planemad commented on #120
@lxbarth to be as accurate as possible we were using Strava and OSM GPS to offset the Bing/GSI imagery for the best match, this is never perfect and results in an offset in another area. These continuous localized corrections which cannot be replicated exactly be someone else and adds to the data inconsistency since no source perfectly will match the data everywhere.

To make it simple, we're just

[2015-09-17 02:09] lxbarth commented on #99
:steam_locomotive: w00t!

[2015-09-17 02:09] #99 closed

[2015-09-17 02:10] lxbarth commented on #100
So amazing!

[2015-09-17 02:10] #100 closed

[2015-09-17 04:19] mapconcierge commented on #116
Okay, I agree your priorities.

[2015-09-17 04:20] mapconcierge commented on #120
@planemad

I understand all steps.
Yes, GSI ortho image layer (ort) has good accuracy.

We have started special project team on Facebook Group with Asian addicted mappers, OSM teachers in Japan. My students will join.
https://www.facebook.com/groups/697237443754399/

[2015-09-17 04:45] mapconcierge commented on #120
@planemad

Mutsu city area doesn't have good GSI ort images and Strava GPS.
We should choice

std 標準地図 MaxZoomLv18
http://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png
source=GSImaps/std

![2015-09-17 13 43 07](https://cloud.githubusercontent.com/assets/416977/9925104/1736f57c-5d42-11e5-84f5-81bd4a7c1f5d.png)

[2015-09-17 18:40] pratikyadav commented on #120
Today  @planemad @pratikyadav @ruthmaben @nikhilprabhakar and @ramyaragupathy realigned 6437 nodes in the [ Aomori region](http://tasks.openstreetmap.in/project/40#task/42) for major roads.

The alignment was based on Japan GSI Satellite imagery.

![screen shot 2015-09-17 at 6 30 16 pm](https://cloud.githubusercontent.com/assets/12744420/9933725/6ac07966-5d6a-11e5-9a04-70630949b799.png)

[2015-09-17 19:09] mapconcierge commented on #116
I made a task for Aomori area on TeachOSM.
http://tasks.teachosm.org/project/78

[2015-09-18 07:34] chtnha commented on #119
**Cleanup done** :100:

#### Summery
 * By selecting the task, I ran validation (Shift+V) in JOSM and It cleared 95% of the errors and duplicated buildings.
 *  For the untagged buildings I used JOSM filter (Windows > Filter). Two filtering query I passed to select all the untagged buildings at once.  They are
       1. `untagged` and
       2. `type:node`

![cleanup1](https://cloud.githubusercont

[2015-09-18 07:34] #119 closed

[2015-09-18 20:58] lxbarth opened #121 "Sidewalk tagging"
In cities like Washington DC and San Francisco you'll find many sidewalks mapped as `highway=footway` but without the secondary tag [`footway=sidewalk`](http://wiki.openstreetmap.org/wiki/Tag:footway%3Dsidewalk).

This means sidewalks can't be styled consistently different than footways:

![](https://s3.amazonaws.com/f.cl.ly/items/1A1U000C0K2k252y3L3q/screen_shot_2015-09-18_at_4.38.18_pm_720.png)

[2015-09-18 21:42] nickidlugash commented on #121
@lxbarth @Andygol there are also footways tagged `footway=sidewalk` that look like they should probably have this tag *removed* (they are footways that are not alongside roads), e.g. all the footways on San Francisco State University's campus:

![screen shot 2015-09-18 at 5 37 42 pm](https://cloud.githubusercontent.com/assets/5607844/9971714/ff150c5a-5e2b-11e5-80d1-0055e259023e.png)

@lxbarth do y

[2015-09-19 13:34] lxbarth commented on #121
Y, let's remove the sidewalk tag where a footway *clearly* is not a sidewalk.

[2015-09-19 17:20] planemad commented on #121
- Use [Overpass](http://overpass-turbo.eu/s/by8) to lookup `highway=footway` in DC and SF and inspect ways parellel to highways
- Add missing `footway=sidewalk` or `footway=crossing` tags [where applicable](http://wiki.openstreetmap.org/wiki/Tag:footway%3Dcrossing)  ![](https://cloud.githubusercontent.com/assets/126868/9976616/5a3d0232-5f07-11e5-9ae5-4f635dd81e98.png)
- Remove `footway=sidewalk` t

[2015-09-21 07:18] planemad commented on #121
**Before** Footways (blue), sidewalks (black) and crossings (red):

![screenshot 2015-09-21 12 44 36](https://cloud.githubusercontent.com/assets/126868/9986843/06ce2fc8-605f-11e5-91ad-fbc011943418.png)
![Uploading Screenshot 2015-09-21 12.47.32.png…]()

[2015-09-21 09:27] planemad commented on #121
@nickidlugash we have some grey areas like in [this case](http://overpass-turbo.eu/s/bzm) where its unclear if we should add the sidewalk/crossing tags. Does it look ok?

[2015-09-21 09:35] nikhilprabhakar commented on #120
Hi @mapconcierge ,
What kind of highway will the below road be?
Confused on whether this will be a service road, residential road or a living-street road.
https://www.openstreetmap.org/#map=17/40.785891873025996/140.7407283726662
![japan](https://cloud.githubusercontent.com/assets/11845908/9988885/f4e485e2-6071-11e5-85ab-855fbb78e430.gif)

[2015-09-21 10:07] jinalfoflia commented on #121
I came across this issue where a part of the footway is a `sidewalk` and the rest is a `footway` with `bicycle=yes`. I have added the `sidewalk` tag only that particular part and retained the other tags i.e. `bicycle=yes`

![sideway](https://cloud.githubusercontent.com/assets/4470913/9989485/601ca25a-6076-11e5-98fc-f6179605d999.gif)

[Here](https://www.openstreetmap.org/way/295482375/history#map=1

[2015-09-21 11:43] planemad commented on #121
The guideline we have been following for sidewalks is: if the footway is adjacent the road kerb its a sidewalk, but if there is a separation like a patch of grass it remains a footway.

![](http://wiki.openstreetmap.org/w/images/thumb/b/b9/Sidewalk_and_zebra-crossing.jpg/240px-Sidewalk_and_zebra-crossing.jpg)

In the US, a physical separation seems pretty common, so not sure if this is to be tagge

[2015-09-21 11:52] pratikyadav commented on #120
#### Realignment trial report 09/21

Today @planemad @pratikyadav @ruthmaben @nikhilprabhakar and @ramyaragupathy realigned 3201 nodes in the [ Aomori region](http://tasks.openstreetmap.in/project/40#task/42).

The focus under pass 1A and 2 was -
- to create dual carriageways on major highways,
- realign and merge tertiary
- Adding missing tertiary+ highways
- Adding missing bridges/tunnels on ter

[2015-09-21 12:50] srividyacb commented on #121
JOSM Filters used while adding add tags to footways in DC and SF
Sometimes using tags as separate filters or combinations may be helpful:

* Separate filters: `highway=footway` , `footway=sidewalk` and `footway=crossing`.
* Combination filters: `highway=footway | footway=sidewalk` and `highway=footway | footway=crossing`

     ![screenshot 2015-09-21 18 19 43](https://cloud.githubusercontent.com/a

[2015-09-21 12:59] planemad commented on #120
**Realignment Summary**
- Team of @pratikyadav @ruthmaben @nikhilprabhakar and @ramyaragupathy conducted a multi phase data correction exercise in Aomori
- We synced daily to break the data correction in multiple steps to prioritize effort to the most critical data first to least important and improve the process from our observations
- General observations:
  - Time taken to realign an object is

[2015-09-21 13:10] srividyacb commented on #121
Nice work @jinalfoflia @chtnha @planemad
After tagging screenshots:
- Black : Footway with `footway=sidewalk` tag
- Red : Footway with `footway=crossing` tag

[![screenshot 2015-09-21 18 28 50](https://cloud.githubusercontent.com/assets/3423533/9992423/b08f4620-608f-11e5-8aab-3a601b419d9e.png)](http://overpass-turbo.eu/s/bzJ)
*DC*
[![screenshot 2015-09-21 18 35 41](https://cloud.githubusercontent.

[2015-09-22 00:00] nickidlugash opened #122 "`highway=pedestrian` polygon obscures water body"
This pedestrian polygon covers up a pool because it doesn't have the shape of the pool cut out of it:

![screen shot 2015-09-21 at 7 54 37 pm](https://cloud.githubusercontent.com/assets/5607844/10008298/197d953c-609b-11e5-8b00-0f32271eacc2.png)

[Feature in osm](http://www.openstreetmap.org/edit#map=18/38.89416/-77.00781).

[2015-09-22 00:25] nickidlugash commented on #121
Great job, data team!

[2015-09-22 04:26] srividyacb commented on #122
@nickidlugash
Fixed the multipolygon
![screenshot 2015-09-22 09 53 29](https://cloud.githubusercontent.com/assets/3423533/10010912/d69304c6-610f-11e5-99ee-6e1c080face9.png)

[2015-09-22 05:27] planemad commented on #120
Since we have Aomori completed till pass 2, the @mapbox/team-data is going to follow the similar procedure in the more dense Beppu-Oita region on Kyushu island from today http://tasks.openstreetmap.in/project/44

![](http://foreign.beppu-navi.jp/CMSimage/photo/20120127_707475097_FilePath0.jpg)

Getting in touch with the OSM-JP community through @mapconcierge to help in validation of previous work

[2015-09-22 07:19] planemad commented on #120
While realigning highway junctions, be careful about fixing any kinks.
![untitled](https://cloud.githubusercontent.com/assets/126868/10012730/2f3d18ec-6128-11e5-8315-8019a2775b91.gif)

[2015-09-22 07:49] nikhilprabhakar commented on #120
@mapbox/team-data  - Also merge and fix the junctions which are split like in the below.
![junctions](https://cloud.githubusercontent.com/assets/11845908/10013061/8edc08c8-612b-11e5-95d3-b5a612371f12.gif)

[2015-09-22 14:34] samely commented on #120
We already finished http://tasks.openstreetmap.in/project/31#. Those are the number of editions per user

User | Num OSM Objects | Num Changeset | Num nodes V1 | Num nodes Vx | Num ways V1| Num ways Vx | Num relation V1 | Num relation Vx
 ---|---|---|---|---|---|---|---|---
samely | 77,862 | 333 | 45,220 | 18,416 | 5,856 | 8,370 | 0 | 0
RichRico | 65,217 | 441 | 31,035 | 28,070 | 2,511 | 3,601 | 0

[2015-09-22 15:42] calfarome commented on #120
Visualization the progress of the team in the peninsula [Chiba Prefecture, Japan](https://github.com/mapbox/mapping/issues/116).
![japav22l](https://cloud.githubusercontent.com/assets/10413117/10023077/cc6dba94-6115-11e5-93b0-2e275bc85459.png)

[2015-09-23 20:30] nickidlugash commented on #122
@srividyacb thanks for working on this! Could you double-check the features inside the pedestrian area? From aerial imagery, it looks to me like:

![senate-pool](https://cloud.githubusercontent.com/assets/5607844/10057808/266c2e22-6210-11e5-9f3a-ece3540908c4.png)

[2015-09-24 05:24] srividyacb commented on #122
oh Sorry!! I thought the center one is the grass cover and the surrounding is water. Now I have made the changes. Please check it.

![screenshot 2015-09-24 10 47 00](https://cloud.githubusercontent.com/assets/3423533/10065866/a8349842-62a9-11e5-8a55-a89ceda0c9cf.png)

[2015-09-24 10:00] nikhilprabhakar commented on #120
@mapbox/team-data : I have come across a lot of duplicate roads in the current task that we are doing (Ishikawa). For now we will be ignoring these duplicate roads and will be taking care of it in the later passes.
![duplicates](https://cloud.githubusercontent.com/assets/11845908/10070598/246a439a-62d1-11e5-9cbd-c6aa02c6e64a.gif)

[2015-09-24 10:15] jinalfoflia commented on #120
@mapconcierge, there is this tunnel like construction, what should it be tagged as?
![screen shot 2015-09-24 at 3 35 47 pm](https://cloud.githubusercontent.com/assets/4470913/10070820/9a9d5646-62d2-11e5-84ed-93591040a92a.png)

[Here](https://www.openstreetmap.org/node/1395521826/history#map=19/36.88596/136.88761) is the link to the road.

[2015-09-24 11:27] planemad commented on #120
**Japan realignment progress map**
![screenshot 2015-09-24 16 54 08](https://cloud.githubusercontent.com/assets/126868/10072164/f898e0b2-62dc-11e5-9e80-6153caf95cda.png)
https://gist.github.com/planemad/64da69b20ea9705b5673

- Task polygons based on GSI coverage for use in tasking manager
- Stroke width indicates importance and is based on population/road density
- Color indicates task status. Red

[2015-09-24 16:20] friedbunny commented on #120
@jinalfoflia Coincidentally, I've been through that tunnel many times. It's an enclosed "snow shed"/"snow shelter" (スノーシェッド or スノーシェルター) situated at a mountain pass with hills rising on either side.

[Here are some pictures of this structure.](http://hidekikawa.at.webry.info/200906/article_4.html)

[It seems like](http://wiki.openstreetmap.org/w/index.php?title=Proposed_features/snowshed&oldid=450

[2015-09-25 12:42] jothirnadh commented on #120
@mapbox/team-data : Whenever there is a pre-defined tunnel or a bridge such as one in the below image, we are not making any changes due to lack of evidence.
![screen shot 2015-09-25 at 6 06 13 pm](https://cloud.githubusercontent.com/assets/8401827/10100602/85d7cd5c-63b0-11e5-8361-a87ce149f01c.png)

[2015-09-25 21:19] nickidlugash commented on #122
Thanks @srividyacb! This looks good. @ajashton made [2 minor changes to it](http://www.openstreetmap.org/changeset/34251327) – he changed the feature around the pool to be `landuse=grass` and made it a multipolygon.

[2015-09-25 21:19] #122 closed

[2015-09-28 12:45] srividyacb commented on #122
Great :+1:

[2015-09-28 12:47] planemad commented on #120
**Progress**
- Task: http://tasks.openstreetmap.in/project/45
- Area: ~8400km2
- Total time taken:
  - Pass 1: 3 days
  - Pass 2: active

[2015-09-28 14:04] jinalfoflia commented on #120
@friedbunny Thank you :+1:

[2015-09-29 05:32] planemad commented on #121
No further actions, closing for now

[2015-09-29 05:32] #121 closed

[2015-09-29 06:17] #115 closed

[2015-09-29 06:19] planemad commented on #116
Tracking on #120

[2015-09-29 06:19] #116 closed

[2015-09-29 06:37] Hedaja commented on #102
Seems like nothing changed in the meantime :(

[2015-09-29 06:51] planemad commented on #102
@Hedaja do you want to create a graphic that we can use to replace the one in the guide?

[2015-09-29 06:54] Hedaja commented on #102
If you show me the curve you used I could create an replacement for the 3rd image. Otherwise it would be I could make make a completely new one

[2015-09-29 06:55] planemad commented on #102
Feel free to make a new one, there is no reason to use the same curve :)

[2015-09-29 07:08] planemad commented on #109
Done here!

[2015-09-29 07:08] #109 closed

[2015-09-29 08:11] Hedaja commented on #102
This is the form that I would recommend. Same order as yours just with small changes to the right most picture. No nodes on straight parts and more detailed in curves.
The first is a full size image and the second one is scaled to the size you used so far.

Cheers
Christian

![mapbox guide big](https://cloud.githubusercontent.com/assets/693781/10158378/f3a4b3fc-6691-11e5-9738-58ad86a5a525.png)
![m

[2015-09-29 09:48] planemad commented on #102
@Hedaja awesome! Updated https://github.com/mapbox/mapping/wiki/How-to-map-X

[2015-09-29 09:48] #102 closed

[2015-09-29 13:36] jinalfoflia commented on #120
As there are multiple roads for re-aligning, I tend to miss a few of them. To better keep track of the roads that I modified, I use this [style]( https://raw.githubusercontent.com/Andygol/josm-styles/master/created_in_2015.mapcss) that highlights freshness of data.

- Before I started editing, we can see that the roads are not highlighted.

![screen shot 2015-09-29 at 6 33 35 pm](https://cloud.git

[2015-09-29 13:59] planemad commented on #120
@jinalfoflia nice tip and its always a good practice to upload/download data to keep it in sync.

[2015-09-29 19:12] Rub21 commented on #120
@mapbox/team-data :
We've finished up the pass 2 in  http://tasks.openstreetmap.in/project/45, let's start in new task  http://tasks.openstreetmap.in/project/48

[2015-09-30 21:22] mapconcierge commented on #120
OK!! I've confirm Fukushima Area.
Our students team will join today. :-)

Please add admin permission for Project 45 to me, I can translate in Japanese.

[2015-09-30 21:33] Rub21 commented on #120
@mapconcierge , That is great :) , could you give me  your osm users,  to add in Task Manager, hmm but I think first you have to login http://tasks.openstreetmap.in/, after it I can give you permission to access.

[2015-09-30 22:47] lxbarth commented on #120
[![](https://www.evernote.com/shard/s210/sh/6548eb08-7039-47a2-ab7d-eaf951f0eb22/e29dc6c8b8514c58/res/6aad6a6c-0c20-4031-afd0-2ceda2481911/skitch.png?resizeSmall&width=832)](https://developmentseed.org/blog/2015/09/28/whats-trending-osm/)

[2015-10-01 07:10] mapconcierge commented on #120
＞ @Rub
MAPconcierge
http://www.openstreetmap.org/user/MAPconcierge

＞ @lxbarth
That's great!! :-)

[2015-10-01 07:13] mapconcierge commented on #120
Japanese Students are doing now!!
![12017556_1126710234024613_4210415448895765433_o](https://cloud.githubusercontent.com/assets/416977/10214888/4a1cdbf8-6857-11e5-963e-07f4c6e0c286.jpg)

[2015-10-01 09:25] planemad commented on #120
This is amazing @mapconcierge !

Has there been any confusion from the students, maybe you can translate the instructions in Japanese for the task?

[2015-10-01 10:03] mapconcierge commented on #120
@planemad
Yes, of course!! :-)

[2015-10-01 10:24] planemad commented on #120
@mapconcierge sorry, thought you were already admin, done now. Also lets have subsequent tasks on http://tasks.teachosm.org , it would be great to have the community select the area that needs to be worked on based on https://gist.github.com/planemad/64da69b20ea9705b5673

cc @Rub21

[2015-10-01 13:53] abel801 commented on #120
We don't have GSI imagery in [This](http://tasks.openstreetmap.in/project/48#task/378) I think that we have finished the task.

@planemad

[2015-10-01 14:00] Rub21 commented on #120
@mapbox/team-data , I've added other task to improve Japan, [#49 - Japan road improvement: Mito](http://tasks.openstreetmap.in/project/49) if you can not find more blocks to work in [#48 - Japan road improvement: Fukushima](http://tasks.openstreetmap.in/project/48) can you jump to this new one

[2015-10-01 16:28] samely opened #123 "Task: Retagging Mobile Home Hamlets"
**Description**
Change `place=hamlet` tag to `landuse=residential`

**Coverage**
California, USA.

**Instructions**
* Draw a polygon where there is a Mobile Home Park, add `landuse=residential` tag and copy the node's name.
![screen shot 2015-10-01 at 11 57 12 am](https://cloud.githubusercontent.com/assets/58878/10226105/acdf03d4-6833-11e5-833f-6c69e2978bf6.png)
* Remove `place=hamlet` node.
* In

[2015-10-02 02:14] mapconcierge commented on #120
＞ @planemad
Okay thanks, I'm doing translation in Japanese. :-)
http://tasks.openstreetmap.in/project/48

[2015-10-04 06:03] lxbarth commented on #112
@ramyaragupathy - have you posted the summary in the meantime?

[2015-10-05 09:00] planemad commented on #120
**Mapping report of [Ishikawa task](http://tasks.openstreetmap.in/project/45)**
- Area: 8000 km2
- Pop density: 200-300 persons/km2
- Pass 1: 3 days with 18 members (Mapbox)
- Pass 2: 1.5 days with 19 members (Mapbox)
- [Notes](https://textb.org/t/mbx-data-japan/)

[2015-10-05 09:20] planemad commented on #120
@mapbox/team-data based on the above observations and a voice discussion, it was decided to continue mapping in separate passes for future tasks. The most important reason for this is to detect quality issues from the previous pass.

[2015-10-05 10:26] nikhilprabhakar commented on #120
@mapbox/team-data : We are not combining the roads which have different `Maxspeed` tag value like for the below road.
![speeddif](https://cloud.githubusercontent.com/assets/11845908/10278270/8b70dbac-6b79-11e5-8ee3-06dd3c37b7dc.gif)

[2015-10-06 09:08] pratikyadav commented on #120
![japan](https://cloud.githubusercontent.com/assets/12744420/10304414/a36fe252-6c37-11e5-9334-be281599b2da.gif)

Seeing a lot of holes/missing strips in GSI japan satellite imagery which are not actually one when we zoom in.

@mapbox/team-data

[2015-10-08 05:59] pratikyadav commented on #120
## Mapping report

Pass 1 and 2 done on two tasks for the parts with Japan GSI Satellite Imagery coverage.

**[48 - Japan road improvement: Fukushima](http://tasks.openstreetmap.in/project/48)**

![screen shot 2015-10-08 at 11 25 13 am](https://cloud.githubusercontent.com/assets/12744420/10358764/4beca8d4-6daf-11e5-9665-9e808aed81a6.png)

**[49 - Japan road improvement: Mito](http://tasks.openstre

[2015-10-08 06:12] maning commented on #120
For later consideration, it would interesting to log who is editing in the TM outside the data team.  This is just to highlight that this work is with the rest of community in Japan.

cc @mapconcierge

[2015-10-08 07:27] planemad commented on #120
**Important**
JOSM allows combining ways with different relations without any warning. In this example, roads with the same tags but part of different bus route relations were merged with no dialog. This will break the bus route relation. Be very careful when merging roads in urban areas as they usually have bus route relations
![untitled](https://cloud.githubusercontent.com/assets/126868/10359915

[2015-10-09 00:33] nickidlugash opened #124 "DC motorway no longer under construction"
http://www.openstreetmap.org/edit#map=17/38.87716/-76.98823

![screen shot 2015-10-08 at 8 29 19 pm](https://cloud.githubusercontent.com/assets/5607844/10383313/4d192254-6dfb-11e5-935d-b61a037b8513.png)

I added this note: http://www.openstreetmap.org/note/448249#map=17/38.87740/-76.98809&layers=N

I'm not sure yet how to update the road geometries. Need to find updated satellite imagery to trace?

[2015-10-09 00:37] ericfischer commented on #124
Seems like a GPS track would be ideal for getting the new road geometry.

[2015-10-09 15:38] Andygol commented on #120
**In order not to miss anything - use Todo Plugin**

![image](https://cloud.githubusercontent.com/assets/369696/10397293/88b3b68a-6eaf-11e5-82e4-f9e482655f73.png)
http://wiki.openstreetmap.org/wiki/JOSM/Plugins/TODO_list

1.  Select required features
2. Add them into Todo List
3. Select and mark it one by one
4. Save result
5. Clear the list

![josm-using-todo-plugin](https://cloud.githubuserconte

[2015-10-09 19:38] lxbarth opened #125 "Detect sidewalks and crossings that aren't tagged as such"
We need to identify all `highway=footway` that are sidewalks or crosswalks but **not* tagged accordingly with the sub tags `footway=sidewalk` or `footway=crossing`. This is a non-trivial task as there are many valid footways that are tagged `highway=footway` in OpenStreetMap - for instance a footway through a park.

## Example

Look at this example (click for map):

[![](https://www.evernote.com/s

[2015-10-09 22:53] nickidlugash commented on #124
@ericfischer oh good idea, thanks!

[2015-10-11 19:39] lxbarth opened #126 "Fix sidewalk tagging"
Based on [the sidewalk analysis happening over on #125](https://github.com/mapbox/mapping/issues/125) we should fix tagging them. Use [osm-sidewalker](https://www.mapbox.com/osm-sidewalker/) identify and fix all `highway=footway` that are sidewalks or crosswalks which are not tagged in OpenStreetMap.

- Add [`footway=sidewalk`](http://wiki.openstreetmap.org/wiki/Tag:footway%3Dsidewalk) to `highway

[2015-10-12 13:28] planemad commented on #120
**Update**
- Today we started on [Kyushu Island](http://tasks.openstreetmap.in/project/57) of around 22,000km2
- Estimated completion: Pass 1: 9 days, Pass 2: 4.5 days

[2015-10-12 17:58] tcql commented on #125
First (super simple, super naïve) pass is kinda-sorta doing the right things:

<img width="576" alt="screen shot 2015-10-12 at 1 46 03 pm" src="https://cloud.githubusercontent.com/assets/348805/10434455/a2a711ba-70e7-11e5-8864-9a5e4525bb30.png">

color | meaning
---- | ----
red | should be `footway=crossing`
green | should be `footway=sidewalk`
purple | part should be `footway=crossing`, part shou

[2015-10-13 14:48] tcql commented on #125
<img width="581" alt="screen shot 2015-10-13 at 10 43 31 am" src="https://cloud.githubusercontent.com/assets/348805/10458130/534c3464-7197-11e5-9f52-c50f2b33c04b.png">

Getting closer! still need to split segments - flagging an entire way as "should be a crossing" isn't as helpful as flagging just a crossing segment:

<img width="222" alt="screen shot 2015-10-13 at 10 46 57 am" src="https://cloud.

[2015-10-13 15:22] planemad commented on #125
Very cool @tcql

Most of the sidewalk suggestions around the Lincoln memorial look like false positives, so its a nice area to see how to optimize the detection. Once the segment splitting is in this is going to be ready for the data team!

[2015-10-13 17:22] tcql commented on #125
should offset footways be considered `footway=sidewalk`?

<img width="520" alt="screen shot 2015-10-13 at 1 21 01 pm" src="https://cloud.githubusercontent.com/assets/348805/10462545/5a7dd646-71ad-11e5-91b3-88c989752234.png">

my hunch would be yes

/cc @planemad @lxbarth

[2015-10-13 17:48] lxbarth commented on #126
Let's be careful with [adding a `footway=sidewalk` tag to a `highway=footway` that contains a sidewalk relation to a road](http://wiki.openstreetmap.org/wiki/Tag:footway%3Dsidewalk#Use_of_a_relation_.28optional.29) - it may not be established mapping practice.

[2015-10-13 18:41] planemad commented on #125
@tcql the guideline for me if its alongside the road kerb its a sidewalk, else remains a footway. @1ec5 ?

Its quite hard to define a standard offset under which we flag it as a sidewalk, maybe 3 lanes wide?

<img width="520" alt="5a7dd646-71ad-11e5-91b3-88c989752234" src="https://cloud.githubusercontent.com/assets/126868/10463137/53c4d93c-7200-11e5-935f-b59cd3452794.png">

[2015-10-13 18:57] 1ec5 commented on #125
I disagree. It really depends: a single sidewalk can run right up to the curb for a stretch then move a few lane-widths away for another stretch but still remain a sidewalk. There is no standard offset, and it doesn’t even have to be completely straight. To me, it’s telling that in this example the walkway parallel to the road continues straight into a crossing at the intersection.

The curb right

[2015-10-13 19:05] 1ec5 commented on #125
Sometimes there are gray areas, for example when a walkway [meanders](https://www.openstreetmap.org/way/168949119) so far away from a road that it would appear distinct from the road at any zoom level, or when it’s built a bit wider to [accommodate bicycles](https://www.openstreetmap.org/way/168949119) (a lot of suburban “bike trails” are built this way).

[2015-10-13 19:15] bhousel commented on #125
Yeah I am pretty liberal with adding `footway=sidewalk` tag.  I use it for everything that is along a street (or parking area) or connects to the street, or is near the street.

I don't add the sidewalk tag for paths that lead up to building entrances, or go towards some other destination.

(Just my $0.02)

[2015-10-13 19:25] tcql commented on #125
This is actually kind of complex, because it seems like OSM wiki's opinion is that sidewalks should be at the edges of roads, but if you're thinking of the reason for distinction between a plain footway and a sidewalk as a matter of purpose, then things like this should be a sidewalk:

<img width="559" alt="screen shot 2015-10-13 at 3 20 59 pm" src="https://cloud.githubusercontent.com/assets/34880

[2015-10-13 19:44] bhousel commented on #125
Personally I would map that as a plain footway because it's not alongside a street.  That said.... If somebody else mapped it as sidewalk, I wouldn't bother changing it - that's cool too.

Also, the OSM wiki is.. *informative* but not *normative*.   It captures the opinion of the people who edit the wiki, not necessarily the opinion of the broader OSM community, or the needs of downstream data con

[2015-10-13 20:01] tcql commented on #125
Per voice with @lxbarth this isn't *super* important to nail down at the moment. We'll flag things that are *probably* sidewalks (because they are really close to roads, stick mostly along the same path as the roadway), and we can discuss some broader questions about tagging obscure cases some other time.

Biggest hurdle we're going to be looking at now is how to check if we've "fixed" everything.

[2015-10-13 20:15] bhousel commented on #125
agree :100:

[2015-10-14 05:11] mapconcierge commented on #120
＞ @planemad @lxbarth @maning @Rub21

I've translated @PlaneMad's post on diary of OSM.org in Japanese.
http://www.openstreetmap.org/user/MAPconcierge/diary/36106

![2015-10-14 14 09 15](https://cloud.githubusercontent.com/assets/416977/10475351/765ccb1c-727d-11e5-8bac-d3ed949cffc5.png)

[2015-10-14 06:41] planemad opened #127 "Japan OSM improvement validation"
Further to #120 we need a workflow to validate the cleanup process. The strategy of doing a multiple pass mapping already ensures more than one person maps in each block and verifies the previous pass.

In addition to this lets also do random validation checks for each task to make sure nothing has been missed out and flag the blocks to the last mapper for rework.

@jinalfoflia @ruthmaben can you

[2015-10-14 06:56] ruthmaben commented on #127
@jinalfoflia and I have started working on this @planemad

[2015-10-14 10:56] pratikyadav commented on #120
For selecting continous way use `Shift + W`. It grabs the continous active way upto the next intersection.

Fliter out `bridges` ,`tunnels` and minor roads.

![japan11](https://cloud.githubusercontent.com/assets/12744420/10481712/2c356a54-7290-11e5-8081-0aa97ba65d77.gif)

Just keep an eye on `tags` while merging.

[2015-10-14 18:44] mikelmaron opened #128 "Add guide on Managing validation errors"
Validation in JOSM is powerful, but the warnings can be a bit opaque, the UI to work through Validations is a bit futzy (ex. the process of select and zooming to problem), and tips for handling particular types of problems are needed.

Let's start a guide on this topic in particular.

[2015-10-14 18:57] mikelmaron opened #129 "Minor fixes to guides"
These are few minor fixes needed to guides, which I can't immediately handle being a Mac newbie

* [x] where is the best place to download java? included link doesn't have mac option. https://java.com/en/download/ or http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html
* [x] in getting started,the screen for enabling remote control inconsistent button width with scre

[2015-10-14 21:42] tcql commented on #125
looks like I did a dumb. Many of the segments I'm detecting as missing tags are actually fine, because, while the footway itself is not tagged as `footway=crossing`, there's a relation between the road and sidewalk that tags them as crossings.

For example:

<img width="893" alt="screen shot 2015-10-14 at 5 41 37 pm" src="https://cloud.githubusercontent.com/assets/348805/10498824/e0488968-729a-11e

[2015-10-14 21:49] 1ec5 commented on #125
Yes, this is a common tagging style (and my personal preference, just out of expediency), although recent changes to iD’s presets are gently nudging me towards using `footway=crossing` ways too. By the way, call it a shared node. A [relation](http://wiki.openstreetmap.org/wiki/Relation) is a much more complicated concept; you had me freaking out when I first read that! :smile:

[2015-10-14 22:14] tcql commented on #125
okay, per voice with @lxbarth again, we'll concentrate on segments missing `footway=sidewalk`, and punt a bit on crossings. In an ideal world I could link up segments that cross roads, don't have `footway=crossing` and don't have shared nodes that indicate `highway=crossing`, but right now this is not high priority

[2015-10-15 01:26] lxbarth commented on #120
*So amazing.* Thank you @mapconcierge !

[2015-10-15 02:13] mapconcierge commented on #120
Your too :-)  ＞ @lxbarth
Thanks for great challenge for Asian mappers.

[2015-10-15 08:56] maning commented on #129
@mikelmaron , I updated the screenshots for the EN version for a more consistent UI.

[2015-10-15 09:15] maning commented on #128
Adding here previous docs related to validation for reference:
* http://wiki.openstreetmap.org/wiki/JOSM/Validator
* http://learnosm.org/en/coordination/review/#data-validation
* http://wiki.openstreetmap.org/wiki/OSM_Tasking_Manager/Validating_data

[2015-10-15 09:28] planemad commented on #120
@mapbox/team-data to speed up segment merging, JOSM can be configured to discard the `yh:WIDTH` tag automatically when editing. To do this search for the `tags.discardable` property in [advanced JOSM settings](https://gist.github.com/planemad/517401649204c474c906) and add `yh:WIDTH` to the list.
<img width="624" alt="screenshot 2015-10-15 14 54 35" src="https://cloud.githubusercontent.com/assets/1

[2015-10-15 10:10] ruthmaben commented on #127
@planemad: We chose random blocks to validate on both the tasks and here are few observations:

[Overall Observations](https://gist.github.com/ruthmaben/e3c65b51caf0e60c2885):

| Overall Tasks | Validated | Invalidated | Error % |Accuracy% |
| -------- | ------------ | --------------- | ------------- | ------------ |
| 32  |    14 | 18 | 56.25 | 43.75 |

| Whole task | Validated | Invalidated |
|

[2015-10-15 13:15] planemad commented on #127
Nice work @ruthmaben @jinalfoflia . We have two valuable findings from this:

This is great, and the numbers reflect this very strongly. This is hard to enforce from the software side, maybe we can have a guideline for every mapper: If a task takes more than 30 mins, split it.

This is worrying and shows that we definitely need a validation step after every pass. Because our multiple pass cleanup

[2015-10-15 17:03] maning commented on #127
It seems like 1 zoom higher from the current tile/task size is the sweet spot.  It this is still unmanageable, we can split further.

Agreed, we should avoid making very small /tile/task size.

Also, I did a random check of the [evaluated geometries](https://gist.github.com/ruthmaben/e3c65b51caf0e60c2885), it seems that a lot of them were edited by other other mappers outside @mapbox/team-data. Pe

[2015-10-15 21:25] tcql commented on #125
Latest results I've got for DC area:

https://api.mapbox.com/styles/v1/tcql/cifpuldbphtbmr7lxw6tb2tay.html?title=true&access_token=pk.eyJ1IjoidGNxbCIsImEiOiJaSlZ6X3JZIn0.mPwXgf3BvAR4dPuBB3ypfA#13.605087499147213/38.89299098795752/-77.04346376737973/0

I'm working on running a bigger job, but having some issues with splitting up the job size / getting tile-reduce-watchbot to play nice. I'll still t

[2015-10-16 03:55] maning opened #130 "Loading session UI changes in JOSM v8882"
Modify the mapping guide to to reflect UI changes. https://github.com/mapbox/mapping/wiki/Saving-and-loading-a-JOSM-session

[2015-10-16 05:53] #129 closed

[2015-10-16 05:54] maning commented on #130
josm-tested has the old UI, update the guide when the new UI is in tested.

[2015-10-16 12:36] planemad commented on #127
There is no way to fine tune the size currently in the task manager. Is this something we should add as a feature?

Ok, this makes sense as they were using iD :scream:

[2015-10-16 14:16] maning commented on #127
We can add custom geojson file if needed.

[2015-10-16 17:15] SK53 commented on #123
When doing this please subtag with something like residential=mobile_home_park. You will need to review taginfo for plausible tags.

[2015-10-16 19:07] mikelmaron commented on #129
:boom:

[2015-10-16 21:27] tcql commented on #126
I've got a slippy map of New York, DC, California, and Germany using the current logic [here](https://api.mapbox.com/styles/v1/tcql/ciftz3vmh0015tgkpfyy0rn4l.html?title=true&access_token=pk.eyJ1IjoidGNxbCIsImEiOiJaSlZ6X3JZIn0.mPwXgf3BvAR4dPuBB3ypfA#9.73/40.6906/-73.9828)

@planemad can you take a look at this and see if you can do anything with it? Let me know how you think we could improve our si

[2015-10-19 10:04] ramyaragupathy commented on #112
@lxbarth Here is a link to the [team edits in Myanmar](https://github.com/mapbox/data/issues/1304#issuecomment-130339820). Edit counts from the [osm-query](http://mapbox.github.io/osm-query/#) as follows:
![screenshot 2015-10-19 15 32 41](https://cloud.githubusercontent.com/assets/12103383/10574947/d0df1520-7676-11e5-8dab-a75d5ac9a454.png)

[2015-10-19 12:40] planemad commented on #126
@tcql looks great. Was digging through this and have some observations:

- Motorways don't have sidewalks, so its pretty easy to drop these false positives.
![screenshot 2015-10-19 17 17 18](https://cloud.githubusercontent.com/assets/126868/10577029/5c8c7e10-7685-11e5-9c69-36305e9c47f5.png)
- Most false positives seem to be in leisure areas like parks, stadiums and around lakes. These areas usuall

[2015-10-19 13:23] planemad commented on #120
**Update**
<img width="395" alt="screenshot 2015-10-19 18 48 37" src="https://cloud.githubusercontent.com/assets/126868/10578802/0b2814d2-7692-11e5-80c9-46e0086a8246.png">
- Pass 1 of Kyushu complete: 19 members, 5 days
- Pass 2 estimate: 4.5 days (Thursday)

[2015-10-19 13:49] tcql commented on #126
@planemad thanks! I'll hit as much of this this morning as I can

:+1: removing motorways

That's tough to narrow in on -  roads can cut through leisure areas, or run along the edges and have their sidewalks marked inside the park area
<img width="229" alt="screen shot 2015-10-19 at 9 34 40 am" src="https://cloud.githubusercontent.com/assets/348805/10579181/b8c0cdb2-7644-11e5-8919-849f4bfa4104.png

[2015-10-19 14:18] planemad commented on #126
What could quickly help is highlighting parks and water areas on the map. That way its easier to investigate them visually on the map which is effective in taking a decision.

:+1: nothing too drastic. I feel the eye might be able to spot odd patterns more easily this way.

Just remembered theres a great hack by @geohacker which could help: http://geohacker.in/unconnected-tiger/

It uses surface A

[2015-10-19 21:20] samely commented on #104
@Rub21 has updated issues in this task, so we the status is:

![image](https://cloud.githubusercontent.com/assets/10425629/10591687/25ee2302-767d-11e5-8015-902be9767a6f.png)

[2015-10-19 22:19] tcql commented on #126
@planemad

<img width="879" alt="screen shot 2015-10-19 at 6 14 37 pm" src="https://cloud.githubusercontent.com/assets/348805/10592933/77a0044e-768d-11e5-8453-d117f42183eb.png">

Build a little prototype [here](https://tcql.github.io/maps/sidewalks.html)

- show parks
- show water
- exclude motorways from sidewalk checking
- supports click to view data, & a button to open in JOSM

I'm running a ti

[2015-10-20 03:26] planemad commented on #126
@tcql :+1: beautiful!

[2015-10-20 09:15] #112 closed

[2015-10-20 13:43] tcql commented on #126
updated map with the continental US

<img width="926" alt="screen shot 2015-10-20 at 9 34 04 am" src="https://cloud.githubusercontent.com/assets/348805/10608864/fbbfc652-770e-11e5-9aa7-84c474a31841.png">

[2015-10-21 06:42] pratikyadav commented on #120
## Update

Yesterday we (@pratikyadav @ramyaragupathy @maning @planemad ) had a chat with @mapconcierge and discussed briefly about the current status of this project, as well as the future course of actions. Here are notes on the conversation-

- Japan OSM community appreciate Mapbox efforts and are willing to contribute but, language barrier to effectively communicate is the problem.
- We need t

[2015-10-21 06:53] pratikyadav commented on #120
## Tokyo Mega Task

As per the previous discussion, we'll create the next mega task for Japan on [TeachOSM](http://tasks.teachosm.org/).
To make it simpler for the new users and community, we will be doing only pass 1 on this task.

#### Next Action-

- [ ] @mapconcierge to create Tokyo task using these [instruction](https://gist.github.com/pratikyadav/fcbcc24e3e13f866b8a4)
- [ ] @mapbox/team-data

[2015-10-21 12:19] maning commented on #126
Per voice with @srividyacb and @jinalfoflia, we will run a couple of test cases today and Friday using @tcql's map.  To easily monitor discussion, all encountered false positives will posted in #125.
Discussion on the final workflow will be here.

[2015-10-21 13:16] Andygol commented on #120
### 九州 Kyushu task - 57
Pass 1 and 2 done - http://tasks.openstreetmap.in/project/57#stats
![image](https://cloud.githubusercontent.com/assets/369696/10637487/9eb7df20-780e-11e5-9c62-da422f904bb0.png)

[2015-10-21 14:39] maning commented on #126
[WIP] Workflow for sidewalk tagging

@srividyacb  and @jinalfoflia is currently testing @tcql's map to fix sidewalks and flag false-positives.
For easy tracking, false positives will be reported at #125. This is to improve the detection of sidewalks.

However, on our initial pass today, we think that working on each detected way would be too onerous.
The best way is to assign people to work on a l

[2015-10-21 14:42] maning commented on #126
Whitelist `foot=yes; highway=cycleway`.  See: https://www.openstreetmap.org/way/25964014/

[2015-10-21 14:43] maning commented on #125
Whitelist `foot=yes; highway=cycleway`.  See: https://www.openstreetmap.org/way/25964014/

[2015-10-21 14:47] maning commented on #125
@tcql, I'm interested on how your [detection magic works in this area](https://www.openstreetmap.org/#map=18/12.97947/77.63604)

This is the park near BLR office.  There is sidewalk and a footway inside the park.
![screen shot 2015-10-21 at 8 10 18 pm](https://cloud.githubusercontent.com/assets/353700/10639951/46d5d844-7830-11e5-93dd-ac33e6531c7b.png)

[2015-10-22 10:23] mapconcierge commented on #120
Japanese Students are readying mega Tokyo Task by JOSM...

![12022351_1136401849722118_382764361824730268_o](https://cloud.githubusercontent.com/assets/416977/10662872/3eb075d0-78f2-11e5-9c9a-2d6de97176b0.jpg)

I will make a task-project on the TeachOSM's Tasking Manager tonight. :-)

[2015-10-22 21:42] tcql commented on #126
- [ ] Set up daily runs
- [ ] Hook daily runs into interactive map
- [ ] build density grid

Got hung up on other things the past few days, tonight is my test run for the daily cron script, and tomorrow I should get the density grid worked out.

[2015-10-23 03:27] mapconcierge commented on #120
I've made a Tokyo Mega Task area as GeoJSON!
https://gist.github.com/mapconcierge/17c5c01d384191eeccac
![2015-10-23 12 24 13](https://cloud.githubusercontent.com/assets/416977/10683824/26bed964-7981-11e5-83e2-c641c54d5868.png)

Next step: making a Task-Project on TeachOSM Tasking Maneger.

[2015-10-23 03:51] mapconcierge commented on #120
I've made Tokyo Mega Task on the TeachOSM Taking Manager.
http://tasks.teachosm.org/project/91

![2015-10-23 12 49 25](https://cloud.githubusercontent.com/assets/416977/10684117/bdcc9adc-7984-11e5-8204-b4128085ab08.png)

[2015-10-23 05:51] maning commented on #120
### Filtering data in JOSM and iD

- JOSM users: Use inverse filter `highway=motorway|trunk|primary|secondary|*link|motorway_link`

![josm_filter](https://cloud.githubusercontent.com/assets/353700/10685384/066bd5f4-7977-11e5-9c2a-d072dab57128.gif)

- iD users: Use the `Map data > Filters`

![id_filter](https://cloud.githubusercontent.com/assets/353700/10685385/06a280fe-7977-11e5-88f1-95a0b289f0ef.

[2015-10-23 06:03] ramyaragupathy commented on #120
#### Random admin tags on major roads

![admintags_small](https://cloud.githubusercontent.com/assets/12103383/10685578/32ded2d8-7979-11e5-87ab-8c997a3655c6.gif)

Though they are part of some relation, these boundaries are not continuous.  How do we deal with these random boundary tags?

cc @maning @mapconcierge

[2015-10-23 06:03] maning commented on #120
@mapconcierge Great!

I modified the EN instructions since we agreed to focus on re-aligning major roads for now see [this](https://github.com/mapbox/mapping/issues/120#issuecomment-149796885) and [this](https://github.com/mapbox/mapping/issues/120#issuecomment-149798448).

I also created GIFs on how to filter major roads in iD and JOSM.  Ideally it should be in the TM project Instructions tab, it

[2015-10-23 06:04] maning commented on #120
Do not merge or delete. What do you think @mapconcierge?

[2015-10-23 06:54] maning commented on #126
@tcql, we tried adding your map as background image in JOSM, but it doesn't show your [glowing green style](https://a.tiles.mapbox.com/v4/tcql.usa-sidewalks/14/4827/6155.png?access_token=pk.eyJ1IjoidGNxbCIsImEiOiJaSlZ6X3JZIn0.mPwXgf3BvAR4dPuBB3ypfA).

[2015-10-23 10:00] srividyacb commented on #125
The automatic matching of sidewalks is not detecting some of the sidewalks which have `bridge=yes` tag. Only in some parts its detecting the footways which are tagged along with bridge.
[Link to area](https://www.openstreetmap.org/#map=17/40.092169045885235/-75.1376944919618)

![sidewalk](https://cloud.githubusercontent.com/assets/3423533/10689709/df403578-799a-11e5-87ae-cc139872f9de.gif)

[2015-10-23 11:06] maning commented on #125
@tcql Here's a few more false-pos1tives:

![screen shot 2015-10-23 at 3 53 56 pm](https://cloud.githubusercontent.com/assets/353700/10690578/7b860746-79a0-11e5-9176-50bf594f6d26.png)

![screen shot 2015-10-23 at 3 54 35 pm](https://cloud.githubusercontent.com/assets/353700/10690575/7b847f52-79a0-11e5-9ddd-d891e5faa346.png)

![screen shot 2015-10-23 at 3 55 27 pm](https://cloud.githubusercontent.co

[2015-10-23 11:17] tcql commented on #125
@srividyacb interesting. bridges / tunnels should work - I've got code that checks the `layer` between the road and footway when testing intersections. I'll try and track down what's going on.

[2015-10-23 11:57] maning commented on #120
Documenting a few issues now that we are using the [teachosm TM instance for Tokyo](http://tasks.teachosm.org/project/91):
* Changeset comment and source tag were not assigned automatically in JOSM. It works on iD.  **Make sure you copy the recommended changeset comment from the Instructions.**
* For very dense areas, JOSM complain that the data is too big even when working on the smallest possibl

[2015-10-23 12:49] srividyacb commented on #125
Came across some more false positives:

**Images linked to OSM link**

[![screenshot 2015-10-23 15 51 55](https://cloud.githubusercontent.com/assets/3423533/10690321/86334106-799e-11e5-8f72-e3153e710084.png)](https://www.openstreetmap.org/#map=17/39.75361191663184/-75.55037939667096)
Another Example: https://www.openstreetmap.org/#map=18/32.892905/-97.282417
*There is really lot of gap between the

[2015-10-23 13:04] maning commented on #126
@lxbarth Before going full steam with the [above workflow](https://github.com/mapbox/mapping/issues/126#issuecomment-149917473), should we first inform the talk-us community? Especially since sidewalk tagging is tricky and there is no consensus within the list.

[2015-10-23 14:49] maning opened #131 "Hurricane Patricia Activation"
Stub ticket to coordinate @mapbox/team-data efforts on HOT Activation for Hurricane Patricia.

[2015-10-23 14:56] lxbarth commented on #131
- @rub21 monitoring hot channels, team ayacucho ready to hop into action if HOT activates

[2015-10-23 15:01] 1ec5 commented on #125
At a cursory glance, some of Maning's examples look like sidewalks to me, although there's some gray area. In the U.S., the trend is to construct sidewalks set back from the street by increasing distances. Of course, if you see a creek running between the footway and the road, it's less likely to be a sidewalk.

[2015-10-23 16:10] lxbarth commented on #131
@rub21 - per chat, pls get relevant INEGI data ready for tracin layer. @mike we should communicate availabilty well.

[2015-10-23 16:11] lxbarth commented on #131
Cc @mikelmaron

[2015-10-23 16:27] Rub21 commented on #131
@lxbarth @mikelmaron @maning  I am jumping in that now.

[2015-10-23 18:23] camillacaros commented on #131
@lxbarth @mikelmaron @maning @Rub21 I'm working on identifying and processing imagery from DG right now. Let me know if any other imagery comes through from INEGI or other that needs to be processed/vetted against what we already have available.

[2015-10-23 18:35] rodowi commented on #131
awesome!

Guys we are grouping official datasets here: http://busca.datos.gob.mx/#/grupos/rmx
We already signed the authorization letter to OSMF for this datasets

If you need something on ODBL let me know and we add it to datos.gob.mx

[2015-10-24 01:12] camillacaros commented on #131
We are currently processing good color, nearly cloudless imagery to z19 for the following extents to Mapbox Satellite, which is available to HOT for tracing. Imagery will be live in a few hours.

The extents cover the immediate HOT activation region along the coast + 50km inland, and fills in a few extra areas that have been identified as having poor imagery coverage by HOT coordination group.

[!

[2015-10-24 17:18] Rub21 commented on #131
@lxbarth @rodowi @mikelmaron @maning @camillacaros : I've made a  diff  [ map](https://a.tiles.mapbox.com/v4/ruben.npoa0pi8/page.html?access_token=pk.eyJ1IjoicnViZW4iLCJhIjoiYlBrdkpRWSJ9.JgDDxJkvDn3us36aGzR6vg#8/19.821/-99.841)  OSM vs RNC and  CGU , This is for whole Mexico,  you can find the missing roads an check out the offset ,
The link for JOSM and iD:
`https://a.tiles.mapbox.com/v4/ruben.f0

[2015-10-24 17:20] camillacaros commented on #131
Hi folks, I just checked in on imagery renders -- looks like all imagery has been processed. There may be some caching issues as final tiles roll in, but otherwise all should be there.

[2015-10-25 11:50] maning commented on #131
@camillacaros and @Rub21!

[2015-10-25 15:58] rodowi commented on #131
:+1: so awesome @Rub21!

would be great to share this on the talk-mx list

[2015-10-25 17:28] Rub21 commented on #131
@rodowi , tienes razon, ahora mismo...

[2015-10-25 22:14] gundersen commented on #131
@Rub21 @maning any plans to post a few before and after shots of the tracking work? Also, how many edits have been made as part of the activation? How maybe in the first 24 hours? cc @lxbarth - FYI talking to Re/code and might loop this work in, specifically in terms of our satellite imagery buy helping us make better data.

[2015-10-26 12:57] pratikyadav commented on #120
https://www.openstreetmap.org/user/pratikyadav/diary/36182

Dairy entry up in English for Japan mega task.
@mapconcierge would be great if you or someone from Japan OSM community can translate this in Japanese.

[2015-10-27 09:13] maning commented on #131
![mx-hurricane](https://cloud.githubusercontent.com/assets/371666/10736196/a8dcaaf4-7c31-11e5-87f8-e5a7bfa0c0ad.gif)
_Data edits in the first 72 hours_

* 432 contributors mapped 5.6k miles of road + 72k buildings in 72hrs with substantial contributions from the @mapbox/team-data
* Processed DG imagery to improved coverage over priority areas
* Analyzed INEGI road data to identify missing roads an

[2015-10-27 11:41] maning commented on #126
Done. Waiting for community discussion.

[2015-10-27 12:14] pratikyadav commented on #120
![screen shot 2015-10-27 at 2 49 04 pm](https://cloud.githubusercontent.com/assets/12744420/10757064/413bf88a-7cce-11e5-9e65-3eb975818835.png)

[2015-10-27 14:42] maning opened #132 "Afghan EQ HOT Activation"
HOT Activated for [7.5 EQ over Afghanistan-Pakistan-India Region](http://wiki.openstreetmap.org/wiki/2015_Eastern_Afghanistan_Earthquake). @maning @shvrm @geohacker is coordinating with the HOT Activators via skype channel.

Current activities
- [x] Improve imagery coverage over affected areas.
- [x] Setup priority areas for preparation of Tasking Manager projects.
- [x] Link with local contacts i

[2015-10-27 19:15] tcql commented on #126
@maning I moved the final location of the interactive map to [OSM Sidewalker](https://mapbox.com/osm-sidewalker/). This supports selecting z15 tiles and opening them with segments selected in JOSM, as well as opening individual segments in iD

[2015-10-27 20:21] RicoElectrico commented on #126
Is it possible to get that map in an international version?
(on a side note, it's funny how USA is assumed implicit at Mapbox and others. Reminding you that there is world beyond the States :stuck_out_tongue: - please consider this for all your other activities and development.)

[2015-10-27 20:48] camillacaros commented on #132
@maning @lxbarth @gundersen @mikelmaron

Imagery to z19 has been rendered for the entire Nangarhar province. [Coverage gist map.](https://gist.github.com/camillacaros/3bc2d9c0c040841cc4af)

I'm working on the next round of imagery to publish for priority cities farther to the North in Badakshan, and Takhar provinces now.

[2015-10-27 21:01] tcql commented on #126
@RicoElectrico definitely! It's on the list. We started in the US intentionally because some other areas tend to follow other types of tagging, and so we could have a good basis to start from

[2015-10-27 21:17] Rub21 commented on #132
@maning @lxbarth @gundersen @mikelmaron @camillacaros :

Mapbox Peru Office started  working since today in http://tasks.hotosm.org/project/1264, we are  focusing in the red area.

![image](https://cloud.githubusercontent.com/assets/1152236/10772861/2424847c-7cc6-11e5-88cc-e31e9be381de.png)

[2015-10-28 01:01] camillacaros commented on #132
Sounds great @Rub21 I've moved fwd with processing imagery for the following [area](https://gist.github.com/camillacaros/8f826e98cd8e2969bcd7), which covers that priority activation zone as well as the larger activation zone. Hi-res imagery is currently flowing into `mapbox.satellite` for this HOT activation region down to zoom 19 and is available to use for tracing.

[<img width="786" alt="screen

[2015-10-28 03:20] maning commented on #126
![sidewalk](https://cloud.githubusercontent.com/assets/353700/10778887/3af4b908-7d50-11e5-9726-fbdbb62f539c.gif)

@tcql Excellent! Tile download is really helpful. To recap our workflow:

1. Select a red tile in the map. Click, **Open in JOSM**.
2. Add the selected sidewalks in JOSM's **Todo list**.
3. Review and add `footway=sidewalk`.
4. Click **Mark** and move to the next in the list.
5. Upload

[2015-10-28 06:50] pratikyadav commented on #132
Seeing a lot of 2010 imported data from user - [afgroadsimport](https://www.openstreetmap.org/user/afgroadsimport). The source of this dataset is [Afghanistan Information Managment Service](http://www.aims.org.af/index.aspx).

There are 2 issues with these import-
1. Alignment - based on low resoultion imagery are thus are not aligned.
2. Missing connection- Overlaping nodes on each other but not

[2015-10-28 06:55] maning commented on #132
![roads_vs_rivers](https://cloud.githubusercontent.com/assets/353700/10781637/d5509a6c-7d6e-11e5-818f-dcb8d7b3cf88.gif)

Roads and dry river beds maybe confusing, use Mapbox Terrain or OpenCycleMap to compare.  Rivers in gullies. Roads/paths normally follow ridges. There are exceptions of course

[2015-10-28 08:13] mourner commented on #125
@tcql would you be open to a potentially huge performance improvement of the sidewalk script? I have a cool idea.

Currently my [linematch](https://github.com/mapbox/linematch) algorithm (which is used in the super-fast difference processor) essentially does line _subtraction_ within a tolerance. Earlier I was thinking of making the algorithm more generic by extending it to support line _intersect

[2015-10-28 10:21] pratikyadav commented on #132
![screen shot 2015-10-28 at 3 48 35 pm](https://cloud.githubusercontent.com/assets/12744420/10785624/63af7fdc-7d8b-11e5-9c7b-11fe4a7967b4.png)

**Warning**
Make sure you don't get confused between canals and roads. Found some canals that looked like paved roads.

cc @mapbox/team-data

[2015-10-28 13:43] maning commented on #132
## 2015-10-28

### Wins
:trophy: 10 @mapbox/india-office worked on [TM Project 1264](http://tasks.hotosm.org/project/1264)
:trophy: Imagery updates to fill-in gaps from Bing
:trophy: 22% done for [TM Project 1264](http://tasks.hotosm.org/project/1264) forcusing on Kunduz and Fayzabad priority areas

### Tracing issues

* Easy to trace residential areas.
* Difficult to differentiate dry riverbed ov

[2015-10-28 13:47] tcql commented on #125
@mourner oh that's awesome. Yea, something like that could be very awesome

[2015-10-29 08:57] mapconcierge commented on #120
Thanks @pratikyadav

--
I've done too!! :-)
https://www.openstreetmap.org/user/MAPconcierge/diary/36201

Happy Mapping!

![2015-10-29 17 56 02](https://cloud.githubusercontent.com/assets/416977/10814056/822720d8-7e66-11e5-9076-aa20caf79b2f.png)

[2015-10-29 09:00] pratikyadav commented on #120
@mapconcierge thank you :)

[2015-10-29 09:04] mapconcierge commented on #120
＞ @pratikyadav

I've sent a mail to Talk-ja ML. :-)

[2015-10-29 09:24] mapconcierge commented on #120
I've fixed a wrong cross road in Sagamihara city, Kanagawa Pref.
http://www.openstreetmap.org/edit?editor=id&#map=20/35.59537/139.34157

![crosspoint](https://cloud.githubusercontent.com/assets/416977/10814589/39c782de-7e6a-11e5-9194-3708938825f6.png)

[2015-10-29 09:28] taroken commented on #120
I've fixed this street which had't done correctly.
![mistake](https://cloud.githubusercontent.com/assets/13146539/10814709/e1ec28d4-7e6a-11e5-8f9f-2424356d6caa.png)
![mistake2](https://cloud.githubusercontent.com/assets/13146539/10814710/e1f0cc04-7e6a-11e5-802e-1601ce8f7e12.png)

[2015-10-29 09:31] kuma03 commented on #120
I've found a area which has not checked yet and added
![default](https://cloud.githubusercontent.com/assets/13146562/10814763/385ed090-7e6b-11e5-8d30-ff1c3bf4e3a5.png)

[2015-10-29 09:33] AyameO commented on #120
This is one of cross road in Sagamihara city, Kanagawa Pref. And I've fixed this wrong road.
![tasks](https://cloud.githubusercontent.com/assets/13360878/10814771/46f5dd56-7e6b-11e5-9c61-68c09ded2310.png)
![tasks](https://cloud.githubusercontent.com/assets/13360878/10814804/816beaca-7e6b-11e5-83df-bcc11610c835.png)

[2015-10-29 09:35] Misa0716 commented on #120
I've fixed a wrong cross road in Sagamihara city, Kanagawa Pre
![error2](https://cloud.githubusercontent.com/assets/13146549/10814863/d4af2698-7e6b-11e5-9ff6-6fda6c1fb5e3.png)
f.

[2015-10-29 10:20] pratikyadav commented on #120
@taroken @kuma03 @AyameO @Misa0716
This is great. Thank you so much for joining in. :tada:

[2015-10-29 10:21] yuuuuka commented on #120
I found and fixed this road which displaced from correct road in Sagamihara city , Kanagawa
Pref.
![wrong road](https://cloud.githubusercontent.com/assets/13146558/10815871/228bd1e4-7e72-11e5-9967-5c1d7de089ec.png)

[2015-10-29 12:09] ruthmaben commented on #132
![screenshot 2015-10-29 17 31 04](https://cloud.githubusercontent.com/assets/10308123/10817873/ffc9913c-7e62-11e5-971b-325d2e9bba21.png)

@mapbox/team-data - You may come across similar tags `building=yes`. Need to change this to `landuse=residential`

[2015-10-29 14:04] maning commented on #132
## 2015-10-29

### Wins
:trophy: 12 @mapbox/india-office + @Andygol  worked on [TM Project 1264](http://tasks.hotosm.org/project/1264).
:trophy: 32% (+10% from yesterday) done for [TM Project 1264](http://tasks.hotosm.org/project/1264) focusing on Kunduz and Fayzabad priority areas.
:trophy: HOT Activators [processed Post-EQ imagery from Pleiades](https://lists.openstreetmap.org/pipermail/talk/201

[2015-10-30 03:13] mirin0530 commented on #120
I've fixed this road,which is out of center in Sagamihara, Kanagawa prefecture.

![strange_way](https://cloud.githubusercontent.com/assets/13146610/10837647/35a0dbfc-7eff-11e5-8081-e3dad4b72431.png)

[2015-10-30 05:49] maning commented on #126
### 2015-10-30
Working on 3 states to benchmark effort
* @srividyacb - Texas
* @jinalfoflia - California
* @chtnha - New York

@tcql @lxbarth @planemad

[2015-10-30 06:47] pratikyadav commented on #120
@yuuuuka @mirin0530 Thank you :+1:

[2015-10-30 09:16] pratikyadav commented on #120
### Progress update 10/30

Currently working on- [Tokyo Mega task](http://tasks.teachosm.org/project/91) on TeachOSM

Start date- 24th October
Estimated time of completion - 1 more week.

![screen shot 2015-10-30 at 2 26 19 pm](https://cloud.githubusercontent.com/assets/12744420/10841771/3c219878-7f12-11e5-9ad2-b26db671cb83.png)

:trophy:  Dairy entry in English and Japanese for Tokyo Mega task
:t

[2015-11-01 23:23] calfarome commented on #120
Team progress in  Japan.
![japant](https://cloud.githubusercontent.com/assets/10413117/10871980/379d392e-80c5-11e5-98ae-cff31b61df42.png)

[2015-11-02 06:52] maning opened #133 "Translate mapping guides to JP"
Coordinate with JP community.
@planemad @pratikyadav

[2015-11-02 07:20] pratikyadav commented on #120
## Nagoya Mega task

As of today, Tokyo mega task is 68% complete. The next task in this series will be **Nagaya** and nearby area upto Tokyo.

![screen shot 2015-11-02 at 12 32 34 pm](https://cloud.githubusercontent.com/assets/12744420/10875934/fb329d50-815d-11e5-8883-9b352a323e90.png)

Next Action-
- [ ] @mapconcierge to make Nagoya task on TeachOSM using this geojson of extend of GSI imagery co

[2015-11-02 14:26] srividyacb commented on #126
### 2015-11-02

Today, we came across lot of fixed sidewalk from Friday.

* @srividyacb - Texas - http://overpass-turbo.eu/s/cmX
* @jinalfoflia - California http://overpass-turbo.eu/s/cn0
* @chtnha - New York http://overpass-turbo.eu/s/cn2
* @maning - North Carolina http://overpass-turbo.eu/s/cq5

@tcql @lxbarth @planemad

[2015-11-02 15:03] tcql commented on #126
@srividyacb thanks, I'm working out some issues with automatically updating the map. should have it sorted out today so we can see proper updates

[2015-11-04 10:14] #131 closed

[2015-11-04 11:07] maning commented on #120
@pratikyadav, can we run an initial analysis to check which parts of Nagoya mega-task needs focused work? I'm thinking we can use TM's priority areas option.  For example, a criteria maybe either:
1. densely populated areas, or;
2. untouched ways after the import.

cc/ @planemad @mapconcierge

[2015-11-04 11:22] pratikyadav commented on #120
The [tweet map](http://rub21.github.io/top-tiles/app/) by @Rub21  could be very helpful in identification of priority areas.

![screen shot 2015-11-04 at 4 50 58 pm](https://cloud.githubusercontent.com/assets/12744420/10936707/42d0f168-8314-11e5-8bcc-a5c24de86140.png)

[2015-11-04 12:41] srividyacb commented on #126
@tcql
In sidewalk detection we are getting some places where `highway=footway` is also having `area=yes` tag.

![footway](https://cloud.githubusercontent.com/assets/3423533/10932619/251c730c-82f8-11e5-8449-b9930bc989ae.gif)

Also there are `highway=footway` with a `tunnel=yes` tag. These should not be highlighted to mark as `footway=sidewalk` because they don't run alongside of main highways.

![t

[2015-11-04 13:23] maning commented on #132
Per voice with @planemad, we decided we will do validation focusing on checking consistency of road tagging.  This is to respond to the [request of the Activators](https://lists.openstreetmap.org/pipermail/hot/2015-November/010384.html).

@planemad Already made a visualization for [Nepal](https://api.mapbox.com/v4/planemad.5504651b/page.html?access_token=pk.eyJ1IjoicGxhbmVtYWQiLCJhIjoiemdYSVVLRSJ9

[2015-11-04 16:09] mapconcierge commented on #120
Great works!! :-)

＞ @pratikyadav
Okay, I will make Nagoya Mega Task soon!

[2015-11-04 16:26] mapconcierge commented on #120
I've made a Nagoya Mega Task!!
http://tasks.teachosm.org/project/104#

![2015-11-05 1 25 30](https://cloud.githubusercontent.com/assets/416977/10944368/328ec3d2-835c-11e5-928b-513a7cb73622.png)

[2015-11-05 05:31] NatsukiTashiro commented on #120
I found and fixed this road in Nagoya city, Aichi pref.
![image](https://cloud.githubusercontent.com/assets/13250654/10960755/da51c50c-83c9-11e5-90e0-a60a8b7f815c.png)

[2015-11-05 05:55] pratikyadav commented on #120
@mapconcierge Great work :tada:

@ramyaragupathy  can you write a OSM diary entry about Nagoya task and stats of Tokyo task in English?

[2015-11-05 08:40] pratikyadav commented on #120
## Progress Update

Completed Tokyo Mega task- http://tasks.teachosm.org/project/91#

![screen shot 2015-11-05 at 2 05 46 pm](https://cloud.githubusercontent.com/assets/12744420/10963449/857be95c-83c6-11e5-97df-71cad4687dea.png)

![screen shot 2015-11-05 at 2 04 35 pm](https://cloud.githubusercontent.com/assets/12744420/10963454/8e69c8fe-83c6-11e5-948e-1bbaf54317bf.png)

cc @lxbarth @maning @plane

[2015-11-05 09:07] planemad commented on #120
This is HUGE, amazing work everyone!

[2015-11-05 10:08] ramyaragupathy commented on #120
There is a diary entry up for Nagoya task now. http://www.openstreetmap.org/user/ramyaragupathy/diary/36249.
Next action on @mapconcierge to get a Japanese version out!

[2015-11-05 10:24] shvrm commented on #120
MASSIVE team effort! Great work everyone :japan: !

[2015-11-05 12:47] planemad opened #134 "Tagging Delhi & Mexico City railway networks"
Delhi and Mexico city have large metro railway networks, but the stations lack a `network=` tag that is helpful for adding the metro logo for the station icons.

**Task** Add relevant `network=` tags to the `railway=station` and `railway=subway_entrance` of the Delhi and Mexico city metro network.

- [x] Delhi
- [x] Mexico City

### Delhi Metro
As per [talk-in proposal]() we can use `network=DMRC`

[2015-11-05 14:53] chtnha commented on #134
I and @aarthykc together added `network=DMRC` for Delhi metro.
![delhi_metro](https://cloud.githubusercontent.com/assets/6770741/10971550/da894d5c-83fa-11e5-99f5-7f956ab3921f.png)

@planemad @mapbox/team-data

[2015-11-05 15:00] planemad commented on #134
@chtnha @aarthykc excellent! Just reviewed the edits, made [one correction](https://www.openstreetmap.org/changeset/35103650). We're done for Delhi.

[2015-11-05 16:52] Rub21 commented on #134
@planemad @chtnha @aarthykc I  added `network=STC Metro` for mostly of railway in  Mexico City: http://www.openstreetmap.org/changeset/35105751  http://overpass-turbo.eu/s/cul , but it is not completed yet,  because I found other tag   `network=Tren Ligero`
![image](https://cloud.githubusercontent.com/assets/1152236/10975101/379660d6-83b3-11e5-82c8-316eed9e206e.png)

![image](https://cloud.githubu

[2015-11-05 17:11] Rub21 commented on #134
About the previus  commnet https://github.com/mapbox/mapping/issues/134#issuecomment-154120244 we leave those as they are.

We're done for Mexico City!

[2015-11-06 04:56] planemad commented on #134
:+1: @Rub21

[2015-11-06 04:56] #134 closed

[2015-11-06 11:57] maning commented on #120
In preparation for the new Osaka task, we will exclude the main Osaka City which [we already did](http://tasks.openstreetmap.in/project/54).  We will include Tondabayashi, since the planned import will not incldue major roads that we are doing the realignment.

@mapconcierge

[2015-11-06 12:08] Andygol commented on #120
In case you faced with warning that JOSM can't download area (a lot of data) - use next overpass query for downloading data

[code]

[2015-11-06 14:08] planemad commented on #120
Have filed an issue in iD to prompt alternate imagery based on map location: https://github.com/openstreetmap/iD/issues/2826

This is an important issue to fix if we want new users to trace and realign from the correct source as we cannot expect them to know the availability of GSI and the tileurl.

[2015-11-06 15:00] lxbarth commented on #120
HUGE! @pratikyadav - we should diary-post this in Japanese and English. Maybe we can get @mapconcierge's help?

[2015-11-06 15:03] shvrm commented on #120
:boom: @pratikyadav!

[2015-11-07 06:47] bryceco commented on #125
I didn't see this mentioned before, but footpaths in parks I've tagged with surface=dirt still show up as potential sidewalks. Sometimes real sidewalks are dirt but usually not (USA).

[2015-11-07 14:31] tcql commented on #125
@bryceco thanks! we're still working on improving this, and surface checking is a great idea

[2015-11-09 10:47] pratikyadav commented on #120
https://www.openstreetmap.org/user/pratikyadav/diary/36280
OSM diary entry up.

cc @lxbarth @maning @planemad @mapconcierge

[2015-11-09 16:39] tcql commented on #126
just FYI to @RicoElectrico and anybody else wondering, international [sidewalk detection is up on the interactive page](https://mapbox.com/osm-sidewalker) now.

Daily updates are still stalled at the moment (particularly because we're working on some tweaks to tile-reduce and OSM QA tiles). I'm occasionally running manual updates. Some tweaks to improve false-positive matching are going to go in t

[2015-11-10 19:42] abel801 commented on #120
@pratikyadav  I don't know where can I translate the instructions, in a gist or do I have to have access to the task?

[2015-11-10 19:55] pratikyadav commented on #120
@abel801 you can make a gist, and i'll update them on the task

[2015-11-10 20:44] abel801 commented on #120
@pratikyadav the translation  to Spanish is  [ Here](https://gist.github.com/abel801/fc3de07e1c30ad9f171b)

[2015-11-11 08:29] mapconcierge commented on #120
I've made a Osaka Mega Task now!! Boom! :-)
http://tasks.teachosm.org/project/105

![2015-11-11 17 25 21](https://cloud.githubusercontent.com/assets/416977/11086965/9c2fa36e-8899-11e5-9404-9b6412ba3ea9.png)

[2015-11-11 08:46] maning commented on #120
Nagoya DONE! :rocket:

Next task is **Mega Osaka: http://tasks.teachosm.org/project/105**
Project is available in EN, ES, JP and RU languages.  Again, a some reminders when you edit:
* Before aligning, use the [combine-highways script](https://github.com/mapbox/mapping/tree/master/JOSM/scripts/combine-highways) in JOSM to merge highways.  Then, upload.
* Changeset comment and source tag were not a

[2015-11-11 19:58] lxbarth commented on #120
Incredible.

[2015-11-12 09:06] maning commented on #132
Done validating lower half of the TM project 1264.  Closing.

[2015-11-12 09:06] #132 closed

[2015-11-14 19:24] lxbarth opened #135 "[SF Buildings] Menlo Park"
Prepare and lead a task to trace buildings in Menlo Park and around. Some of it is already traced.

![](https://www.evernote.com/shard/s210/sh/27bf2c7f-8b6a-414b-a2b7-3118d68594dc/cf215e79e8f341e2/res/414ff7a3-aed0-4af2-ad84-fb20dd2c38b1/skitch.png?resizeSmall&width=832)

http://www.openstreetmap.org/#map=13/37.4506/-122.1778

[2015-11-14 19:28] lxbarth opened #136 "[SF Buildings] Mountain View"
Prepare and lead a task to trace buildings in Mountain View, Los Altos and around. Some of it is already traced.

![](https://www.evernote.com/shard/s210/sh/1c15c016-61f6-4afe-b677-14ffdae55019/6726eebc56902427/res/6bd70c19-570a-4e23-a2f3-82593e470810/skitch.png?resizeSmall&width=832)

http://www.openstreetmap.org/#map=13/37.3828/-122.0870

[2015-11-16 09:19] planemad opened #137 "Add feedback dialog to combine-highways script"
The [combine-highways](https://github.com/mapbox/mapping/tree/master/JOSM/scripts/combine-highways) JOSM script has been really useful to easily merge the large number of split roads in Japan.

What would be nice to add is a dialog that display how many roads was combined so that the user knows the script worked as it should have. Currently there is no feedback to the user after running the script

[2015-11-16 10:36] jinalfoflia commented on #126
@tcql we came across quite a few sidewalks with the `bicycle=yes` and `name` tags. In the talk-us mailing list, they have discussed that [named footways are not sidewalks](https://lists.openstreetmap.org/pipermail/talk-us/2015-October/015594.html). It would be great if we could eliminate them while processing itself.

/cc @maning @srividyacb

[2015-11-16 13:01] maning commented on #125
@tcql, here's a list of secondary tags that should be excluded:
area=yes
bridge=yes
tunnel=yes
name=*
bicycle=yes
highway=cycleway
area:highway=*

[2015-11-16 13:02] maning commented on #126
Here's the running list of secondary tags that should be excluded: https://github.com/mapbox/mapping/issues/125#issuecomment-157022204

[2015-11-16 15:12] Rub21 commented on #136
@mapbox/team-data  I've created task manager for this ticket. http://tasks.openstreetmap.us/project/9

@ediyes @luisalanya , ya pueden empezar con esta tarea :)

[2015-11-16 15:50] 1ec5 commented on #125
If tunnel is excluded, then so should bridge (skywalks, pedestrian bridges).

I don't think this tag should be excluded: in many localities, bikes are only allowed on the sidewalk, not the street, and the tagging would reflect that. I think highway=cycleway is sufficient for bike paths.

[2015-11-16 16:22] tcql commented on #125
these shouldn't be getting picked up anyway; the analysis only looks at `highway=footway`

There are definitely bridges with what I would consider a sidewalks (and aren't tagged right now), such as the [Arlington Memorial Bridge](https://www.openstreetmap.org/way/296901768) in DC

[2015-11-16 16:30] Rub21 commented on #137
@planemad thanks for feedback , I am  adding this on may to-do stuff

[2015-11-17 06:33] pratikyadav commented on #120
We are almost done with Osaka. (21% left)

We are extending the list of mega tasks to one more by including Hiroshima and thus will be covered with most of the east coast coverage of GSI imagery.

link of geojson for Hiroshima task -> https://www.dropbox.com/s/y4l84qw2bjtrlcm/Hiroshima.geojson?dl=0

Next action

- [ ] @mapconcierge to make task in teach OSM
- [ ] @pratikyadav to add instructions i

[2015-11-17 10:59] jinalfoflia commented on #125
@tcql these get picked up when they are combined with `highway=footway` tag.
For example [here](https://www.openstreetmap.org/way/264037112/history) where `bicycle=yes` and `highway=footway` tags are together.

![sidewalk-cycle](https://cloud.githubusercontent.com/assets/4470913/11209040/b01b8f28-8d44-11e5-9589-ef092fcf12eb.gif)

In [cases](https://github.com/mapbox/map-feedback/issues/12495), whe

[2015-11-17 17:59] tcql commented on #125
These should still be tagged as `sidewalks` though, if their function is as sidewalks. If the issue is that there are cycling-oriented styles that hide `highway=footway` + `footway=sidewalk` even when `bicycle=yes`, shouldn't the style be updated, instead of skipping things that should be corrected.

[2015-11-17 21:21] Rub21 commented on #137
done!, after run the script , it will give you a alert with summary of roads.

![image](https://cloud.githubusercontent.com/assets/1152236/11225263/3753e3b2-8d47-11e5-9aa7-3291bb569c8c.png)

[2015-11-17 21:21] #137 closed

[2015-11-19 00:58] mapconcierge commented on #120
I found this interest area in Nara city in OSAKA mega task.
But I guess, Under construction area. We shouldn't modify.
http://www.openstreetmap.org/edit?editor=id&#map=18/34.68176/135.80939
![2015-11-19 9 53 49](https://cloud.githubusercontent.com/assets/416977/11259318/030a5ab0-8ea4-11e5-8611-35780e553624.png)

[2015-11-19 01:00] mapconcierge commented on #120
＞ @pratikyadav
Okay, I will make a Hiroshima Task soon.
Wait a moment... :-)

[2015-11-19 01:15] hackablemeister commented on #120
This area is off to the left side over a wide range in Matsuzaka city.
http://www.openstreetmap.org/edit?editor=id&#map=17/34.54174/136.55632
![Uploading Matsuzaka_city.png…]()

[2015-11-19 01:16] wdolphin commented on #120
I found someone edited wrongly in Nara city, Osaka mega task.  So I fixed.

https://cloud.githubusercontent.com/assets/15658355/11259536/b4cd85f0-8ea5-11e5-8057-783cd724f963.JPG

https://cloud.githubusercontent.com/assets/15658355/11259538/b90e8272-8ea5-11e5-874c-87210a586e43.JPG

[2015-11-19 01:16] hackablemeister commented on #120
This area is off to the left side over a wide range in Matsuzaka city.
http://www.openstreetmap.org/edit?editor=id&#map=17/34.54174/136.55632
<img width="884" alt="matsuzaka_city" src="https://cloud.githubusercontent.com/assets/13362658/11259644/93047e64-8ea6-11e5-88b8-fb4885d5ebca.png">

[2015-11-19 01:37] hageshi1 commented on #120
I have no idea , how to fix? :-)
https://gyazo.com/09b3309a9a7daec272403490b837d08b
http://www.openstreetmap.org/edit?editor=id&#map=19/34.70021/135.81981

[2015-11-19 03:03] ediyes commented on #135
@mapbox/team-data  The task manager for this ticket it: http://tasks.openstreetmap.us/project/11

[2015-11-19 22:42] mapconcierge commented on #120
＞ @abel801  Muito Bom!!

＞ @planemad
Hiroshima Task!! http://tasks.teachosm.org/project/111
![2015-11-20 7 38 06](https://cloud.githubusercontent.com/assets/416977/11286747/2aec47c6-8f5a-11e5-959d-1410ad22f103.png)

[2015-11-20 22:16] karitotp commented on #136
Esta es la visualización de nuestro avance hasta el momento.

![visualizacion mountain view](https://cloud.githubusercontent.com/assets/11504548/11313291/c886a63a-8fa9-11e5-8e32-8526f1166d38.png)

cc. @lxbarth, @Rub21

[2015-11-21 01:08] andreasviglakis commented on #136
wow!

[2015-11-21 04:20] shvrm commented on #136
amazing guys @mapbox/peru-office

[2015-11-21 04:49] planemad commented on #136
:rocket: crazy stuff!

[2015-11-21 12:56] jothirnadh commented on #136
The colour combination is so attractive... amazing work @mapbox/peru-office

[2015-11-21 14:42] ianshward commented on #136
:eyes: Nice work!!!  +1 on that color combo, it is spectacular.

On Saturday, November 21, 2015, Jothirnadh <notifications@github.com> wrote:

[2015-11-21 16:35] abhisheksaikia commented on #136
This is incredible stuff @mapbox/peru-office

[2015-11-23 05:10] planemad opened #138 "Highways: Improving coverage of road network in India"
As per the latest [OSM data metrics report](https://www.mapbox.com/data-platform/country/#india) India has one of the lowest highway coverage levels for a big country (apart from China). Lets collect resources that can help us identify the most important missing highways and map them.

**Next Steps**
- Discuss strategy on evaluating existing coverage and prioritize what to map
- Collect mapping re

[2015-11-23 06:11] shravan91 commented on #138
Let me know how can I help @planemad. I can help in mapping as well as in collecting resources.

[2015-11-23 07:25] ruthmaben commented on #136
Nice work @mapbox/peru-office!

[2015-11-23 07:44] oini commented on #136
Wow! Great work @mapbox/peru-office.

[2015-11-23 07:58] pratikyadav commented on #120
@mapconcierge  Great :tada:
@hageshi1 Semms like a bridge connecting to a nearby parking area. Will be nice to add a `layer=1` tag to this road.

[2015-11-23 12:25] planemad commented on #138
To start, we are collating the road length statistics per state for each class of road from various sources. This will help give a more granular coverage % and a better idea of whats missing where.

Contribute to the spreadsheet [here](https://docs.google.com/spreadsheets/d/1uYmQEyZqP2tMe1cJYJUVcNIhFPCdzETsBh1kaSCZplI/edit?usp=sharing)

[2015-11-23 14:58] bonniebogle commented on #136
Great work everyone, this is fantastic!

[2015-11-23 19:47] #114 closed

[2015-11-24 12:50] oini opened #139 "[Mapillary] Improving Routing Information Using Mapillary Imagery [trial]"
**Objective:** Mapillary images are a good source to verify and add information to OpenStreetMap. Our goal is to use [Mapillary](https://www.mapillary.com) street photos to improve the map data like turn-restrictions and speed limits.

**Point of contact:** @jinalfoflia

**Team:** @oini @aarthykc @jinalfoflia

#### Task Workflow [Trial in progress]

Here is the [**work-flow**](https://gist.github.

[2015-11-25 06:45] jinalfoflia commented on #126
#### Sidewalk tagging report

- Till date there are 1,37,875 ways which are tagged with `footway=sidewalk` and `footway=crossing`.
![screenshot 2015-11-25 11 48 20](https://cloud.githubusercontent.com/assets/4470913/11389968/6ac5eee6-936b-11e5-829e-867060703586.png)
-  @maning , @chtnha , @srividyacb and @jinalfoflia have been working on tagging missing sidewalks and crossings in the US and have t

[2015-11-25 07:30] nikhilprabhakar opened #140 "[Highway Mapping India]: Improving the Expressways coverage in India"
**Objective:** Use the [statistics collected](https://docs.google.com/spreadsheets/d/1uYmQEyZqP2tMe1cJYJUVcNIhFPCdzETsBh1kaSCZplI/edit?pli=1#gid=1997886170&vpid=A1) on the expressways from [wikipedia](https://en.wikipedia.org/wiki/Expressways_in_India) to add/improve the OSM coverage of motorways in India.

**Scope:** Review existing coverage of expressways in OSM and add/reclassify missing expres

[2015-11-25 15:07] tcql commented on #126
@jinalfoflia thanks for writing this up! I'll make sure to push an update with the latest version of the map today to eliminate as many false positives as possible

[2015-11-25 15:27] abhisheksaikia commented on #140
Here is the initial gist of the "Expressway Improvement":
https://gist.github.com/abhisheksaikia/8f8edcad882c341fecb4. We will be adding short gifs to this gist to develop it into a full fledged guide.
cc: @nikhilprabhakar @jothirnadh @maning @planemad need  :eyes: on this.

[2015-11-25 15:41] lxbarth commented on #140
Prior art:

- http://roads.mapazonia.org/
- http://wiki.openstreetmap.org/wiki/WikiProject_Brazil/Brasil_250_Cidades

[2015-11-26 08:43] srividyacb commented on #126
As the [osm-sidewalker](https://www.mapbox.com/osm-sidewalker/) is not working for the bounding box and team is finding it difficult to work, we have pinged @tcql on this and we will start the sidewalk tagging as soon as it gets fixed.

[2015-11-26 08:46] srividyacb commented on #126
#### Overview

Use [osm-sidewalker](https://www.mapbox.com/osm-sidewalker/) to fix `highway=footway` with [`footway=sidewalk`](http://wiki.openstreetmap.org/wiki/Tag:footway%3Dsidewalk) and [`footway=crossing`](http://wiki.openstreetmap.org/wiki/Tag:footway%3Dcrossing) tags.

We need to identify and fix all `highway=footway` that are sidewalks or crosswalks which are not tagged in OpenStreetMap.

[2015-11-26 10:03] pratikyadav commented on #107
![screen shot 2015-11-26 at 3 32 40 pm](https://cloud.githubusercontent.com/assets/12744420/11420266/fdd1b75a-9452-11e5-8e90-856e106c5ef2.png)

@planemad  good to close here?

[2015-11-27 10:35] pratikyadav commented on #107
Done here. Nice work team.

[2015-11-27 10:45] planemad commented on #138
OSM road coverage statistics by state is now **[here](https://docs.google.com/spreadsheets/d/1uYmQEyZqP2tMe1cJYJUVcNIhFPCdzETsBh1kaSCZplI/edit?pli=1#gid=1153498981&vpid=B2)**

Generated using [osm-coverage](https://github.com/mapbox/osm-coverage) tile reduce processor.

[2015-11-27 12:02] pratikyadav commented on #124
![dc](https://cloud.githubusercontent.com/assets/12744420/11440737/1f1e6916-952b-11e5-8c98-aa54c31d4e66.gif)

Could't find GPS track to correctly identify the geometry of the missing road. Also no mapillary imagery to help. Would be great if someone can do a ground survey as its difficult to identify correctly where the`moterway` meet other roads (a mapillary trip could also help). For now its dif

[2015-11-29 11:16] jinalfoflia commented on #139
@aarthykc @oini and I worked in these areas on Thursday and Friday.

#### Thursday [26/Nov/2015]: [Washington DC](http://tasks.openstreetmap.in/project/60)

We put up a task in the [Tasking Manager](http://tasks.openstreetmap.in/project/60) with each block size of 0.16 square-km
Time taken: 1 hour 40 mins
Number of blocks covered : 19

*[Our Edits]( http://overpass-turbo.eu/s/cWG):*
- Number of tu

[2015-11-29 21:22] mikelmaron commented on #138
Super cool.

How is this best shared with the osm-in community, to start to address gaps? What about adapting the /data-platform/countries page for Indian states, on openstreetmap.in? How easy to add an overview map of completeness in all states? Could be a cool example for other communities to follow. Or we could think about how to add in more detail on the mapbox.com pages.

[2015-11-30 08:25] srividyacb opened #141 "[SF Buildings] Tracing buildings in San Francisco Peninsula"
**Objective:** Add missing building footprints in SF Peninsula

Prior Tasks: https://github.com/mapbox/mapping/issues/135 https://github.com/mapbox/mapping/issues/136

<img width="337" alt="screenshot 2015-11-23 11 49 18" src="https://cloud.githubusercontent.com/assets/126868/11330842/3f4c772e-91d8-11e5-8da2-bd11f0277ac7.png">
**Focus Area**: [1290 sq.km](https://gist.github.com/732acea19b0336e418

[2015-11-30 09:32] ramyaragupathy commented on #141
At present we are doing a trial run of a few blocks in the task, to arrive at a figure for number of buildings added by one person in an hour.

[2015-11-30 10:52] srividyacb commented on #141
We compared the building coverage using publicy available data in [Palo Alto](https://www.google.com/fusiontables/DataSource?docid=1r-wrSG94TjWWCJVB79B6F_BkYK1-ar0SCyq0AkQM#rows:id=1). Based on this analysis and visual check with Bing imagery, only a few buildings and building details are missing in OpenStreetMap.

Using Palo Alto public data building as baseline, we ran the analysis for building

[2015-11-30 11:26] ramyaragupathy commented on #141
After loading the 164 blocks onto [Tasking Manager](http://tasks.openstreetmap.us/project/12), it was split into 667 blocks.

We ran a trial trace picking blocks where there were no buildings. Here are the number of buildings added in this trial run.

![screenshot 2015-11-30 15 42 31](https://cloud.githubusercontent.com/assets/3423533/11469059/e0cfcf96-9779-11e5-887e-107d559f5027.png)

Looking at

[2015-11-30 11:34] abhisheksaikia opened #142 "[Highway Mapping India]: Improving the Expressways and National Highways coverage in India"
**Objective**: Improving the Expressways and national highways in India

**Focus Area**: India

**Team**: @jothirnadh, @nikhilprabhakar, @abhisheksaikia, @maning and @planemad

**Point of Contact**: @abhisheksaikia

**Duration**: To be updated

**Work-flow**:
* Checking the coverage of roads that connects all Indian towns/cities.
* Use [NGA](http://www.webcitation.org/getfile?fileid=95aeb9a62def8e

[2015-11-30 11:57] #140 closed

[2015-11-30 12:24] nikhilprabhakar commented on #142
Initially we collected the nationwide statistics with state-wise data in India using two main sources
- The state PWD websites.
- The [Basic Road Statistics of India](http://www.indiaenvironmentportal.org.in/files/file/basic%20road%20statistics%20of%20india.pdf) document of the Ministry of Road Transport and Highways.

##### The observations for the collected [road statistics](https://docs.google.

[2015-11-30 12:25] jothirnadh commented on #142
**Updating the missing towns and villages in India**

* In India, there are  [~7935 major cities/towns](http://censusindia.gov.in/2011-prov-results/paper2/data_files/India2/1.%20Data%20Highlight.pdf) officially recogized by the [Government of India](http://censusindia.gov.in/) according to the 2011 cecsus, but in OSM, there are only 3352 (as of 2015-11-23) cities/towns mapped as place nodes.
* Ana

[2015-11-30 12:33] abhisheksaikia commented on #142
#### Expressway mapping in India [#140](https://github.com/mapbox/mapping/issues/140):
Our first step was to cross check the individual expressways against what was on OpenStreetMap to determine if they were already mapped, and identify missing [expressways](https://docs.google.com/spreadsheets/d/1uYmQEyZqP2tMe1cJYJUVcNIhFPCdzETsBh1kaSCZplI/edit#gid=1997886170).

**Approach**

1. Researched finite

[2015-11-30 12:41] planemad commented on #142
From https://github.com/mapbox/mapping/issues/138#issuecomment-160472887

@mikelmaron what we need is resources that can help the community understand the data gap and help prioritize where effort is needed.

The  [osm-coverage](https://github.com/mapbox/osm-coverage) processor has been a great starting point to give a high level overview of data gaps, but will require more granular information to

[2015-11-30 12:45] planemad commented on #138
We're cleaning up our workflow documentation

@mikelmaron moving the conversation here https://github.com/mapbox/mapping/issues/142#issuecomment-160618405

[2015-11-30 12:45] #138 closed

[2015-11-30 12:50] pratikyadav commented on #110
![screen shot 2015-11-30 at 6 17 27 pm](https://cloud.githubusercontent.com/assets/12744420/11471913/a711d73a-978e-11e5-9462-c3c1dff4d170.png)

11% of the task completed(and validated) covering the inner city area. We have user [Rajkumarmishra](http://tasks.openstreetmap.in/user/Rajkumarmishra) making projects on tasking manager for improving road network in Indian cities.

cc @planemad

[2015-11-30 12:53] planemad commented on #124
@pratikyadav why not message an active mapper in the area?

[2015-11-30 13:00] pratikyadav commented on #124
@planemad  I have send a message to an active local mapper for clarification on this.

http://www.openstreetmap.org/user/DavidYJackson

[2015-11-30 13:01] abhisheksaikia commented on #142
The table below states with the states with the lowest OSM national highway coverage in India:

State Name | National Highways(NH) | OSM Coverage (NH) | % Coverage
--- | --- | --- | ---
Jammu & Kashmir | 2,593.00 | 1683.543097 | 64.93
Manipur | 1,745.74 | 1186.800814 | 67.98
Himachal Pradesh | 2,622.48 | 1911.573839 | 72.89
Mizoram | 1,381.00 | 1044.835092 | 75.66
Nagaland | 1,150.09 | 888.4723057

[2015-11-30 13:15] planemad commented on #142
@jothirnadh @abhisheksaikia @nikhilprabhakar going by the progress so far:
- Lets pick a small state with a large OSM coverage gap for trunk roads
- Make a listing of trunk roads in the state
- Validate each trunk road has been mapped correctly with proper route relations

[2015-11-30 15:29] abhisheksaikia commented on #142
As a trial run I have looked into the national highway coverage in Arunachal Pradesh.

**The workflow followed while doing the task**:
* Create a list of national highways in Arunachal Pradesh from a official source. In this case it is the [STATEWISE LENGTH OF NATIONAL HIGHWAYS IN INDIA 2014](http://morth.nic.in/showfile.asp?lid=366) published by the Ministry of Road Transport & Highways.
* Many o

[2015-11-30 16:25] mikemorris commented on #124
I can ground survey this (it's a few blocks from my where I live) if someone can point me in the right direction of good tools to do so.

[2015-11-30 16:55] pratikyadav commented on #124
@mikemorris  https://github.com/mapbox/mapping/wiki/Useful%20OSM%20Resources#survey-tools

Field paper is good for foot survey.

[2015-11-30 17:13] tcql commented on #126
Quick update on the tile-reduce side: I'll be working to get an automated solution using scheduled Autoscaling, so we can run sidewalk analysis daily. Stats will [be posted here](https://github.com/mapbox/osm-sidewalker/blob/stats/README.md)

cc @maning @srividyacb

[2015-11-30 18:31] jinalfoflia commented on #139
I have posted the [diary](https://www.openstreetmap.org/user/jinalfoflia/diary) in OSM about the current work-flow and posted these questions to the community:

While mapping, the team came across the following issues:

##### While mapping `turn restrictions`

- They are easily visible in the imagery and map but are leading to `splitting` of major roads and also leading to addition of multiple `re

[2015-11-30 21:47] lxbarth commented on #126
@tcql fyi, only US needed for now in case this is much faster to set up for US than for entire world.

[2015-12-01 04:19] ediyes commented on #136
Done!!!  :+1:
![buildingmv](https://cloud.githubusercontent.com/assets/5991158/11492241/51085b46-97b8-11e5-9370-5e45af9c3ce3.png)

cc @lxbarth @Rub21

[2015-12-01 04:19] #136 closed

[2015-12-01 05:59] jothirnadh commented on #142
As a trial run I analysed the National highway coverage of Manipur state. [Here](https://docs.google.com/spreadsheets/d/1rm4zHsGBruOa5QmulJSjnjM1HD2TAZSMo3OugfBl_1U/edit#gid=0&vpid=A1) is the list of National highways passing through Manipur according to [MORTH](http://morth.nic.in/showfile.asp?lid=366).

**Observations**
* Many of the towns in Manipur are not mapped which made it hard to identify

[2015-12-01 07:28] nikhilprabhakar commented on #142
As per the discussion we had with @planemad , we came up with a workflow for mapping the National highways in Manipur. The statistics are updated in the [spreadsheet](https://docs.google.com/spreadsheets/d/1uYmQEyZqP2tMe1cJYJUVcNIhFPCdzETsBh1kaSCZplI/edit#gid=1428679349&vpid=A1)

**Time taken        :**  ~45 mins.
**Team members :** @jothirnadh @abhisheksaikia @nikhilprabhakar

##### Workflow :

-

[2015-12-01 15:07] lxbarth commented on #136
:boom: !!

[2015-12-01 16:25] mikelmaron commented on #136
As someone who has spent a lot of time there, I can say, Mountain View has
never looked better!

On Tue, Dec 1, 2015 at 10:07 AM, Alex Barth <notifications@github.com>
wrote:

[2015-12-02 07:29] jinalfoflia commented on #139
@oini and I did trial runs for mapping `turn-restrictions` using the [Mapillary fork of iD](http://mapillary.github.io/iD/).

#### Obsevartion

Feature | Mapillary plugin for JOSM | Mapillary fork of iD
------- | ------------------------- | --------------------
**Identifying type of Traffic Symbols** | Detects images with traffic signs in them but fails to display the type of traffic sign ![josm_m

[2015-12-02 14:34] pratikyadav commented on #124
User David http://www.openstreetmap.org/user/DavidYJackson responded back

OSM history shows that he made the necessory changes.
http://www.openstreetmap.org/history#map=16/38.8775/-76.9852

Good to close here.

[2015-12-02 14:34] #124 closed

[2015-12-03 09:27] nikhilprabhakar commented on #142
An overview of this whole mapping project has been published as a [OSM diary post](https://www.openstreetmap.org/user/nikhilprabhakar/diary/37448).

cc:/  @jothirnadh @abhisheksaikia @geohacker @planemad @shvrm @maning

[2015-12-03 13:27] srividyacb commented on #141
We have been investigating on the availability of open building datasets for SF peninsula. Here is an overview of the usage terms.

City | Dataset Portal | Dataset Availability | License
------------ | ------------- | ------------- | -------------
Palo Alto | [KML](https://www.google.com/fusiontables/DataSource?docid=1r-wrSG94TjWWCJVB79B6F_BkYK1-ar0SCyq0AkQM#rows:id=1) | OSM coverage is good |
Red

[2015-12-03 16:51] pratikyadav commented on #124
David

@nickidlugash  @mikemorris  can you review the changes plz. I cannot verify without local knowledge. Thanks.

[2015-12-04 01:07] ediyes commented on #135
#### Done!!! @lxbarth
![buildingmp](https://cloud.githubusercontent.com/assets/5991158/11579085/00a0f06c-99f9-11e5-8ba3-144a29ac3480.png)

**Buen trabajo chicos** :+1:

cc @mapbox/team-data

[2015-12-04 06:06] abhisheksaikia commented on #142
As per voice with @geohacker  and @planemad the issue has been published in Talk-In and OSM India Forum.

cc:/ @nikhilprabhakar @jothirnadh @shvrm @maning

[2015-12-04 06:11] maning commented on #135
Awesome!!!

[2015-12-04 09:45] ramyaragupathy commented on #135
Awesome work @mapbox/peru-office!  We ran a review of your edits today.

### Review Process

* In Overpass, download buildings edited by the user in Menlo Park. Open in JOSM.

[code]

* In JOSM, click **Search**, add a new filter `user:username building`.  Add selected buildings in todo list.
* Visually inspect every building at >= z20.
* Fix errors if needed.
* Run JOSM validator for all selected

[2015-12-05 00:19] nickidlugash commented on #126
Per chat with @lxbarth, it looks like DC could use a bit of clean-up, as we're seeing some small fragments of footpaths that should maybe be tagged as sidewalks. E.g.:

![screen shot 2015-12-04 at 7 12 37 pm](https://cloud.githubusercontent.com/assets/5607844/11604502/637fb368-9abb-11e5-841a-7437b631f77c.png)
http://www.openstreetmap.org/edit?pk_campaign=mapbox-edit#map=21/38.88771/-77.01634

and

[2015-12-07 06:10] planemad commented on #126
@tcql we don't have a good way to measure our progress on the sidewalks:
- We currently manually assign areas to team members, but this is not scalable in the long run or coordinate tasks with the community.  If blocks that have been edited are highlighted in a different color it would help skip areas that have been fixed.
- The analysis includes a significant portion of false positives. This make

[2015-12-07 07:40] lxbarth commented on #135
Woah, nice work everyone!

yes please!

[2015-12-07 07:44] jinalfoflia commented on #139
We're wrapped up adding turn restrictions in the [Boston area](http://tasks.openstreetmap.in/project/61). Here are the full statistics:

We have added [28 turn restrictions](http://overpass-turbo.eu/s/d80) and [2 speed limits](http://overpass-turbo.eu/s/cZo)

![screen shot 2015-12-07 at 11 04 15 am](https://cloud.githubusercontent.com/assets/4470913/11619888/d38d3838-9cd2-11e5-9fa2-d17c5b41c814.pn

[2015-12-07 08:06] #135 closed

[2015-12-07 09:34] planemad commented on #126
Proposed sidewalk rendering on [openstreetmap-carto](https://github.com/gravitystorm/openstreetmap-carto/issues/1998)

[2015-12-07 10:59] Andygol commented on #139
Useful to add `tms:http://d2cd86j8eqns9s.cloudfront.net/tiles/{zoom}/{x}/{y}.png` to **imagery** tab for the task
![osm tasking manager - 2015-12-07 16-27-22](https://cloud.githubusercontent.com/assets/369696/11625259/8b953ada-9cff-11e5-92dc-1e3f5e77b0de.png)

[2015-12-07 11:29] Andygol commented on #139
@jinalfoflia
faced with 403 error while downloading mapillary layer :disappointed:
![java openstreetmap editor 2015-12-07 16-54-03](https://cloud.githubusercontent.com/assets/369696/11625756/608a48ea-9d03-11e5-9ebb-78db050798d4.png)

do I need to login into mapillary account?
![preferences 2015-12-07 16-57-54](https://cloud.githubusercontent.com/assets/369696/11625820/cd36f36c-9d03-11e5-9091-0742f

[2015-12-07 11:48] jinalfoflia commented on #139
@Andygol, yes you need to log-in to your Mapillary account (`Preferences -> Display Settings -> Mapillary`).
Also after downloading the data layer, if the imagery is not being displayed, you can Zoom-out and Zoom-in again.

[2015-12-07 14:26] planemad commented on #127
No next actions

[2015-12-07 14:26] #127 closed

[2015-12-08 07:29] jinalfoflia commented on #139
We have decided to put the mapping of turn restrictions using Mapillary Imagery on hold. So as to refine the current workflow.

[2015-12-08 07:44] mikelmaron commented on #142
Side note. Made an map based on India road completion by state
http://bl.ocks.org/mikelmaron/6035c33af4807149334f

* Exported CSV from https://docs.google.com/spreadsheets/d/1uYmQEyZqP2tMe1cJYJUVcNIhFPCdzETsBh1kaSCZplI/edit#gid=1428679349&vpid=A1
* Joined Natural Earth shapefile to CSV in QGIS (had to correct some names in spreadsheet)
* Created a new column with integer representation of complete

[2015-12-08 10:44] ramyaragupathy commented on #136
Here is an overview of the review work for Mountain View buildings.

**Team**: @abhisheksaikia @nikhilprabhakar @jothirnadh @ramyaragupathy

### Quality metrics

* In Overpass, download buildings edited by the user in Moutain view. Open in JOSM.

[code]

* In JOSM, click **Search**, add a new filter `user:username building`.  Add selected buildings in todo list.
* Visually inspect every building a

[2015-12-08 10:48] lxbarth commented on #136
Awesome review post.

@ramyaragupathy do you see a need to go back and review the accuracy of mapping in the cases where Mapbox imagery was used?

@ediyes - in which cases did the team use Mapbox versus Bing imagery?

[2015-12-08 10:58] abhisheksaikia commented on #136
@lxbarth I think in this case we should wait for the satellite team to get back on [the ticket we raised for metadata information in Mapbox imagery](https://github.com/mapbox/satellite/issues/1069).

At present there is no sure way to determine which among Bing and Mapbox has the more updated imagery as Mapbox is missing Metadata information. Until we have this information, we should hold on going

[2015-12-08 11:01] ramyaragupathy commented on #136
:+1:  Also @lxbarth we don't have a log of places that used Mapbox imagery in the task.

[2015-12-08 14:28] ediyes commented on #136
@lxbarth  todos utilizamos el Bing, pero habian edificios ya hechos en algunos lugares y para mejorarlo utilizamos la imagen de Mapbox cuando no existia el Bing.

[2015-12-08 16:48] tcql commented on #126
@planemad It might be possible to use a dataset to store features (selected tiles), like the [Chennai Flood Map](https://github.com/osm-in/flood-map) and then load that dataset on the frontend. I'll look into it.

Yea, I get that this is difficult. We could possibly use a level of variation in the distance from the road along a segment to score it's likelihood to be a sidewalk. [I ticketed this on

[2015-12-09 03:19] planemad commented on #126
@tcql this would be great. The use case to know if someone has looked into a tile is pretty common for similar mapping analysis and tile reduce based tasks that we can run in the future and is well worth the effort.

[2015-12-09 06:25] srividyacb commented on #126
@mapbox/india-office

Here is the top cities which we need to hit for sidewalks. Assign a city from top for yourself and clean it. Work in pair if its a big city.

https://textb.org/t/Sidewalk/.

[2015-12-09 06:50] nickidlugash commented on #126
So excited to see this continued work on sidewalks! I'm happy to help do some reviews after clean up, especially for the cities I've lived in (DC, Boston, Philadelphia).

[2015-12-10 05:14] planemad commented on #126
@nickidlugash are you doing the review using the Strava style? It would be nice to have a style specifically to do QA and help visually spot any glaring tagging issues.

Tried this out with [this style](https://api.mapbox.com/styles/v1/planemad/cihyukica00wdbnm3wglrc651.html?title=true&access_token=pk.eyJ1IjoicGxhbmVtYWQiLCJhIjoiemdYSVVLRSJ9.g3lbg_eN0kztmsfIPxa9MQ#15.28/38.8986/-77.0234) to differ

[2015-12-10 08:01] planemad opened #144 "Mapping turn lanes"
**Objective:** Map missing [turn lanes](http://wiki.openstreetmap.org/wiki/Key:turn:lanes) from satellite imagery to estimate mapping effort

Team: @planemad w/ @mapbox/india-office @lxbarth @Rub21 @Andygol @mikelmaron

**Map Features**:
**Focus Area**: Redwood City - Palo Alto [300 sq.km](https://gist.github.com/b4a8f5b78844caf27988)
<img width="482" alt="screenshot 2015-12-10 12 52 40" src="http

[2015-12-10 11:53] planemad commented on #144
Not adding turn lanes in these cases where the only turn lane is already a mapped as a separate way.
<img width="348" alt="screenshot 2015-12-10 17 22 26" src="https://cloud.githubusercontent.com/assets/126868/11714780/9e4a470a-9f62-11e5-83ac-920ac6181842.png">

[2015-12-10 12:05] planemad commented on #144
Road shoulders are not lanes. Both the roads are only 2 lanes wide.
<img width="489" alt="screenshot 2015-12-10 17 35 07" src="https://cloud.githubusercontent.com/assets/126868/11715007/628dd90a-9f64-11e5-9e22-58614d2afbf6.png">

[2015-12-10 13:58] planemad commented on #144
This was the most common scenario I am seeing: A road gets an extra lane for a left turn at an intersection:
![untitled](https://cloud.githubusercontent.com/assets/126868/11717057/df42c28a-9f73-11e5-8d9e-b4bee72eefd3.gif)
Usually its `turn:lanes=left|||` or `turn:lanes=left|through|through|through`. A plugin that easily allows splitting and add common patterns like these will easily help scale the

[2015-12-11 04:40] ramyaragupathy commented on #126
I have been working on sidewalk tagging in Denver city with [this workflow](https://gist.github.com/ramyaragupathy/16609e902ed48cbe61d1). This helps me set a reference and a sense of where the work is happening within a city.

[2015-12-11 08:20] planemad commented on #144
**Updated Workflow**
- Focus only on turnlanes along motorways

[2015-12-11 08:45] planemad opened #145 "Detecting priority areas for mapping turn lanes"
From https://github.com/mapbox/mapping/issues/144 we need a smart way to focus turn lane mapping at  decision points on the road where it is most important:
- High traffic roads
- High speed roads
- Complex intersections
- Roads with high number of lanes

@pratikyadav as a first step can you write a simple overpass query and make a map of important junctions in the Bay Area that we can use? Tags t

[2015-12-11 11:19] pratikyadav commented on #145
![screen shot 2015-12-11 at 4 43 39 pm](https://cloud.githubusercontent.com/assets/12744420/11742497/6d654a9e-a026-11e5-9c08-134f230d0a71.png)

Made a quick [map](https://api.mapbox.com/v4/pratikyadav.0b8d1ee3/page.html?access_token=pk.eyJ1IjoicHJhdGlreWFkYXYiLCJhIjoiMTA2YWUxNjRkNmFmZGQ4YzAxZWFiNDk0NDM1YjE1YjAifQ.4P6N5dNmA_WQXd3BsJvu5w#10/37.4443/-121.9942) to show major intersections in SF bay ar

[2015-12-11 14:00] planemad commented on #145
@pratikyadav this is looking good already.  Minor additions:
- Intersections between motorway_link, trunk_link, primary_link
- motorway and motorway_link vs secondary, tertiary, unclassified
- `highway=motorway_junction`
- Simplify the style: Use color only to differentiate intersections vs `highway=motorway_junction`. Use size to represent importance of road.

[2015-12-11 16:34] planemad commented on #144
**Progress**
- 152 turnlanes were added
<img width="789" alt="screenshot 2015-12-11 22 03 57" src="https://cloud.githubusercontent.com/assets/126868/11749343/23579a10-a053-11e5-8cdf-60e9560db39e.png">
http://overpass-turbo.eu/s/ddR

[2015-12-14 06:57] planemad commented on #144
@srividyacb can you validate the turnlanes by inspecting the [edits on Overpass](http://overpass-turbo.eu/s/ddR)?

[2015-12-14 11:02] pratikyadav commented on #145
@planemad

Taking `motorway` as the top priority, here is the division of intersections-
#### Priority 1 [Motorway] vs [trunk and primary]  size 12x12 pixel

with trunk
- `motorway` vs `trunk`
- `motorway_link` vs `trunk_link`
- `motorway` vs `trunk_link`
- `motorway_link` vs `trunk`

with primary
- `motorway` vs `primary`
- `motorway_link` vs `primary_link`
- `motorway` vs `primary_link`
- `motor

[2015-12-14 11:14] srividyacb commented on #144
@planemad

Validated turn-lanes edits by team in Palo Alto and Redwood City Area. Lane marking looks correct in the `motorway` and some `primary` roads.

- All the `motorway` is having `lanes` and `turn lanes` in the appropriate turning roads.
- Some of the `primary` roads are also tagged with `lanes` and `turn lanes`.

[2015-12-14 11:24] planemad commented on #145
@pratikyadav amazing! A 50m buffer around the points should be enough, can you share what such a buffer looks like?

 We can do a trial run for the existing task with this overlay as a reference to see if this works better.

[2015-12-14 11:42] pratikyadav commented on #145
Task based on `highway=motorway_junctions` for SF bay area @planemad

![screen shot 2015-12-14 at 5 07 19 pm](https://cloud.githubusercontent.com/assets/12744420/11780064/2ad88766-a285-11e5-8ec5-159e0df2d8fc.png)

[2015-12-14 12:30] planemad commented on #145
@pratikyadav looks great for now. Can you visually verify the layer to check if it covers the important junctions.

The important intersection missing in priority 3 is `trunk`vs`trunk` and `primary`vs`primary. Can you ask on IRC on how to extract that using overpass.

[2015-12-14 20:15] planemad commented on #141
**Progress**
<img width="364" alt="screenshot 2015-12-15 01 41 09" src="https://cloud.githubusercontent.com/assets/126868/11792625/0b875fe8-a2cd-11e5-87ef-863f81d5c99f.png">
- [5967 buildings](http://overpass-turbo.eu/s/dgj) added in the last 24 hours by team of 12.

[2015-12-15 06:42] ramyaragupathy commented on #141
Knocked off those blocks those were already covered in #135 and #136. This marks 35% of the task complete!
![screenshot 2015-12-15 12 10 08](https://cloud.githubusercontent.com/assets/12103383/11803855/d51e4248-a324-11e5-8780-abe0fd186b13.png)

[2015-12-16 08:51] pratikyadav commented on #145
@planemad  had a talk about this on IRC. Looks like it is not possible using overpassturbo.
We might need some other tools to get `trunk` vs `trunk`(or `motorway` vs `motorway`) intersections.

[2015-12-17 03:52] lxbarth commented on #144
Done! Nice work. This was a good first run. Let's circle back on this work once we have turn lane support in OSRM.

[2015-12-17 19:25] pratikyadav commented on #141
Use this `building` layer to ensure that all buildings are covered in the blocks without downloading the data.
`tms[99]:https://api.mapbox.com/v4/pratikyadav.332dd523/{zoom}/{x}/{y}.png?access_token=pk.eyJ1IjoicHJhdGlreWFkYXYiLCJhIjoiMTA2YWUxNjRkNmFmZGQ4YzAxZWFiNDk0NDM1YjE1YjAifQ.4P6N5dNmA_WQXd3BsJvu5w`

This will make sure that we are not missing buildings at the corners of the task boundary.

![

[2015-12-21 08:37] jothirnadh commented on #141
![screen shot 2015-12-21 at 2 00 43 pm](https://cloud.githubusercontent.com/assets/8401827/11926472/4cdb3a5a-a7eb-11e5-9926-4b480bb5ead3.png)

The houses in the [above image](http://tasks.openstreetmap.us/project/12#task/131) are transportable or temporary ones, so we are not tracing such kind of buildings/houses.

[2015-12-21 11:04] planemad commented on #145
Lets line up a task that we can jump on once SF buildings are done
- [ ] @pratikyadav draft a project with instructions on US TM

[2015-12-21 12:14] srividyacb commented on #126
OSM Diary post up: https://www.openstreetmap.org/user/srividya_c/diary/37594

No actions here. Closing

[2015-12-21 12:14] #126 closed

[2015-12-21 14:13] maning commented on #128
Done: https://github.com/mapbox/mapping/wiki/Reviewing-your-edits#josm-validator

[2015-12-21 14:13] #128 closed

[2015-12-21 14:15] tcql commented on #126
thanks everybody who ran on this :+1: this is some *seriously awesome work*. It's been awesome watching the stats on this and seeing the massive progress everybody made.

I would love to revisit the tooling in the future and implement [some of the ideas here](https://github.com/mapbox/mapping/issues/126#issuecomment-163092809) to improve this. I also believe we can definitely improve matching and

[2015-12-21 14:20] planemad commented on #133
No immediate actions here

[2015-12-21 14:20] #133 closed

[2015-12-21 20:26] nickidlugash opened #147 "Clean up `picnic_site`?"
Picnic sites should be tagged [`tourism=picnic_site`](http://wiki.openstreetmap.org/wiki/Tag:tourism%3Dpicnic_site). We pull features with this tag into the Streets poi layer.

There are a small number tagged [`amenity=picnic_site`](http://overpass-turbo.eu/s/dn0) and [`leisure=picnic_site`](http://overpass-turbo.eu/s/dn2). Can we look into cleaning these up? I _think_ these should all be `tourism

[2015-12-22 05:53] pratikyadav commented on #147
@nickidlugash
Based on [tourism=picnic_site](http://wiki.openstreetmap.org/wiki/Tag:tourism%3Dpicnic_site), it is incorrect to use `amenity=picnic_site` and `leisure=picnic_site`.

The number is not too high so one member from BLR can hit this easily. @jinalfoflia  will be knocking this out :facepunch: (we can scale up if needed).

Next action-
- [ ] @jinalfoflia  to remove `amenity=picnic_site` a

[2015-12-22 06:16] planemad commented on #147
Before cleaning up, lets announce this on the diary as it will be a mechanized edit that will take just a couple of minutes. If any of the edits were less than a year old, lets also message the user with a link to the diary so that they have a heads up.

[2015-12-22 06:19] jinalfoflia commented on #147
@planemad :+1:  Will write a diary before jumping onto the task.

[2015-12-22 08:17] jinalfoflia commented on #147
I have posted the [diary](http://www.openstreetmap.org/user/jinalfoflia/diary/37601) with the above contents.

/cc @planemad @maning @pratikyadav

[2015-12-22 09:15] naveenpf commented on #142
Telagana and AP has to be separate. Then 171% on AP will be going.

[2015-12-22 09:43] abhisheksaikia commented on #142
@naveenpf  we have used the [MORTH](http://morth.nic.in/showfile.asp?lid=366) data which was updated in 2014. The Telangana data is not present in this source. If you have any updated source with separate statistics for Andhra Pradesh and Telangana, can you please share it here? The [spreadsheet](https://docs.google.com/spreadsheets/d/1uYmQEyZqP2tMe1cJYJUVcNIhFPCdzETsBh1kaSCZplI/edit#gid=0) can th

[2015-12-22 11:00] naveenpf commented on #142
@abhisheksaikia

Below link has latest highways data. In this Telangana is separate.
Very old NH numbers are retained, it is not updated.
Recently notified NHs has only new numbers.

http://morth.nic.in/index2.asp?slid=32&sublinkid=12&lang=1
Last Updated On: 07/08/2015 [as per the website]

Few more highways are notified in September and October 2015.
For that data we to check gazette

August 25,

[2015-12-23 14:59] jinalfoflia commented on #147
Today I worked on cleaning up the tags `amenity=picnic_site` & `leisure=picnic_site` and replaced them with `tourism=picnic_site` tag. Here are the changesets related to the changes made on OSM.

### Changesets for `amenity=picnic_site`

- https://www.openstreetmap.org/changeset/36122000 (South America)
- https://www.openstreetmap.org/changeset/36122166 (North America)
- https://www.openstreetmap.

[2015-12-23 15:43] pratikyadav commented on #147
This is awesome @jinalfoflia
Let's capture these stats on your diary too and close here.

[2015-12-26 02:48] mapconcierge commented on #120
Thanks!! @pratikyadav
I've confirmed!! :-)

![2015-12-26 11 05 09](https://cloud.githubusercontent.com/assets/416977/12004951/99d0dcfa-abc6-11e5-950d-476db316678e.png)

[2015-12-26 02:59] mapconcierge commented on #120
* https://github.com/osmlab/editor-imagery-index/issues/111
* https://github.com/osmlab/editor-imagery-index/pull/117

![2015-12-26 11 57 58](https://cloud.githubusercontent.com/assets/416977/12004966/081dd7ac-abc8-11e5-865f-25179a6f19e0.png)

[2015-12-27 14:55] RobJN commented on #126
Are you marking false positives so they are hidden from the slippy map? Or is it just a case of remembering where you have already looked?

[2015-12-28 09:03] jinalfoflia commented on #147
I have captured the above stats in a [new diary post](https://www.openstreetmap.org/user/jinalfoflia/diary/37655).

No further actions here. Closing it!

/cc @pratikyadav @planemad @nickidlugash @maning

[2015-12-28 09:03] #147 closed

[2015-12-28 09:05] planemad commented on #147
:boom:

[2016-01-04 13:25] ramyaragupathy commented on #141
Now that the tracing and validation is complete for [#12](http://tasks.openstreetmap.us/project/12), we are focusing on project [#14](http://tasks.openstreetmap.us/project/14).

[2016-01-06 16:12] nickidlugash commented on #147
I'm late to the party, but this is awesome, @jinalfoflia! Thank you!

[2016-01-07 21:40] karitotp commented on #141
In the task I was working I found this Apple Campus  that does not match Bing satellite.
What to do in this case?

![screenshot from 2016-01-07 16 35 42](https://cloud.githubusercontent.com/assets/11504548/12183420/bb70c330-b55c-11e5-95bf-5284d18e1b5d.png)

[2016-01-08 00:57] talllguy commented on #141
@karitotp Cool! I believe you've found the Spaceship campus!
![apple_campus_2_rendering](https://cloud.githubusercontent.com/assets/1827881/12187291/a689c766-b578-11e5-9e7f-a52b992129e6.jpg)

It is under construction, so you may want to trace a `landuse=construction` around the whole area.

[More Info](https://en.wikipedia.org/wiki/Apple_Campus#Apple_Campus_2)

[2016-01-08 06:15] pratikyadav opened #148 "[BH Buildings] Tracing buildings in Beverly Hills"
**Objective:** Add missing building footprints in [Beverly Hills and nearby area](http://tasks.openstreetmap.us/project/16)

Adding missing buildings and improving previously added buildings in Beverly Hills based on satellite imagery.

![screen shot 2016-01-08 at 11 10 00 am](https://cloud.githubusercontent.com/assets/12744420/12191316/1b804cfe-b5f9-11e5-8fdf-41c977ffb88e.png)

**Task Area**: 95.

[2016-01-08 09:51] chtnha commented on #148
I and @abhisheksaikia worked on this task and we added approximately 500 buildings in 2 hours.

![screen shot 2016-01-08 at 3 13 52 pm](https://cloud.githubusercontent.com/assets/6770741/12195091/c347cd4c-b61a-11e5-82ef-79477add5948.png)

##### Observations

* The tasks are dense, filled with more detailed residential and Industrial buildings.
* May need to split single task and make them easier t

[2016-01-08 17:46] naveenpf commented on #142
@mikelmaron
Can we update map ?
http://bl.ocks.org/mikelmaron/6035c33af4807149334f

For each state, NHs are given      network=IN:NH:TN [For Tamil Nadu State ]

http://wiki.openstreetmap.org/wiki/National_Highways_%28statewise%29

[2016-01-08 18:19] mikelmaron commented on #142
@naveenpf I'd be happy to guide someone through the steps I outlined above, to update the data for the map

[2016-01-12 06:53] abhisheksaikia commented on #148
The daily stats on the team numbers plus the individual numbers will be updated in this [spreadsheet](https://docs.google.com/spreadsheets/d/1BA5PwffREHx8mGOGFGUQI9i3YvJne2ke6XwGiWv3xQU/edit#gid=1608253442).

[2016-01-13 19:19] jschleuss commented on #148
@pratikyadav Hey guys. We're working on another import. And this other one aims to bring in the data with the building shapes. Other people from Mapbox involved. Could we turn our focus to it instead? I don't want to delete a lot of your work. @maning https://github.com/osmlab/labuildings

[2016-01-14 09:13] abhisheksaikia commented on #148
^ According to the discussion above and per voice w/ @maning , we are putting this task on hold. We will be moving onto the [SF Task-3](http://tasks.openstreetmap.us/project/15).

cc @mapbox/india-office @mapbox/peru-office

[2016-01-15 06:53] abhisheksaikia commented on #141
We are focusing now on project [#15](http://tasks.openstreetmap.us/project/15) in SF building tracing as the [Beverly Hills Task](http://tasks.openstreetmap.us/project/16) is now on hold.

[2016-01-15 13:47] maning commented on #130
Stale.

[2016-01-15 13:47] #130 closed

[2016-01-15 18:50] RichRico commented on #141
I found some imported buildings that not match with Bing or Mapbox satellite imagery. Here are the picture and the changeset.

https://www.openstreetmap.org/way/377379461/history
![img](https://cloud.githubusercontent.com/assets/8484029/12361783/15ecff7c-bb8e-11e5-88d3-2349d982ba40.png)

[2016-01-18 11:02] planemad opened #149 "Retag quadrant routes in Pennsylvania, USA from `ref` -> `ref:penndot`"
**Objective:** Retag the quadrant state routes in Pennsylvania according to the [OSM Wiki guidelines](http://wiki.openstreetmap.org/wiki/Pennsylvania/State_Route_Relations#Four_digit_routes)

Prior Tasks: *none*

<img width="570" alt="screenshot 2016-01-18 16 24 12" src="https://cloud.githubusercontent.com/assets/126868/12389633/f7b07e20-bdff-11e5-8cdb-91e8ccde1772.png">

**Project Area**: Pennsyl

[2016-01-18 13:18] planemad commented on #149
Have created one trial changeset with the above process for 9 routes tagged `ref:Sr ****` https://www.openstreetmap.org/way/10700458

Verified each object for tag changes and results are as expected.

**Next actions**
- @oini publish dairy post on this project inviting process review and feedback
- @planemad to invite feedback from talk-us

[2016-01-18 20:07] Rub21 commented on #141
@planemad @maning @srividyacb : How is @mapbox/india-office  working in places where the buildings are offset? . Which decision are you taking?, we found some places where the buildings are offset and they are created in 2011, 2012  some of them are recently editions.  We are consider realign those buildings, however we need  to be agree  all the data, What  do you think?

[2016-01-18 20:24] Andygol commented on #141
p/chat with @Rub21

in the same area I faced with buildings without offset and buildings that were shifted - so I decide realign all shifted buildings
 some time shape of imported building is mismatched to the real building on the imagery
/cc @mapbox/india-office

[2016-01-18 20:47] ediyes commented on #141
Here https://www.openstreetmap.org/way/240425868/history#map=19/37.47142/-122.25689  I found many buildings are offset that were created two years ago.
![image](https://cloud.githubusercontent.com/assets/5991158/12402372/8b7cb0fc-bdfa-11e5-8b16-bf2a23500e29.png)
What to do?

cc. @Rub21 @Andygol

[2016-01-18 23:15] Andygol commented on #141
@ediyes
I realigned buildings in such case

[2016-01-19 10:54] abhisheksaikia commented on #141
In relation to the comment by @ediyes above, I have noticed significant amount of imports in the Palo Alto area by one certain user: [oldtopos](https://www.openstreetmap.org/user/oldtopos). The link to a changeset containing mass imports in buildings in the area: https://www.openstreetmap.org/changeset/17095207. In most cases there is an offset of the buildings with the Bing imagery as pointed by

[2016-01-19 11:03] abhisheksaikia commented on #141
An invalid coastline boundary is also observed inside residential areas in Palo Alto area. The changeset comment for the incorrect coastline is: https://www.openstreetmap.org/changeset/11034409.

![screen shot 2016-01-19 at 4 31 41 pm](https://cloud.githubusercontent.com/assets/13744156/12416898/398d38a4-beca-11e5-9c54-a44d33cf2420.png)
*Incorrect coastline inside residential area in Palo Alto*

C

[2016-01-19 11:17] planemad commented on #141
@abhisheksaikia
- Comment on the user's changeset to find the source date of the building footprint data. It will help establish wether the imagery or data is outdated
- Comment the the user's changeset with incorrect coastline to ask if any help is needed with the cleanup

Lets give a day for the users to respond, failing which lets have a diary post highlighting the issues and that we will proce

[2016-01-19 11:38] abhisheksaikia commented on #141
@planemad The following actions have been taken on the issues:

Commented on the user's changeset: http://www.openstreetmap.org/changeset/17095207. Until there is a reply let us hold off on realigning buildings in the Palo Alto area.

@maning is looking into the issue and the possibility of reverting the changeset.

cc @mapbox/team-data

[2016-01-19 12:30] maning commented on #141
I investigated this data today. It looks like the `landuse=residential`, `place=neighborhood` was **orthogonalized by mistake**!

![screen shot 2016-01-19 at 17 13 08](https://cloud.githubusercontent.com/assets/353700/12418035/85d9bbb2-bed2-11e5-9a9d-cfe3a3e98b2c.png)

Based on the changeset info, the last editor was [Sarr_Cat](https://www.openstreetmap.org/user/Sarr_Cat), but that is not the full

[2016-01-19 12:34] planemad commented on #141
Nice sleuthing @maning :mag:

Wonder if we could catch this with osmlint? @Rub21

[2016-01-19 13:41] oini commented on #149
Published the diary post http://www.openstreetmap.org/user/oini/diary/37800

cc @planemad

[2016-01-19 14:53] bhousel commented on #149
\o/

[2016-01-20 06:06] abhisheksaikia commented on #141
In case of invalidated blocks in the [SF task-3](http://tasks.openstreetmap.us/project/15), it has been observed that a lot of invalidation was due to alignment issues. As of now, [we are not re aligning the buildings](https://github.com/mapbox/mapping/issues/141#issuecomment-172821032). So, if there are missing buildings in a invalidated block and other issues those can  be corrected please go ah

[2016-01-20 12:33] talllguy commented on #141
I have seen other questionable edits by that Sarr_Cat user. Noted.

[2016-01-20 14:30] Rub21 commented on #144
Peru-team going to start working on this task from today on. http://tasks.openstreetmap.us/project/17

[2016-01-25 14:04] planemad commented on #144
Overpass Query to review turn:lanes http://overpass-turbo.eu/s/dYa